<template>
    <v-flex lg12 xl8>
        <v-container fluid>
            <v-layout justify-start>
                <h2>
                    <v-icon>edit</v-icon>
                    แก้ไขอัลบั้มภาพ
                </h2>
            </v-layout>
            <v-layout justify-center px-5 mt-5>
                <v-flex lg2>
                    <v-subheader>
                        หัวข้อ :
                    </v-subheader>
                </v-flex>
                <v-flex lg10>
                    <v-text-field solo v-model="editForm.name" v-validate="'required'" :error-messages="errors.collect('editForm.name')"
                        data-vv-name="editForm.name"></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout justify-center px-5>
                <v-flex lg2>
                    <v-subheader>
                        คำอธิบาย :
                    </v-subheader>
                </v-flex>
                <v-flex lg10>
                    <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config" v-model="editForm.text"></editor-tiny>
                </v-flex>
            </v-layout>
            <v-layout justify-center px-5 mt-4>
                <v-flex lg2>
                    <v-subheader>
                        อัลบั้มภาพ :
                    </v-subheader>
                </v-flex>
                <v-flex lg10>
                    <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" :useCustomSlot="true">
                        <div class="dropzone-custom-content">
                            <h3 class="dropzone-custom-title">Drag and drop to upload content!</h3>
                            <div class="subtitle">...or click to select a file from your computer</div>
                        </div>
                    </vue-dropzone>
                </v-flex>
            </v-layout>
            <v-layout justify-center px-5 mt-4>
                <v-flex lg2>
                    <v-subheader>
                        สถานะ :
                    </v-subheader>
                </v-flex>
                <v-flex lg10>
                    <v-select :items="[{name:'ไม่เผยแพร่',value:0},{name:'เผยแพร่',value:1}]" solo item-text="name"
                        item-value="value" v-model="editForm.status" v-validate="'required'" :error-messages="errors.collect('editForm.status')"
                        data-vv-name="editForm.status" label="กรุณาเลือกสถานะ"></v-select>
                </v-flex>
            </v-layout>
            <v-layout justify-end>
                <v-btn color="red darken-3" dark @click="ClearForm()">กลับ</v-btn>
                <v-btn color="grey darken-3" dark @click="EditSave()" :loading="loadSave">แก้ไข</v-btn>
            </v-layout>
        </v-container>
    </v-flex>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    import Editor from '@tinymce/tinymce-vue';
    export default {
        name: 'EditGallary',
        $_veeValidate: {
            validator: 'new',
        },
        components: {
            vueDropzone: vue2Dropzone,
            'editor-tiny': Editor
        },
        data() {
            return {
                edit_config: {
                    plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor colorpicker textpattern"
                    ],
                    toolbar: 'forecolor backcolor fontsizeselect | undo redo | styleselect | alignleft aligncenter alignright | bold italic | bullist numlist | link',
                    fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
                    height: "200"
                },
                dropzoneOptions: {
                    url: 'https://httpbin.org/post',
                    thumbnailWidth: 200,
                    thumbnailHeight: 200,
                    maxFilesize: 1,
                    maxFiles: 50,
                    addRemoveLinks: true,
                    headers: {
                        "My-Awesome-Header": "header value"
                    },
                    uploadMultiple: true,
                    autoProcessQueue: false,
                    init() {

                    }
                },
                loadSave: false,
                all: [],
                myVueDropzone: '',
                id: null,
                editForm: {
                    name: null,
                    text: null,
                    status: null,
                    id : null
                }
            }
        },
        created() {
            this.id = this.$route.params.id;
        },
        computed: {
            gallaryById() {
                let store = this.$store.getters.gallaryById(this.id);
                return store;
            },
            gallaryDetailById() {
                let store = this.$store.getters.gallaryDetailById(this.id);
                return store;
            }
        },
        watch: {
            gallaryById(val) {
                this.editForm.name = val.g_name;
                this.editForm.text = val.g_description;
                this.editForm.status = val.g_status;
                this.editForm.id = val.g_id;
            },
            gallaryDetailById(val) {
                for (let i in val) {
                        var file = { size: val[i].gd_size, name: val[i].gd_img, type: "image/png" };
                        var url = "/Gallary/"+val[i].gd_img;
                        this.$refs.myVueDropzone.manuallyAddFile(file, url);
                }
            }
        },
        methods: {
            EditSave() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยัน?',
                            text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                vm.loadSave = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'content-type': 'multipart/form-data'
                                    }
                                }
                                for (let i in vm.$refs.myVueDropzone.dropzone.files) {
                                    let gallary = vm.$refs.myVueDropzone.dropzone.files[i];
                                    if(gallary.dataURL){
                                        fd.append('newGallary[' + i + ']',gallary);
                                    }
                                    else{
                                        fd.append('oldGallary[' + i + ']', JSON.stringify(gallary));
                                    }
                                }
                                fd.append('form', JSON.stringify(vm.editForm));
                                axios.post('EditGallary', fd, config)
                                    .then((res) => {
                                        vm.$swal({
                                            title: 'สำเร็จ',
                                            type: 'success',
                                            text: 'แก้ไขสำเร็จ'
                                        })
                                    })
                                    .catch((err) => {
                                        vm.$swal({
                                            title: 'ล้มเหลว',
                                            type: 'error',
                                            text: err
                                        })
                                    })
                                    .then(() => {
                                        vm.loadSave = false;
                                        vm.$store.dispatch('getAllGallary');
                                        vm.$store.dispatch('getAllGallaryDetail');
                                        vm.ClearForm();
                                    })
                            }
                        });
                    }
                });
            },
            removeAllFiles() {
                this.$refs.dropzone.removeAllFiles();
            },
            async ClearForm() {
                this.loadSave = await false
                let Clear = await this.$validator.errors.clear();
                this.$router.back();
            },
        },
        beforeDestroy() {
            this.id = null;
        }
    }

</script>

<style lang="scss">
    .dz-image {
        width: 100%;
        z-index: 1 !important;
    }

    .v-subheader {
        color: black !important;
    }

    .main_file {
        border: 1px solid #f3f3f3;

        >img {
            display: block;
            max-width: 100%;
            height: auto;
            cursor: pointer;
        }
    }

    .dropzone-custom-title {
        margin-top: 0;
        color: #00b782;
    }

    .subtitle {
        color: #314b5f;
    }

    .dz-progress {
        display: none !important;
    }
</style>
