<template>
    <v-flex lg12 xl8>
        <v-container fluid>
            <v-layout justify-start>
                <h2>
                    <v-icon>add_circle</v-icon>
                    เพิ่มอัลบั้มภาพ
                </h2>
            </v-layout>
            <v-layout justify-center px-5 mt-5>
                <v-flex lg2>
                    <v-subheader>
                        หัวข้อ :
                    </v-subheader>
                </v-flex>
                <v-flex lg10>
                    <v-text-field solo v-model="newForm.name" v-validate="'required'" :error-messages="errors.collect('newForm.name')"
                        data-vv-name="newForm.name"></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout justify-center px-5>
                <v-flex lg2>
                    <v-subheader>
                        คำอธิบาย :
                    </v-subheader>
                </v-flex>
                <v-flex lg10>
                    <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config" v-model="newForm.text"></editor-tiny>
                </v-flex>
            </v-layout>
            <v-layout justify-center px-5 mt-4>
                <v-flex lg2>
                    <v-subheader>
                        อัลบั้มภาพ :
                    </v-subheader>
                </v-flex>
                <v-flex lg10>
                    <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" :useCustomSlot=true>
                        <div class="dropzone-custom-content">
                            <h3 class="dropzone-custom-title">Drag and drop to upload content!</h3>
                            <div class="subtitle">...or click to select a file from your computer</div>
                        </div>
                    </vue-dropzone>
                </v-flex>
            </v-layout>
            <v-layout justify-center px-5 mt-4>
                <v-flex lg2>
                    <v-subheader>
                        สถานะ :
                    </v-subheader>
                </v-flex>
                <v-flex lg10>
                    <v-select :items="[{name:'ไม่เผยแพร่',value:0},{name:'เผยแพร่',value:1}]" solo item-text="name"
                        item-value="value" v-model="newForm.status" v-validate="'required'" :error-messages="errors.collect('newForm.status')"
                        data-vv-name="newForm.status" label="กรุณาเลือกสถานะ"></v-select>
                </v-flex>
            </v-layout>
            <v-layout justify-end>
                <v-btn color="red darken-3" dark @click="ClearForm()">กลับ</v-btn>
                <v-btn color="grey darken-3" dark @click="AddForm()" :loading="loadSave">เพิ่ม</v-btn>
            </v-layout>
        </v-container>
    </v-flex>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    import Editor from '@tinymce/tinymce-vue';
    export default {
        name: 'NewGallary',
        $_veeValidate: {
            validator: 'new',
        },
        components: {
            vueDropzone: vue2Dropzone,
            'editor-tiny': Editor
        },
        data() {
            return {
                edit_config: {
                    plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor colorpicker textpattern"
                    ],
                    toolbar: 'forecolor backcolor fontsizeselect | undo redo | styleselect | alignleft aligncenter alignright | bold italic | bullist numlist | link',
                    fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
                    height: "200"
                },
                dropzoneOptions: {
                    url: 'https://httpbin.org/post',
                    thumbnailWidth: 200,
                    thumbnailHeight: 200,
                    maxFilesize: 1,
                    maxFiles : 50,
                    addRemoveLinks: true,
                    headers: {
                        "My-Awesome-Header": "header value"
                    },
                    uploadMultiple: true,
                    autoProcessQueue: false,
                },
                loadSave: false,
                newForm: {
                    name: null,
                    text: '',
                    status: 1
                }
            }
        },
        methods: {
            AddForm() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยันเพิ่มข่าว?',
                            text: 'ตรวจสอบความถูกต้องของข่าวและกิจกรรมให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                vm.loadSave = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'content-type': 'multipart/form-data'
                                    }
                                }
                                for (let i in vm.$refs.myVueDropzone.dropzone.files) {
                                    let gallary = vm.$refs.myVueDropzone.dropzone.files[i];
                                    fd.append('gallary[' + i + ']', gallary);
                                }
                                fd.append('form', JSON.stringify(vm.newForm));
                                axios.post('AddNewGallary', fd, config)
                                    .then((res) => {
                                        console.log(res.data)
                                        vm.$swal({
                                            title: 'สำเร็จ',
                                            type: 'success',
                                            text: 'เพิ่มข่าวและกิจกรรมสำเร็จ'
                                        })
                                    })
                                    .catch((err) => {
                                        vm.$swal({
                                            title: 'ล้มเหลว',
                                            type: 'error',
                                            text: err
                                        })
                                    })
                                    .then(() => {
                                        vm.loadSave = false;
                                        vm.$store.dispatch('getAllGallary');
                                        vm.$store.dispatch('getAllGallaryDetail');
                                        vm.ClearForm();
                                    })
                            }
                        });
                    }
                });
            },
            removeAllFiles() {
                this.$refs.dropzone.removeAllFiles();
            },
            async ClearForm() {
                this.newForm.name = null;
                this.newForm.text = '';
                this.newForm.status = 1;
                this.loadSave = await false;
                let Clear = await this.$validator.errors.clear();
                this.$router.back();
            },
        }
    }

</script>

<style lang="scss">
    .dz-image {
        width: 100%;
        z-index: 1 !important;
    }
    .v-subheader {
        color: black !important;
    }

    .main_file {
        border: 1px solid #f3f3f3;

        >img {
            display: block;
            max-width: 100%;
            height: auto;
            cursor: pointer;
        }
    }

    .dropzone-custom-title {
        margin-top: 0;
        color: #00b782;
    }

    .subtitle {
        color: #314b5f;
    }

    .dz-progress {
        display: none !important;
    }

</style>
