//shadow
.shadow-board {
    box-shadow: 0px 5px 53px -11px rgba(0, 0, 0, 0.36);
}

.shadow-listBoard {
    box-shadow: -1px 13px 131px -9px rgba(0, 0, 0, 0.17);
}

.shadow-card-contact {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.28);

}

// bg
.bg-white {
    background-color: white;
}

.bg-tabHome {
    background-color: #FAFAFA;
    overflow-x: hidden;
    margin-top: -35px;

}
.bg-tabHomeShadow {
    box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.23);
}
.bg-fa {
    background-color: #FAFAFA;
}

.bg-formLogin {
    height: calc(100vh - 60px);
    margin-top: 60px;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    >.row {
        &:nth-child(1){
            width: 100%;
        }
    }
    .btn {
        outline-color: white !important;
    }
}

// color
.c-red {
    color: $red;
}
.c-yellow {
    color: #CC8600;
}
.c-lightGreen {
    color: $lightGreen;
}

.c-darkGreen {
    color: $darkGreen;
}


// button

.btn {
    font-size: 17px;
    height: 40px;
    font-weight: 300;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0;
    &:hover,
    &:active {
        transition: background-color .19s ease-out;
    }
}

.btn-sm {
    height: 30px;
    font-size: 15px;
    max-width: 90px;
    line-height: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-radius {
    border-radius: 20px;
}

.btn-darkGreen {
    background-color: $darkGreen;
    color: white;
    text-align: center;

    &:hover,
    &:active {
        background-color: darken($darkGreen, 3%);
    }
}

.btn-lightGreen {
    background-color: $lightGreen;
    color: white;
    text-align: center;
    display: flex !important;
    &:hover,
    &:active {
        background-color: darken($lightGreen, 3%);
    }
}

.btn-white {
    background-color: white;
    color: $darkGreen;
    text-align: center;

    &:hover,
    &:active {
        background-color: darken(white, 3%)
    }
}

.btn-home {
    width: 100%;
}



.btn-facebook {
    color: white;
    background-color: #3b5998;

    i {
        color: inherit;
    }

    &:hover,
    &:active {
        background-color: darken(#3b5998, 3%);
    }
}

// wrap button
$wrap-btn-course-detail-padding-y : 8px;

.wrap-btn-course-detail {
    border: 1px solid #f9f9f9;
    border-left-width: 0;
    border-right-width: 0;
    padding-top: $wrap-btn-course-detail-padding-y;
    padding-bottom: $wrap-btn-course-detail-padding-y;

    .btn {
        &:nth-child(1) {
            width: 100%;
            margin-bottom: 8px;
        }

        &:nth-last-child(1) {
            width: 100%;
        }
    }
}

// container
.container-boardHome {
    //max-width: 1160px !important;
}

// title
.wrap-title-Imenu {
    padding: 25px 0;
    margin-top: 10px;
}

.title-Imenu {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    &:before {
        content: '\f0ca';
        color: $lightGreen;
        display: block;
        margin-right: 18px;
    }
}

.title-contact {
    font-size: 33px;
    text-align: center;
    font-weight: 500;
    color: $darkGreen;
    margin: 25px 0;
}

.title-green {
    font-size: 24px;
    font-weight: 500;
    color: $darkGreen;
}

.title-help {
    color: $darkGreen;
    border-bottom: 2px solid $lightGreen;
    padding-bottom: 22px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 1;
}

.title-news-detail {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

.title-login {
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}

.title-profile {
    color: $darkGreen;
    margin: 25px 0;
}




// link a tag
a.see-all {
    position: relative;
    color: $darkGreen;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 16px;

    &:after {
        content: '\f101';
        color: inherit;
        margin-left: 5px;
    }

    &:hover,
    &:active {
        color: darken($darkGreen, 8%);

        &:after {
            color: darken($darkGreen, 8%);
            transform: translateX(3px);
            transition: transform .3s ease-out;

        }
    }
}




// list
.wrap-board {
    position: relative;
    padding-top: 50px;
}

.listBoard {
    display: inline-flex;
    text-transform: uppercase;
    background-color: white;
    transform: translateY(-50%);
    width: 100%;
    max-width: 550px;
}

.listBoard-absolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.listBoard_item {
    border-bottom: 5px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative;
    background-color: white;
    cursor: pointer;
    flex: 1 1 auto;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 20px;
        background-color: #E3E3E3;
        transform: translateY(-50%);
    }

    &:nth-last-child(1) {
        &:before {
            display: none;
        }
    }

    &.active {
        border-color: $lightGreen;
        pointer-events: none;
    }

    &:hover {
        background-color: #f9f9f9;
    }
}

.course-detail-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    background-color: #F1EFAA;
    margin: 30px 0;

    li {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 15px 20px;
        line-height: 1;
        border-bottom: 2px solid #D8C389;
        flex: 1 1 auto;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
            height: 15px;
            background-color: black;
            transform: translateY(-50%);
            display: none;
        }
    }

    p,
    strong {
        white-space: nowrap;
    }

    p {
        margin-left: 5px;
    }

    .price {
        font-weight: 500;
        color: $red;
    }

    .status {
        font-weight: 500;

        &[data-status="open"] {
            color: $darkGreen;
        }

        &[data-status="close"] {
            color: $red;
        }
        &[data-status="warning"] {
            color: #CC8600;
        }
    }
}

.number-list {
    list-style-type: decimal;
}

.course-detail-number-list {
    margin-left: 20px;
}


// table
.table-board {
    text-align: left;
    min-width: 1200px;
    background-color: white;
    margin: 7.5px 0 0;
    padding: 10px;
    a {
        font-weight: 400;
    }

    .c-red,
    .c-black {
        cursor: default;
        pointer-events: none;
    }
}

.table-boardHeader {
    display: flex;

    >* {
        flex: 1;
        padding: 0 8px;

        &:nth-child(1) {
            flex: 1.5;
        }
    }

    h6 {
        font-weight: 500;
        font-size: 14px;
    }

}

.table-boardBody {
    &[data-load='true'] {
        position: relative;
        z-index: 2;
        user-select: none;
        cursor: default;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            //background-color: rgba($darkGreen, .9);
            background: linear-gradient(-45deg, $darkGreen, darken($darkGreen, 9%));
            background-size: 200% 200%;
            animation: Gradient 1.5s ease infinite;
            opacity: .85;
        }
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


.table-boardBody-row {
    display: flex;
    align-items: center;
    padding: 7.5px 0;

    >* {
        flex: 1;
        padding: 0 4px;

        &:nth-child(1) {
            flex: 1.5;
        }
    }

    &:nth-child(even) {
        background-color: rgba($darkGreen, .15);
    }

    p {
        font-size: 14px;
    }

}

// thumnail

// thumnail Land
.thumnail-landBorder {
    padding: 50px 0;

    .thumnail-land {
        &:nth-last-child(1) {
            padding-bottom: 0;
            margin-bottom: 0;
            border-color: transparent;
        }
    }
    .btn {
        height: auto !important;
        white-space: nowrap;
        padding: 5px 15px;
    }
}

.thumnail-land {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #f9f9f9;
    margin-bottom: 30px;
    padding: 0 19px 30px;
    overflow: hidden;

    .title {
        font-size: 20px;
    }

    .date {
        color: $lightGreen;
        margin: 10px 0 15px;
        line-height: 1;
    }

    .wrap-btn {
        width: 100%;
    }

    .btn {
        flex: 1;

        &:nth-of-type(1) {
            margin-bottom: 7px;
        }
    }

    .thumnail-land_img {
        margin: 0 auto;
    }
}

.thumnail-vertical {
    overflow: hidden;
    margin-bottom: 16px;
    figure {
        position: relative;

        &:before {
            content: '\f002';
            font-family: "Font Awesome 5 Pro";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($lightGreen, .5);
            color: white;
            display: none;
            justify-content: center;
            align-items: center;
            font-size: 40px;
        }
    }

    .title {
        margin-top: 10px;
        font-size: 19px;
        line-height: 1.2;
        margin-bottom: 16px;
        font-weight: 500;
    }

    .des {
        line-height: 1.3;
    }

    .date {
        margin-top: 10px;
        color: $lightGreen;
    }

    .btn-darkGreen {
        margin-top: 15px;
    }

    &:hover,
    &:active {
        figure {
            &:before {
                display: flex;
            }
        }
    }
}

.thumnail-vertical_body {
    padding: 0 15px;
}

.thumnail-vertical--gallery {
    figure {
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            content: "[ "attr(data-number) " Photo ]" !important;
            font-size: 33px;
            font-family: 'Prompt';
            font-weight: 400;
        }
    }
    img {
        display: block;
    }
}

// slider
.slider-home {
    position: relative;
}

.sliderHome_item {
    height: 400px;
    display: flex;
    align-items: center;
    background-color: $darkGreen;
    background-size: cover;
    color: white;
    font-weight: 400;

    * {
        font-weight: inherit;
    }

    .btn {
        &:nth-last-child(1) {
            margin-top: 8px;
        }
    }
}

.wrap-title-sliderHome {
    text-align: center;
    margin-bottom: 10px;

    .title-home {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        &:before {
            content: '';
            display: inline-block;
            width: 50px;
            height: 1px;
            background-color: white;
            margin-right: 8px;
        }
    }

    .title {
        font-size: 45px;
    }
}

// dots slider
.wrap-dotsHome {
    position: absolute;
    right: 50%;
    bottom: 40px;
    transform: translateX(50%);
}

.homeDots {
    display: flex;

    li {
        &:not(:nth-last-child(1)) {
            button {
                margin-right: 3px;
            }
        }

        &.slick-active {
            button {
                background-color: $lightGreen !important;
            }
        }
    }

    button {
        font-size: 0;
        border: none;
        padding: 0;
        width: 8px;
        height: 8px;
        display: block;
        border-radius: 50%;
        background-color: #f9f9f9;
        outline-color: transparent;
    }
}

// sidebar menu
.wrap-sidebar {
    .title {
        color: white;
        background-color: #AC8D39;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-size: 19px;
        font-weight: 500;
    }
}

.sidebar-menu {
    background-color: #F7F7F7;
    margin-top: 15px;

    >li {
        background-color: #F7F7F7;

        &.active {
            &>.sidebar-subMenu {
                display: block;
            }
        }

        >a {

            &:hover,
            &:active {
                background-color: darken(#F7F7F7, 4%);
            }
        }
    }

    a {
        padding: 10.5px 15px;
    }
}

.sidebar-subMenu {
    background-color: white;
    display: none;
    padding: 0 30px;

    a {
        position: relative;

        &:before {
            content: '-';
            display: inline-block;
            margin-right: 5px;
        }

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
}

// form
.bg-form {
    margin-bottom: -3.55rem;
    padding-bottom: 3.55rem;
}

.form-contact {
    display: flex;
    flex-direction: column;

    input,
    textarea {
        padding: 10px 10px;
        border: 0;
        border: 1px solid $lightGreen;
        font-size: 16px;
        font-weight: 400;

        &::placeholder {
            color: $darkGreen;
            font-weight: 400;
        }

        &:focus {
            outline-color: $lightGreen;
        }
    }

    input {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
    }

    button {
        &[type="submit"] {
            width: 100%;
        }
    }

    textarea {
        height: 150px;
    }

    >* {
        &:not(:nth-last-child(1)) {
            margin-bottom: 15px;
        }
    }
}


.form-logIn {
    display: block;
    background-color: white;
    .wrap-input {
        display: flex;
        flex-direction: column;
        border: 1px solid $lightGreen;
        border-bottom: 0;

        &:nth-last-child(1) {
            border-bottom: 1px solid $lightGreen;
        }
    }

    label {
        font-size: 14px;
        color: #333;
        margin: 5px 0;
        padding: 0 15px;
    }

    input {
        height: 40px;
        line-height: 40px;
        border: 0;
        padding: 0 30px;
        font-weight: 700;
    }
}

.form-logIn-shadow {
    box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.12);
}

.form-logIn-link {
    .btn {
        width: 100%;
        
    }
}
.form-register-link {
    margin-top: 14px;
    .btn {
        margin-bottom: 7.5px;
    }
}
// select

select.custom {
    background-color: white;
    border: none;
    height: 30px;
    line-height: 30px;
    border: 1px solid #f9f9f9;
    outline-color: $lightGreen;
    padding: 0 15px;
    border: 1px solid #d9d9d9;
    min-width: 120px;
    font-size: 16px;

    option {
        padding: 15px 0;
    }
}

.toggle-table {
    display: none;

    &.active {
        display: block;
    }
}

.wrap-select-table {
    padding: 0 15px;
}

.select-table {
    margin-right: 20px;

    select.custom {
        height: 40px;
        border-radius: 25px;
    }
}

// tab

// tab home
$homeTab-bg: #46311B,
#A25627,
#AC8D39,
#DBC484;
.bg-tabHomeShadow {
    width: 100%;
    box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.23);
}
.homeTab {
    display: flex;
    min-width: 720px;
    box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.23);
    background-color: white;
    margin-bottom: 30px;
    position: relative;
}

.homeTab_item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #333;
    padding: 20px 0;
    font-size: 17px;
    cursor: pointer;
    border-bottom: 5px solid white;
    font-weight: 600;
    background-color: white;
    &.active {
        pointer-events: none;
        border-color: $lightGreen;
    }
}

.wrap-homeTab-content {
    display: none;
    padding: 0;
    border-bottom: 5px solid $lightGreen;
    box-shadow: 0px 5px 53px -11px rgba(0, 0, 0, 0.36);
    &.active {
        display: block;
    }
}


// tab home mini
.wrap-tabHome-miniScroll {
    overflow: auto;

    &+a {
        margin-top: 15px;
    }
}

.wrap-tabHome-mini {
    display: flex;

}

.tabHome-mini {
    min-width: 160px;
    flex: 1;
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    padding: 0 18px;

    &:not(:nth-last-child(1)) {
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
            height: 20px;
            background-color: black;
            display: block;
            transform: translateY(-50%);
        }
    }

    &.active {
        border-color: $lightGreen;
        font-weight: 500;
    }

    &:hover {
        font-weight: 500;
    }
}

.tabHome-content-mini {
    display: none;

    &.active {
        display: block;
    }
}


// page


// home
.welcome {
    position: relative;
}

// contact
.wrap-social-contact {
    margin: 15px 0;
}

.social-contact {
    border-left: 1px solid #E2E2E2;
    margin-left: 15px;

    a {
        color: $darkGreen;
        font-size: 20px;

        &:nth-child(1) {
            margin-right: 20px;
        }

        &:hover,
        &:active {
            color: $lightGreen;
        }
    }
}

.wrap-card-contact {
    padding: 70px 0;
}

.card-contact {
    padding: 50px 15px;
    margin: 0 15px;
    background-color: white;

    &.fade {
        background-color: rgba(white, .15);
    }

    .title {
        font-size: 18px;
    }

    .sub-title {
        font-size: 14px;
    }

    a {
        display: inline-block;

        &:hover,
        &:active {
            font-weight: 700;
        }
    }

    .w-170 {
        min-width: 170px;
    }

}

// course detail
.course-detail-title {
    .title {
        font-size: 24px;
        font-weight: 500;
    }

    .btn {
        width: 100%;
    }
}


.course-detail-des {
    color: #848484;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

// faq
.wrap-box-faq {
    border: 1px solid $lightGreen;
    border-bottom-width: 0;
}

.box-faq {
    display: block;
    border-bottom: 1px solid $lightGreen;

    .des {
        display: none;
    }

    &.active {
        .wrap-title-box-faq {
            background-color: $lightGreen;
            color: white;
            cursor: default;
            pointer-events: none;
            transition: background-color .15s ease-out;

            .icon {
                transform: rotate(180deg);
                transition: transform .15s ease-out;
                color: white;
            }
        }

        .des {
            display: block;
            background-color: #F7F7F7;
            padding: 15px 20px;
        }
    }

}

.wrap-title-box-faq {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 7.5px 15px;
    font-weight: 400;

    >* {
        color: inherit;
        font-weight: inherit;
    }

    .title {
        font-size: 18px;
    }

    .icon {
        font-size: 20px;
        color: $lightGreen;
    }

    &:hover {
        background-color: rgba($lightGreen, .4);
    }
}




// link share
$share-w-color: white;
$share-f-color: #3b5998;
$share-t-color: #1da1f2;
$share-g-color: #db4437;

.share-menu {
    display: flex;
    background-color: white;

    >a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #f9f9f9;
    }

    .share-w {
        background-color: $share-w-color;
        color: $darkGreen;

        &:hover,
        &:active {
            background-color: darken($share-w-color, 4%);
        }
    }

    .share-f {
        background-color: $share-f-color;

        &:hover,
        &:active {
            background-color: darken($share-f-color, 4%);
        }
    }

    .share-t {
        background-color: $share-t-color;

        &:hover,
        &:active {
            background-color: darken($share-t-color, 4%);
        }
    }

    .share-g {
        background-color: $share-g-color;

        &:hover,
        &:active {
            background-color: darken($share-g-color, 4%);
        }
    }
}

.share-mobile {
    margin: 10px 0 30px;

    >a {
        flex: 1;
    }

    .share-w {
        border: 1px solid $lightGreen;
        border-right-width: 0;
    }
}


.share-destop {
    border: 1px solid $lightGreen;
    flex-direction: column;
    padding: 15px 10px;
    position: absolute;
    top: 0;
    right: -10px;
    transform: translateX(100%);
    box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.1);

    >a {
        border-radius: 50%;

        &:not(:nth-last-child(1)) {
            margin-bottom: 7.5px;
        }
    }
}


// grid gallery
.grid-gallery {
    display: block;
    margin: 0 auto;
}

.grid-gallery-item {
    margin-bottom: 10px;
}

// login {
.text-login {
    margin-top: 15px;
    font-size: 18px;
    border-left: 2px solid white;
    padding-left: 20px;
    color: white;
    p {
        color: inherit;
        &:nth-child(1){
            font-weight: 500;
            font-size: 17px;
        }
        &:nth-last-child(1){
            font-weight: 400;
            font-size: 15px;
        }
    }
}




// link
.link-forget {
    margin: 7.5px 0;
    text-decoration: underline;
}

.wrap-group-button {
    .btn {
        margin-bottom: 7.5px;
    }

}


// basket
.wrap-borderLightGreen {
    border: 1px solid $lightGreen;
    padding: 20px 15px;

    .title {
        color: $darkGreen;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}

.basket-list {
    li {
        color: white;
        padding: 0 7.5px 25px;
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 25px;

        &:nth-last-child(1) {
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 0;
        }

    }



}

.basket-list-card {
    display: flex;
    flex-direction: column;

    >* {
        order: 2;

        &:nth-last-child(1) {
            order: 1;
            display: flex;
            justify-content: flex-end;
        }
    }
}

.basket-list-img {
    img {
        margin: 0 auto;
    }
}

.basket-list-text {
    margin-bottom: 5px;

    .title {
        color: #333;
        margin: 7.5px 0;
        font-size: 16px;
        line-height: 1.3;
        min-height: 45px;
    }
}

.basket-list-icon {
    margin-bottom: 20px;
    color: #d9d9d9;
    font-size: 25px;

    i {
        cursor: pointer;
        align-self: flex-start;

        &:hover {
            color: #333;
        }
    }
}


// payment-card
$padding-payment-text: 0 15px;

.payment-card {
    margin-top: 20px;
    border: 1px solid $lightGreen;

    .title {
        background-color: $lightGreen;
        color: white;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $padding-payment-text;

        .update {
            font-size: 14px;
            border: 1px solid white;
            border-radius: 25px;
            padding: 8px 15px;
            cursor: pointer;
            line-height: 1;

            &:hover {
                background-color: white;
                color: $lightGreen;
            }
        }
    }

    .icon-sell {
        position: relative;
        display: flex;
        align-items: center;
        color: $darkGreen;

        &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url("/img/icon-cutprice.png");
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 5px;
        }
    }

    .wrap-cutprice {
        margin-top: 15px;
    }
}

.payment-card-body {
    padding: $padding-payment-text;
    margin: 15px 0;
}

.payment-card-footer {
    border-top: 1px solid $lightGreen;
    height: 50px;
    display: flex;
    align-items: center;
    padding: $padding-payment-text;
    font-weight: 500;
}

.wrap-coupon-code {
    padding: 15px 0 0;
    margin-top: 15px;
    border-top: 1px solid #d9d9d9;
}

.coupon-code {
    position: relative;

    input {
        border: 0;
        border: 1px solid #d9d9d9;
        height: 40px;
        border-radius: 25px;
        width: 100%;
        padding: 0 20px;
        padding-right: 50px;
        width: calc(100% - 50px);
        font-size: 17px;
        outline-color: transparent !important;
        outline-width: 0;

        &:focus {
            border-color: $darkGreen;
        }
    }

    button {
        border: none;
        background-color: $darkGreen;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100px;
        border-radius: 25px;
        font-size: 18px;
        cursor: pointer;

        &:hover,
        &:active {
            background-color: darken($darkGreen, 3%);
        }
    }
}


.wrap-btn-order {
    margin-top: 15px;

    .btn {
        width: 100%;
        text-decoration: none;
        color: white!important;
        
        &:nth-child(1) {
            margin-bottom: 7.5px;
        }
    }
}



.form-dataUser {

    input,
    select {
        border: 0;
        border: 1px solid #d9d9d9;
        width: 100%;
        height: 40px;
        line-height: 40px;
        outline-color: $darkGreen;
        margin-bottom: 7.5px;
        background-color: white;
        padding: 0 15px;
        font-size: 16px;
        color: #333;
        border-radius: 0 !important;
        //-webkit-appearance: none;
    }
    input {
        &[type="checkbox"],
        &[type="radio"]{
            width: 20px;
            height: 20px;
        }
    }
   
    .err_valid{
        color: red;
    }
    .wrap-radio {
        margin-bottom: 7.5px;
        display: flex;
        align-items: center;
        label {
            cursor: pointer;
            font-size: 15px;
        }
        input {
            width: 20px;
            height: 20px;
        }
    }
    .mini-title {
        color: #016665;
        font-weight: 500;
        margin-bottom: 7.5px;
        font-size: 16px;
    }
    .wrap-check {
        label {
            cursor: pointer;
        }
    }
}

.wrap-howPayment-toggle {
    display: flex;
}

.howPayment-toggle {
    background-color: #f9f9f9;
    border: 1px solid #d9d9d9;
    border-bottom-width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 100px;
    padding: 0 15px;
    text-align: center;
    border-color: transparent;
    cursor: pointer;

    i {
        color: $lightGreen;
        font-size: 30px;
    }

    p {
        line-height: 1.2;
    }

    &.active {
        background-color: white;
        border-color: #d9d9d9;
        pointer-events: none;
    }

    &:nth-child(1),&:nth-child(2) {
        margin-right: 15px;
    }
    .kbanklogo{
        width: 35px;
        height: auto;
    }
    > p {
        margin-top:10px;
    }
}

.howPayment-body-toggle {
    display: none;

    &.active {
        display: block;
    }
}

.howPayment-body {
    border: 1px solid #d9d9d9;
    padding: 15px 7.5px;

    a {
        color: $darkGreen;
        text-decoration: underline;
        font-weight: 500;
        display: inline-block;
        margin: 0 3px;

        &:hover,
        &:active {
            color: darken($darkGreen, 3%);
        }
    }

}

.form-credit {
    input {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border: 0;
        border: 1px solid #d9d9d9;
        margin-bottom: 7.5px;
        padding: 0 15px;
        font-size: 16px;

        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
}



.wrap-profile {
    border: 1px solid $lightGreen;
    padding: 20px 15px;
}

.profile-history {
    border: 1px solid #d9d9d9;
    border-bottom-width: 0;

    .basket-list {
        display: none;

        &.active {
            display: block;
            background-color: #f9f9f9;
        }
    }
}

.profile-history-list {
    padding-left: 15px;
    border-bottom: 1px solid #d9d9d9;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
        background-color: #f9f9f9;
    }

    &.active {
        background-color: #f9f9f9;

        .profile-history-toggle {
            i {
                transform: rotate(180deg);
            }
        }
    }
}

.profile-history-toggle {
    border-left: 1px solid #d9d9d9;
    color: $lightGreen;
    flex-basis: 40px;
    display: flex;
    justify-content: center;
}

.address-box {
    border: 1px solid $lightGreen;
    margin: 20px 0 0;
    padding: 15px;
    font-size: 15px;

    * {
        font-size: inherit;
    }
}



.paginate-list {
    width: 159px;
    margin: 0 auto;
    text-align: left;

    li {
        display: block;

        &:before {
            content: '⚬ ';
            font-weight: bold;
            color: slategray;
        }
    }
}


.paginate-links {
    border: 1px solid $lightGreen;
    border-right-width: 0;
    display: inline-flex;
    align-items: center;
    height: 40px;
    li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 40px;
        border-right: 1px solid $lightGreen;
        &.active {
            background-color: $lightGreen;
            color: white;
            a {
                color: inherit !important;
                font-weight: 600;
            }
        }
        &.disabled {
            display: none;
        }
        a {
            width: 100%;
            height: 100%;
            color: $lightGreen;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:hover,&:active {
                background-color: rgba($lightGreen,.15);
            }
        }
    }
}
.paginate-links.items {
    user-select: none;

    li.active a {
        font-weight: bold;
    }

    li.next:before {
        content: ' | ';
        margin-right: 13px;
        color: #ddd;
    }

    li.disabled a {
        color: #ccc;
        cursor: no-drop;
    }
}




// transition router vue
.fade-enter-active,
.fade-leave-active {
  transition: transform .15s ease, opacity .3s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
    transform: translateY(-1%);
}




.graphic {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }




  .wrap-input-search {
      font-size: 20px;
      position: relative;
      input {
          font-size: 20px;
          height: 40px;
          padding: 0 15px;
          padding-right: 45px;
          width: 100%;
          border: 0;
          border: 1px solid #7a7a7a;
          outline-color: white;
          &::placeholder {
              font-size: 20px;
              
          }
          &:hover,&:active {
              border-color: $darkGreen;
          }
      }
      .icon {
          position: absolute;
          top: 0;
          right: 0;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background-color: $darkGreen;
          border: 1px solid #7a7a7a;
          color: white;

      }
  }

  .list-search {
      width: 100%;
      border: 1px solid #f9f9f9;
      background-color: white;
      box-shadow: 2px 10px 25px -5px rgba(black, .17);
      max-height: 700px;
      overflow-y: auto;
      margin-bottom: 25px;
      li {
          padding: 15px;
          cursor: pointer;
          &:not(:nth-last-child(1)){
              border-bottom: 1px solid #f9f9f9;
          }
          &:hover,&:active {
              background-color: #f9f9f9;
          }
          &.not-foud {
              pointer-events: none;
          }
      }
  }


  .map-g {
      margin-top: 60px;
  }
