.mm-menu {
    background-color: white;
}

.mm-menu .mm-navbar a, .mm-menu .mm-navbar>* {
    color: $darkGreen;
}
.mm-navbars_bottom i {
    font-size: 17px;
}
.mm-listitem{
    margin-left: -20px;
    padding-left: 20px;
}