.main-footer {
    background-color: #A9B42F;
    color: white;
    padding: 2.35rem 0;
    margin-top: 3rem;
    display: none;
    a {
        color: darken(white, 8%);
        font-weight: 200;
        font-size: 1rem;
        &:hover,&:active {
            display: block;
            color: white;
            transition: color .2s ease-out;
        }
    }
}
.footer-full-name {
    font-weight: 400;
    .title {
        font-size: 24px;
        font-weight: inherit;
    }
    .des {
        font-size: 18px;
        font-weight: inherit;
    }
}
.footer-title {
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: .15rem;
}
.footer-social {
    margin-top: 1rem;
    >*{
        &:not(:nth-last-child(1)){
            margin-right: .75rem;
        }   
    }
}
.wrap-col-footer {
    display: flex;
    flex-wrap: wrap;
}
.col-footer {
    width: 100%;
    text-align: center;
    margin-bottom: .65rem;
}
.logo-footer {
    margin-bottom: .75rem;
    img {
        max-width: 65px;
    }
}