#bar-mobile {
    display: flex;
    justify-content: space-between;
    z-index: 5;
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 15px;
    box-shadow: 1px 1px 1px 1px rgba(black, .1);
    >a {
        color: white;
        display: inline-block;
        line-height: 1;
        >i {
            font-size: 1.25rem;
            color: #0C9416;
        }
    }
    >figure {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: center;
        .logo-green {
            margin: 0 !important;
            img {
                max-width: 30px;
            }
            .title {
                font-size: .75rem;
                margin-top: .25rem;
            }
        }
    }
    .fa-shopping-cart {
        color: $darkGreen;
    }
}

.main-menuDestop {
    display: none;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 5;
    box-shadow: 1px 1px 1px 1px rgba(black, .15);
    border-top: 2.5px solid $lightGreen;
}
.main-menu {
    display: flex;
    flex: 1;
    height: 100%;
    >li {
        position: relative;
        >a {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 1rem;
            color: $darkGreen;
            position: relative;
            height: 100%;
            padding: 0 7.5px;
            cursor: pointer;
        }
       
        &:hover {
           >a {
                color: $lightGreen;
                &+.main-menu-sub {
                    display: block;
                }
           }
        }
    }
}
.main-menu-sub {
    background: white;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    z-index: 9;
    display: none;
    min-width: 220px;
    box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.12);

    a {
        padding: 7.5px;
        margin: 0 10px;
        border-bottom: 1px solid #e2e2e2;
        cursor: pointer;    
        &:hover,&:active {
            color: $lightGreen;
        }
    }
}

.logo-u {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7.5px 0;
    img {
        max-width: 55px;
    }
    >h6 {
        margin: 0;
        line-height: 1;
        color: #006665;
        font-size: .85rem;
        &.title {
            font-weight: 200;
            margin-top: .25rem;
        }
        &.des {
            font-weight: bold;
        }
    }
}
.logo-green {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
        max-width: 50px;
    }
    >h6 {
        line-height: 1;
        color: #006665;
        font-size: .95rem;
        &.title {
            font-weight: bold;
            margin-top: 5px;
        }
    }
}
.logo-green-top {
    margin-left: 1.55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#link-cart {
    color: $lightGreen;
    &:hover,&:active {
        color: darken($lightGreen, 5%);
    }
    i {
        min-width: 22px;
        min-height: 22px;
    }
}
#main-cart {
    position: relative;
    font-size: 20px;
    cursor: pointer;
    color: inherit;
    &:after {
        content: attr(data-number);
        position: absolute;
        top: 0;
        right: 0;
        background-color: $red;
        color: white;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        transform: translate(50%,-50%);
        border-radius: 50%;
    }
}


//breadcrumb 
.breadcrumb {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #f9f9f9;
    font-size: 12px;
    margin-bottom: 40px;
    a {
        color: $darkGreen;
        cursor: pointer;
        &:hover,&:active {
            color: darken($darkGreen, 15%);
        }
        &:after {
            content: '\f105';
            font-family: "Font Awesome 5 Pro";
            display: inline-block;
            margin: 0 10px;
        }
        &:nth-last-child(1){
            color: $lightGreen;
            pointer-events: none;
            &:after {
                display: none;
            }
        }
    }

}

//pagination
.pagination {
    display: flex;
    border: 1px solid $lightGreen;
    border-right-width: 0;
    margin: 15px 0;
    >a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $lightGreen;
        color: $lightGreen;
        &:hover,&:active {
            background-color: lighten($lightGreen, 15%);
            color: white;
        }
        &.active {
            color: white;
            background-color: $lightGreen;
        }
    }
}


//banner
.banner {
    height: 250px;
    background-color: $darkGreen;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-weight: 400;
    .title {
        font-size: 38px;
        font-weight: inherit;
    }
    .sub-title {
        font-size: 22px;
        font-weight: inherit;
    }
}

.banner-about {
    background-image: url("/img/Banner/Banner-About.png"); 
    
}
