$paddingForCardHistory: 10px;

@media screen and (min-width: 768px){
    .main-footer {
        padding: 3.25rem 0;
        display: block;
    }
    .wrap-col-footer {
        justify-content: space-between;
    }
    .col-footer {
        width: 25%;
        text-align: left;
        margin: 0 0 1.25rem;
        &:nth-child(1){
            width: 100%;
            text-align: center
        }
    }

    .thumnail-landBorder {
        display: flex;
        flex-wrap: wrap;
    }
    .thumnail-land {
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 15px;
        width: calc(50% - 15px);
        img {
            max-width: 400px;
        }
        .wrap-btn {
            display: flex;
            margin-top: 15px;
        }
        .btn {
            padding: 5px 15px;
            &:nth-of-type(1){
                margin-bottom: 0;
                margin-right: 15px;
            }
        }
    }
    .thumnail-vertical {
        .title {
            min-height: 60px;
        }
        .btn-darkGreen {
            max-width: 150px;
        }
        figure {
            min-height: 200px;
        }
    }
    .thumnail-vertical--gallery  {
        figure {
            min-height: 280px;
        }
    }
    .social-contact {
        margin-left: 30px;
        padding-left: 30px;
        a {
            &:nth-child(1){
                margin-right: 30px;
            }
        }
    }
    .card-contact {
        padding: 50px 35px;
        margin-top: -155px;
    }

    .wrap-btn-course-detail {
        margin-top: 30px;
        .btn {
            &:nth-child(1){
                max-width: 200px;
                margin-right: 18px;
                margin-bottom: 0;
            }
            &:nth-last-child(1){
                max-width: 200px;
            }
        }
    }
    .course-detail-title {
        .btn {
            max-width: 200px;
        }
    }
    .course-detail-list {
        li {
            border-bottom: 0;
            flex: 1 1 auto;
            &:after {
                display: block;
            }
            &:nth-child(1),&:nth-child(2){
                width: 50%;
            }
            &:nth-child(2),&:nth-last-child(1){
                &:after {
                    display: none;
                }
            }
        }
    }
    .course-detail-title {
        .title {
            font-size: 26px;
        }
    }

    .wrap-title-sliderHome {
        text-align: left;
        margin-bottom: 25px;
        .title-home {
            justify-content: start;
        }
    }

    .sliderHome_item {
        .btn {
            max-width: 180px;
            &:nth-last-child(1) {
                margin-top: 0;
                margin-left: 15px;
            }
        }
    }
    .wrap-dotsHome {
        right: 30px;
        transform: translateX(0);
    }
    .breadcrumb {
        font-size: 16px;
    }
    .title-news-detail {
        font-size: 20px;
    }

    .grid-gallery-item {
        margin-bottom: 10px;
        width: calc(33.33% - 10px);
    }

    .wrap-title-Imenu {
        justify-content: flex-start;
    }
    .title-Imenu {
        justify-content: flex-start;
        font-size: 30px;
    }
    .tabHome-mini {
        font-size: 15px;
        min-width: 150px;
    }
    .wrap-tabHome-miniScroll + a {
        margin-top: 0;
    }
    .homeTab_item {
        font-size: 14px;
    }
    .wrap-homeTab-content {
        
        >.space-y {
            padding: 0 35px;
        }
    }

    .bg-formLogin {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 45%;
            height: 100%;
            display: block;
            background-image: url(../img/bg_login.png);
            background-repeat: no-repeat;
            background-position: top right;
            background-size: cover;
            z-index: -1;
            transform: skewX(-5deg) scale(1.25);
        }
    }
    .form-logIn-link {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 14px 0;
        .wrap-group-button {
            width: 100%;
        }
        .btn {
            &:nth-last-child(1){
                margin: 0;
                width: 100%;
            }
        }

    }
    .link-forget {
        margin: 14px 0;
    }
    .wrap-group-button {
        .btn {
            margin-bottom: 14px;
        }
    }
    .form-logIn {
        margin: 0;
    }
    .text-login {
        font-size: 14px;
    }
    .logo-logIn {
        img {
            max-width: 80px;
        }
    }
   
    .basket-list-card {
        flex-direction: row;
        justify-content: space-between;
        >* {
            order: 1 !important;
            margin-right: 7.5px;
            &:nth-last-child(1){
                margin-right: 0;
            }
        }
    }
    .basket-list {
        padding: 20px 0px;
    }
    .basket-list-text {
        flex: 1 1 380px;
        .title {
            margin: 0;
        }
    }

    .wrap-btn-order {
        .btn {
            text-decoration: none;
            color: white!important;
            max-width: 200px;
            &:nth-child(1){
                margin-bottom: 0;
                margin-right: 15px;
            }
        }
    }
    .form-dataUser {
        input,select {
            margin-bottom: 0;
        }
        .wrap-input {
            display: flex;
            margin-bottom: 15px;
            >* {
                &:nth-child(2){
                    margin-left: 15px;
                }
                &:nth-child(3){
                    margin-left: 15px;
                }
            }
        }
    }

    .wrap-borderLightGreen {
        padding: 20px 35px;
    }

    .wrap-howPayment-toggle {
        max-width: 400px;
    }

    .form-contact {
        button {
            &[type="submit"]{
                max-width: 185px;
            }
        }
    }
}

@media screen and (min-width: 992px){
    body {
        padding-top: 73px;
    }
    #bar-mobile {
        display: none;
    }
    .main-menuDestop {
        display: block;
        background-color: white;
        position: fixed;
    }
    #menu {
        display: none;
    }
    .wrap-col-footer {
        justify-content: space-between;
    }
    .col-footer {
        width: auto;
        &:nth-child(1){
            width: auto;
            height: 100%;
        }
    }
    .footer-full-name {
        .des {
            margin-bottom: .75rem;
        }
    }
    .bg-formLogin {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: calc(100vh - 70px);
        margin-top: 0;
        >* {
            flex: 1;
        }
    }
    .main-footer {
        margin-top: 3.55rem;
    }
    .thumnail-vertical {
        .title {
            min-height: 70px;
        }
    }
    .listBoard {
        max-width: auto;
    }
    .listBoard_item {
        min-width: 150px;
    }

    .title-news-detail {
        font-size: 22px;
    }

    .tabHome-mini {
        font-size: 18px;
        min-width: 160px;
    }
    .form-logIn {
        max-width: 400px;

    }
    .wrap-group-button {
        max-width: 400px;
    }

    .payment-card {
        margin-top: 0;
    }
    .text-login {
        font-size: 17px;

    }
    .logo-logIn {
        img {
            max-width: 120px;
        }
    }
    .homeTab_item {
        font-size: 16px;
    }
    .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout{
        transform: translate3d(0,0,0) !important;
    }
    .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout {
        transform: translate3d(0,0,0) !important;
    }
   

}



@media screen and (min-width: 1280px){
    .map-g {
        margin-top: 27px;
    }
    .thumnail-land {
        width: 100%;
        .thumnail-land_img {
            position: relative;
            display: inline-block;
            &:before {
                content: '\f002';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($lightGreen, .6);
                justify-content: center;
                align-items: center;
                font-family: "Font Awesome 5 Pro";
                font-size: 50px;
                color: white;
                display: none;
                cursor: pointer;
            }
            &:hover {
                &:before {
                    display: flex;
                }
            }
        }
        .thumnail-land_body {
            width: calc(50% - 15px);
            margin-left: 15px;

        }
        .wrap-btn {
           max-width: 50%;
           margin: 0;
        }
        .btn {
            margin-bottom: 0;
            max-width: 180px;
        }

    }

    .course-detail-list {
        font-size: 14px;
        li {
            border-bottom: 0;
            flex: 1 1 auto;
            &:after {
                display: block !important;
            }
            &:nth-child(1),&:nth-child(2){
                width: auto;
            }
            &:nth-last-child(1){
                &:after {
                    display: none !important;
                }
            }
        }
    }


    .thumnail-vertical {
        .title {
            min-height: 50px;
        }
    }

    .table-board {
        min-width: 100%;
    }

    .sliderHome_item {
        height: 480px;
    }

}

@media screen and (min-width: 1440px){
    .container {
        max-width: 1280px;
    }
    .table-boardHeader {
        h6 {
            font-size: 15px;
        }
    }

    .sliderHome_item {
        height: 510px;
    }
    .course-detail-list {
        font-size: 16px;
    }
}

@media only screen
and (min-width : 768px)
and (max-width : 1024px)  {
    .logo-u {
        img {
            max-width: 30px;
        }
        .title {
            font-size: .75rem;
        }
        .des {
            font-size: .75rem;
        }
    }
    .logo-green {
        img {
            max-width: 35px;
        }
        .title {
            font-size: .65rem;
        }
    }
    .logo-green-top {
        margin-left: .75rem;
    }
    .main-menu {
        >li {
            margin: 0 2px;
            >a {
                padding: 5px;
                font-size: 14px;
            }
        }
    }

    .thumnail-landBorder {
        .thumnail-land {
            &:nth-last-child(1){
                padding-bottom: 30px;
                margin-bottom: 30px;
                border-color: #f9f9f9;
            }
        }
    }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .thumnail-land {
        .thumnail-land_img {
            &:before {
                display: none !important;
            }
        }
    }
}



@media screen and (min-width: 1400px){
    .main-footer {
        >.container-fluid {
            max-width: 1440px;
        }
    }
    .wrap-col-footer {
        justify-content: space-between;
    }
    .col-footer {
        width: auto;
        margin: 0 .55rem;
        &:nth-child(1){
            width: auto;
            margin-right: 0;
            text-align: left;
        }
        &:nth-child(5){
            margin-left: 0;
        }
    }
    .footer-full-name {
        display: inline-block;
    }

}


@media screen and (max-width: 420px){
    .homeTab_item {
        font-size: 14px;
        padding: 10px 0;
    }
}
