@charset 'UTF-8';

$darkGreen : #016665;
$lightGreen : #A9B42F;

$green : #0C9416;
$red : #FF0000;

html,
body {
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
}
body {
    padding-top: 60px;
}
.a1 {
    color: red;
}
body {
    overflow-x: hidden;
    background-color: white;
}
a {
    color: inherit;
    text-decoration: none;
  
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,figure {
    padding: 0;
    margin: 0;
}
ol,ul {
    list-style: none;
}
input {
    outline-color: $darkGreen;
}
a {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
.reset-img {
    img {
        display: inline-block !important;
    }
}
input,button,select,textarea {
    font-family: 'Prompt', sans-serif;
}
.mx-auto {
    margin: 0 auto;
}
.m-0 {
    margin: 0 !important;
}
.p-0 {
    padding: 0 !important;
}
.iconBefore {
    &::before{
        font-family: "Font Awesome 5 Pro"; 
    }
}
.iconAfter {
    &::after{
        font-family: "Font Awesome 5 Pro"; 
    }
}
.overflow-x {
    overflow-x: auto;
}
.overflow-y-visible {
    overflow-y: visible;
}
.underline {
    text-decoration: underline;
}
.position-relative {
    position: relative;
}

// loader css
#main-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: $darkGreen;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  

// Import tee eiei

@import 'grid/bootstrap-grid.scss';



@import '_head.scss';
@import '_body.scss';
@import '_foot.scss';
@import '_responsive.scss';
@import '_customMmenu.scss'
