<template>
     <section :style="{backgroundImage: 'url(/BannerPicture/' + image + ')'}" class="banner banner-about d-flex align-items-center">
            <div class="container">
                <h2 v-if="title != null" class="title">{{title}}</h2>
                <h3 v-if="subtitle != null" class="sub-title">{{subtitle}}</h3>
            </div>
        </section>
</template>

<script>
export default {
    name: 'Banner',
    props : ['image','title','subtitle']
}
</script>

<style>

</style>
