<template>
    <nav class="breadcrumb">
      
            <div class="container d-flex">
                <router-link tag="a" v-for="(breadcrumb,i) in breadcrumbList" :key="i" 
                 :to="breadcrumb.link" v-html="breadcrumb.name"></router-link>
            </div>
        </nav>
</template>

<script>
export default {
    name: 'breadcrumb',
    data() {
        return {
            breadcrumbList: []
        }
    },
    computed: {
        crumbs: function(){
            let pathArray = this.$route.path;
            return pathArray;
        }
    },
    watch: {
    },
    mounted() {
        const vm = this;
        vm.breadcrumbList = this.$route.meta.breadcrumb;
  
    }
}
</script>

<style>

</style>
