<template>
    <div v-if="active">
        <footer class="main-footer">
            <div class="container-fluid">
                <div class="wrap-col-footer">
                    <div class="col-footer">
                        <div class="footer-full-name">
                            <figure class="logo-footer">
                                <img class="mx-auto" src="/img/logo-white.png" alt="logo">
                            </figure>
                            <h5 class="title">คณะมนุษย์ศาสตร์</h5>
                            <h6 class="des">มหาวิทยาลัยเกษตรศาสตร์</h6>
                        </div>
                        <div>
                            <a href="">
                                เลขที่ 50 ถนนงามวงศ์วาน แขวงลาดยาว
                                <br> เขตจตุจักร กทม 10900
                            </a>
                            <a href="">โทรศัพท์ 0-2579-5566-8</a>
                            <a href="">โทรสาร0-25613485</a>
                        </div>
                    </div>
                    <div class="col-footer">
                        <h6 class="footer-title">เมนูหลัก</h6>
                        <ul>
                            <li>
                                <router-link tag="a" to="/Home">
                                   หน้าแรก
                                </router-link>
                            </li>
                            <li>
                                <router-link tag="a" to="/About">
                                   เกี่ยวกับเรา
                                </router-link>
                            </li>
                            <li>
                                <router-link tag="a" to="/News">
                                   ข่าวสาร/กิจกรรม
                                </router-link>
                            </li>
                            <li>
                                <router-link tag="a" to="/Gallery">
                                   แกลลอรี่
                                </router-link>
                            </li>
                            <li>
                                <router-link tag="a" to="/Contact">
                                   ติดต่อเรา
                                </router-link>
                            </li>
                        </ul>
                    </div>
                    <div class="col-footer">
                        <h6 class="footer-title">หลักสูตรอบรม</h6>
                        <ul>
                            <li v-for="(item,i) in Category" :key="i">
                                <router-link tag="a" :to="{name:'/Course/',params:{id:item.c_id}}">
                                   {{item.c_name}}
                                </router-link>
                            </li>
                        </ul>
                    </div>
                    <div class="col-footer">
                        <h6 class="footer-title">ทดสอบหลักสูตร</h6>
                        <ul>
                            <li>
                                <router-link tag="a" to="/Exam">
                                   KU-EPT
                                </router-link>
                            </li>
                            <li>
                                <router-link tag="a" to="/Exam">
                                   TOEFL ITP
                                </router-link>
                            </li>
                            <li>
                                <router-link tag="a" to="/Exam">
                                   KU-EXITE
                                </router-link>
                            </li>
                        </ul>
                    </div>
                    <div class="col-footer">
                        <h6 class="footer-title">ช่วยเหลือ</h6>
                        <ul>
                            <li>
                                <router-link tag="a" to="/Faq/2">
                                   การสอบ KU-EPT
                                </router-link>
                            </li>
                            <li>
                                <router-link tag="a" to="/Faq/10">
                                   การสอบ TOEFL ITP
                                </router-link>
                            </li>
                            <li>
                                <router-link tag="a" to="/Faq/6">
                                   การสอบ KU-EXITE
                                </router-link>
                            </li>
                            <li>
                                <router-link tag="a" to="/Faq/11">
                                   ปัญหาที่พบได้บ่อย (FAQ)
                                </router-link>
                            </li>
                        </ul>
                        <div class="footer-social d-flex justify-content-center justify-content-md-start">
                            <a href="https://www.facebook.com/Humanities.KasetsartU/">
                                <figure>
                                    <img src="http://www.humanku.human.ku.ac.th/humanku/dist/img/facebook-white.png" alt="">
                                </figure>
                            </a>
                            <a style="margin-right: .75rem" href="https://line.me/R/ti/p/%40human_ku">
                                <figure>
                                    <img src="http://www.humanku.human.ku.ac.th/humanku/dist/img/line-white.png" alt="">
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</template>

<script>
export default {
    data() {
        return {
            active: null
        }
    },
    methods: {
        checkPage:function(val){
            if(val == "/Register" || val == "/Login"){
                this.active = false;
            }else {
                this.active = true;
            }
        }
    },
    computed: {
        path() {
            return this.$route.path
        },
        Category(){
            let store = this.$store.state.moduleProduct.category;
            return store;
        }
    },
    watch: {
        path(val) {
            this.checkPage(val);
        }
    },
    mounted() {
        const page = this.$route.path;
        this.checkPage(page);
    }
}
</script>

<style>

</style>
