<template>
    <div>

        <!-- Bar Menu Mobile -->
        <div id="bar-mobile" class="p-body">
            <a href="#menu"><i class="far fa-bars"></i><span></span></a>
            <figure>
                 <router-link tag="a" to="/Home">
                    <figure class="logo-green logo-green-top">
                        <img class="mx-auto" src="/img/logo-u.png" alt="">
                        <h6 class="title">
                            ศูนย์ทดสอบภาษา
                        </h6>
                </figure>
                </router-link>
            </figure>
            <router-link tag="a" to="/Basket" id="link-cart2">
                <i :data-number="getCart.length" id="main-cart" class="fas fa-shopping-cart"></i>
            </router-link>
        </div>
        <!-- Main Menu DesTop -->
        <header class="main-menuDestop p-body">
            <div class="container-fluid">
                <div class="container">
                    <div class="d-flex">
                        <div class="d-flex d-none">
                            <a class="logo-u" href="">
                                <img src="/img/logo-u.png" alt="">
                                <h6 class="title">
                                    มหาวิทยาลัย
                                </h6>
                                <h6 class="des">
                                    เกษตรศาสตร์
                                </h6>
                            </a>
                        </div>
                        <div class="mx-auto">
                            <ul class="main-menu">
                                <li>
                                    <router-link tag="a" to="/Home">
                                        <p>หน้าแรก</p>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link tag="a" to="/About">
                                        <p>เกี่ยวกับเรา</p>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link tag="a" :to="{name:'/Course/' , params : {id:'All'}}">
                                        <p>หลักสูตรอบรม</p>
                                    </router-link>
                                    <ul class="main-menu-sub">
                                        <li v-for="(item,i) in getCategory" :key="i">
                                            <router-link tag="a" :to="{name:'/Course/' , params : {id:item.c_id}}">
                                                {{item.c_name}}
                                            </router-link>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <router-link tag="a" to="/Exam">
                                        <p>สมัครหลักสูตร</p>
                                    </router-link>

                                </li>
                                <li>
                                    <router-link tag="a" to="/News">
                                        <p>ข่าวสาร/กิจกรรม</p>
                                    </router-link>

                                </li>
                                <li>
                                    <router-link tag="a" to="/Gallery">
                                        <p>แกลอรี่</p>
                                    </router-link>
                                    <a to="/">
                                        <p></p>
                                    </a>
                                </li>
                                <li>
                                    <router-link tag="a" to="/Contact">
                                        <p>ติดต่อเรา</p>
                                    </router-link>

                                </li>
                                <li>
                                    <router-link tag="a" to="/Search">
                                        <i class="fas fa-search"></i>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link tag="a" to="/Basket" id="link-cart">
                                        <i :data-number="getCart.length" id="main-cart" class="fas fa-shopping-cart"></i>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link tag="a" to="/Login" v-if="!$auth.check()">
                                        <p>เข้าสู่ระบบ/สมัครสมาชิก</p>
                                    </router-link>
                                    <router-link tag="a" to="/Profile" v-else>
                                        <p>{{$auth.user().name}}</p>
                                    </router-link>
                                    <!-- <a @click.prevent="$auth.logout()" v-else>
                                        <p>ออกจากระบบ</p>
                                    </a> -->
                                    <ul class="main-menu-sub" v-if="$auth.check()">
                                        <li>
                                            <a @click.prevent="logout()">
                                                <p>ออกจากระบบ</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    </div>
</template>

<script>
    export default {
        name: 'navBar',
        methods : {
            logout(){
                this.$store.commit('logout');
                this.$auth.logout();
            }
        },
        computed: {
            getCategory(){
                let store = this.$store.state.moduleProduct.category;
                return store;
            },
            getCart(){
                if(this.$auth.check()==true){
                    let store = this.$store.getters.getCartByID(this.$auth.user().id);
                    return store;
                }
                else{
                    let store = this.$store.getters.getCartBySSID(this.$session.id());
                    return store;
                }
            },
        },
        watch: {
            getCart: function(n,o){
                // console.log('getCart Change',n);
                // $(document).click(function(e){
                //     console.log(e.pageX);
                //     console.log(e.pageY);
                //     console.log('window offset Y',window.pageYOffset)
                //     $('<div class="wrap-boxbox"></div>')
                //     .append(`<div class="boxbox" style="top: ${e.pageX}px; left: ${e.pageY}px"></div>`)
                //     .appendTo(document.body);

                //     //.addClass('moveWindow');

                //     // console.log('top',$('#link-cart i').offset().top);
                //     // console.log('left',$('#link-cart i').offset().left);
                // });
            }
        },
        mounted() {
            console.dir(this.$auth.user);
        }
    }

</script>

<style>

</style>
