<template>
    <div class="payment-card">
        <h5 v-if="typePrice==2" class="title">
            สรุปยอดคอร์ส
        </h5>
        <h5 v-else-if="typePrice==1" class="title">
            สรุปยอด
        </h5>
        <div class="payment-card-body">
            <div class="d-flex justify-content-between">
                <p v-if="typePrice==2">ราคาคอร์ส</p>
                <p v-else-if="typePrice==1">ราคา</p>
                <p>{{formatMoney(price)}} บาท</p>
            </div>

            <div v-if="discount" class="d-flex justify-content-between c-darkGreen wrap-cutprice">
                <p class="icon-sell">
                    ส่วนลด
                </p>
                <p>{{formatMoney(discountNum)}} บาท</p>
            </div>
            <div v-if="discount" class="wrap-coupon-code">
                <div class="coupon-code">
                    <input type="text" placeholder="กรอกรหัสส่วนลด" v-model="code" @keyup.enter="getCode()">
                    <button @click="getCode()">ยืนยัน</button>
                </div>
            </div>
        </div>
        <div v-if="discount" class="d-flex justify-content-between payment-card-footer">
            <p>ราคาทั้งหมด</p>
            <p class="c-red">{{formatMoney(price-discountNum)}} บาท</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PayMentCard",
        props: ["discount", "update", 'price',"typePrice"],
        data() {
            return {
                type: null,
                discountNum: 0,
                code: null
            }
        },
        methods: {
            getCode() {
                try {
                    let store = this.$store.getters.findProCode(this.code);
                    if (store.pro_type == 1) {
                        this.discountNum = (this.price / 100) * store.pro_discount;
                    } else if (store.pro_type == 2) {
                        this.discountNum = store.pro_discount;
                    }
                    this.$emit('promotion', store.pro_id);
                } catch (err) {
                    this.discountNum = 0;
                    this.code = null;
                    this.type = null;
                    this.$emit('promotion', 0);
                }

            },
            formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;
                    const negativeSign = amount < 0 ? "-" : "";
                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;
                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g,
                        "$1" + thousands);
                } catch (e) {}
            },
        },
        destroyed() {
            this.type = null;
            this.discountNum = 0;
            this.code = null
        }
    }

</script>

<style>

</style>
