<template>
    <div :style="{transform: 'translateY('+ marginTop + 'px)'}" class="container container-boardHome p-0">
        <div>
            <div class="shadow-board wrap-board">
                <div class="shadow-listBoard listBoard listBoard-absolute">
                    <p class="listBoard_item hasTable">ku-ept</p>
                    <p class="listBoard_item hasTable">toefl itp</p>
                    <p class="listBoard_item hasTable">ku-exite</p>
                    <p v-if="issue == true" class="listBoard_item">
                        <router-link :to="{ name:'/Faq/' , params:{id:1}}">ปัญหา</router-link>
                    </p>
                </div>
                <div class="toggle-table" v-for="(tab,i) in 3" :key="i">
                    <div class="wrap-select-table">
                        <div class="d-flex justify-content-between justify-content-md-end">
                            <div class="select-table">
                                <label for="">สำหรับ</label>
                                <select v-model="selected" class="custom" name="" id="">
                                    <option value="" selected>ทั้งหมด</option>
                                    <option v-for="(x,index) in getCategory" :key="index" :value="x.c_id">{{x.c_name}}</option>
                                </select>

                            </div>
                            <router-link v-if="issue == true" to="/Exam" class="see-all iconAfter">ดูทั้งหมด</router-link>
                        </div>
                    </div>
                    <div class="overflow-x">
                        <div class="table-board">
                            <div class="table-boardHeader">
                                <div>
                                    <h6>
                                        ชื่อวิชา
                                    </h6>
                                </div>
                                <div>
                                    <h6>
                                        สำหรับ
                                    </h6>
                                </div>
                                <div>
                                    <h6>
                                        ค่าสมัคร
                                    </h6>
                                </div>
                                <div>
                                    <h6>
                                        รับสมัคร
                                    </h6>
                                </div>
                                <div>
                                    <h6>
                                        เปิดรับสมัคร
                                    </h6>
                                </div>
                                <div>
                                    <h6>
                                        อีเมลห้องสอบ
                                    </h6>
                                </div>
                                <div>
                                    <h6>
                                        วันที่สอบ
                                    </h6>
                                </div>
                                <div>
                                    <h6>
                                        เวลาสอบ
                                    </h6>
                                </div>
                                <div>
                                    <h6>
                                        มารับผลสอบ
                                    </h6>
                                </div>
                                <div>
                                    <h6>สมัครสอบ</h6>
                                </div>

                            </div>
                            <!-- add data-load 'true' when filter -->
                            <div data-load="false" id="boardBody" class="table-boardBody loading">
                                <div v-for="(item,i) in filteredList.filter((q)=>q.ex_type==(i+1)).slice(0,showLenght)" :key="i" class="table-boardBody-row">
                                    <div>
                                        <p>{{item.ex_name}}</p>
                                    </div>
                                    <div>
                                        <p>{{item.c_name}}</p>
                                    </div>
                                    <div>
                                        <p v-if="item.ex_type==1">ไม่จำกัด</p>
                                        <p v-else-if="item.ex_type==2">{{item.ex_people}} คน</p>
                                    </div>
                                    <div>
                                        <p>{{formatMoney(item.ex_price)}} บาท</p>
                                    </div>
                                    <div>
                                        <p>{{formatDateTo(item.ex_datestart,item.ex_dateend)}}</p>
                                    </div>
                                    <div>
                                        <p>
                                            {{formatDate(item.ex_emailto_seat)}}
                                        </p>
                                    </div>
                                    <div>
                                        <p>{{formatDate(item.ex_dateexam)}}</p>
                                    </div>
                                    <div>
                                        <p>{{formatTime(item.ex_timeexam_start)}}-{{formatTime(item.ex_timeexam_end)}}</p>
                                    </div>
                                    <div>
                                        <p>
                                            {{formatDate(item.ex_emailto_result)}}
                                        </p>
                                    </div>
                                    <div>
                                        <a class="btn btn-sm btn-lightGreen btn-radius" @click="buyExam(item.ex_id)" v-if="item.ex_status == 2">
                                            สมัครสอบ
                                        </a>
                                        <p class="btn btn-sm c-yellow" v-else-if="item.ex_status == 0">
                                            ยังไม่เปิด
                                        </p>
                                        <p class="btn btn-sm c-red" v-else-if="item.ex_status == 1">
                                        ปิดรับสมัคร
                                        </p>
                                        <!-- <a class="btn btn-sm c-black" href="">
                                        ยังไม่เปิด
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Mixin from '../../mixin/'
    export default {
        name: 'Table',
        props: {
            issue: Boolean,
            showLenght: Number,
            marginTop: String
        },
        data() {
            return {
                selected: ''
            }
        },
        mixins: [Mixin],
        computed: {
            getCategory() {
                let store = this.$store.state.moduleProduct.category;
                return store;
            },
            getExam() {
                let store = this.$store.state.moduleProduct.exam;
                return store;
            },
            filteredList() {
                return this.getExam.filter((post) => {
                    let alltext = String(post.c_id);
                    return alltext.includes(String(this.selected))
                })
            }
        },
        watch: {
            getExam(val) {
                const vm = this;
                vm.toggleTable();
            }
        },
        methods: {
            buyExam(ex_id){
                this.$store.commit('selectExam',ex_id);
                this.$router.push('/DataUserExam');
            },
            formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;
                    const negativeSign = amount < 0 ? "-" : "";
                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;
                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g,
                        "$1" + thousands);
                } catch (e) {}
            },
            formatTime(time) {
                let ex = time.split(":");
                return ex[0] + ":" + ex[1];
            },
            toggleTable(){
                 // toggle Board
                const vm = this;
                const $listBoardItem = $('.hasTable'),
                        $toggleTable = $('.toggle-table');

                    $listBoardItem.eq(0).addClass('active');
                    $toggleTable.eq(0).addClass('active');

                $listBoardItem.click(function(e){
                    e.stopPropagation();
                    $listBoardItem.removeClass('active');
                    $toggleTable.removeClass('active');
                    $(this).addClass('active');
                    $toggleTable.eq($(this).index()).addClass('active');
                    vm.selected = '';
                });
            }
        },
        mounted() {
            console.log('table JS Component mounted.')
            this.$nextTick(()=>{
                const vm = this;
                vm.toggleTable();
            })
        }
    }

</script>
