<template>
    <div class="address-box">
        <div class="d-flex justify-content-between">
            <p>Email : {{getUser.email}}</p>
            <router-link to="/EditProfile" v-if="$auth.check()" tag="a" class="c-lightGreen">แก้ไข</router-link>
            <router-link to="/DataUser" v-else tag="a" class="c-lightGreen">แก้ไข</router-link>
        </div>
        <div>
            <p>ชื่อ-นามสกุล : {{getUser.name}}</p>
        </div>
        <div>
            <p>วันเดือนปีัเกิด : {{formatDate(getUser.birthday)}}</p>
        </div>
        <div>
            <p class="titleAddress">ที่อยู่ปัจจุบัน</p>
        </div>
        <div>
            <p>{{getAddress(getUser.address,getUser.province,getUser.amphur,getUser.district,getUser.code)}}</p>
        </div>
        <div>
            <p class="titleAddress">ที่อยู่่ที่ต้องการให้ออกใบเสร็จ</p>
        </div>
        <div>
            <p v-if="getUser.slip_type==1">{{getAddressSlip(getUser.address,getUser.province,getUser.amphur,getUser.district,getUser.code)}}</p>
            <p v-else-if="getUser.slip_type==0">{{getAddressSlip(getUser.address_slip,getUser.prov_slip,getUser.amph_slip,getUser.dist_slip,getUser.code_slip)}}</p>
        </div>
    </div>
</template>

<script>
import Mixin from '../../mixin'
    export default {
        name: "UserAddress",
        computed: {
            getUser() {
                return this.$store.state.moduleUser.user;
            },
            province() {
                let store = this.$store.state.moduleAddress.province;
                return store;
            },
            district() {
                let store = this.$store.state.moduleAddress.district;
                return store;
            },
            amphur() {
                let store = this.$store.state.moduleAddress.amphur;
                return store;
            }
        },
        mixins: [Mixin],
        methods: {
            getAddress(add, p, a, d, c) {
                let address = '';
                if (p == null || p == undefined) {
                    return " ";
                } else {
                    let prov = this.province.find((q) => q.PROVINCE_ID == p);
                    let amph = this.amphur.find((q) => q.AMPHUR_ID == a);
                    let dist = this.district.find((q) => q.DISTRICT_ID == d);
                    if (p == 1) {
                        address = add + " " + dist.DISTRICT_NAME + " " + amph.AMPHUR_NAME + " " + prov.PROVINCE_NAME +
                            " " + c;
                    } else {
                        address = add + " " + "ต." + dist.DISTRICT_NAME + " อ." + amph.AMPHUR_NAME + " จ." + prov.PROVINCE_NAME +
                            " " + c;
                    }
                    this.$emit('address', address);
                    return address;
                }
            },
            getAddressSlip(add, p, a, d, c) {
                let address = '';
                if (p == null || p == undefined) {
                    return " ";
                } else {
                    let prov = this.province.find((q) => q.PROVINCE_ID == p);
                    let amph = this.amphur.find((q) => q.AMPHUR_ID == a);
                    let dist = this.district.find((q) => q.DISTRICT_ID == d);
                    if (p == 1) {
                        address = add + " " + dist.DISTRICT_NAME + " " + amph.AMPHUR_NAME + " " + prov.PROVINCE_NAME +
                            " " + c;
                    } else {
                        address = add + " " + "ต." + dist.DISTRICT_NAME + " อ." + amph.AMPHUR_NAME + " จ." + prov.PROVINCE_NAME +
                            " " + c;
                    }
                    this.$emit('addressSlip', address);
                    return address;
                }
            }
        },
    }

</script>

<style>
    .titleAddress {
        color: #016665;
        font-size: 16px;
        font-weight: 500;
        margin:10px 0px 5px;
    }
</style>
