<template>
    <v-flex>
        <v-layout row mt-3 align-center>
            <v-toolbar-title>ปัญหาที่พบบ่อย (FAQ)</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="teal darken-3" dark @click="dialogNew=true">
                <v-icon>add</v-icon>
                เพิ่ม FAQ
            </v-btn>
        </v-layout>
        <v-layout row wrap justify-center mt-4>
            <v-flex lg10>
                <v-expansion-panel popout focusable>
                    <v-expansion-panel-content v-for="(item,i) in getAllFaq" :key="i">
                        <div slot="header">{{item.faq_issue}}</div>
                        <v-card>
                            <v-card-text v-html="item.faq_text">

                            </v-card-text>
                            <v-card-actions>
                                <v-layout justify-end>
                                    <v-btn @click="deleteitem(item.faq_id)">
                                        <v-icon small>delete</v-icon>&nbsp;Delete
                                    </v-btn>
                                    <v-btn @click="editClick(i)">
                                        <v-icon small>edit</v-icon>&nbsp;Edit
                                    </v-btn>
                                </v-layout>
                            </v-card-actions>
                        </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-flex>
        </v-layout>
        <v-dialog v-model="dialogNew" width="1000">
            <v-card>
                <v-card-title class="headline grey lighten-3" primary-title>
                    เพิ่ม FAQ
                </v-card-title>
                <v-card-text>
                    <v-layout>
                        <v-flex lg4 xl2>
                            <v-subheader>
                                ปัญหา :
                            </v-subheader>
                        </v-flex>
                        <v-flex lg8 xl10>
                            <v-text-field solo v-model="newForm.issue"></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex lg4 xl2>
                            <v-subheader>
                                เนื้อหา :
                            </v-subheader>
                        </v-flex>
                        <v-flex lg8 xl10>
                            <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config" v-model="newForm.text"></editor-tiny>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-3" small @click="dialogNew = false" dark>
                        ปิด
                    </v-btn>
                    <v-btn color="grey darken-3" small @click="AddFaq()" dark :loading="loadAdd">
                        เพิ่ม
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogEdit" width="1000">
            <v-card>
                <v-card-title class="headline grey lighten-3" primary-title>
                    แก้ไข FAQ
                </v-card-title>
                <v-card-text>
                    <v-layout>
                        <v-flex lg4 xl2>
                            <v-subheader>
                                ปัญหา :
                            </v-subheader>
                        </v-flex>
                        <v-flex lg8 xl10>
                            <v-text-field solo v-model="editForm.issue"></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex lg4 xl2>
                            <v-subheader>
                                เนื้อหา :
                            </v-subheader>
                        </v-flex>
                        <v-flex lg4 xl10>
                            <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config" v-model="editForm.text"></editor-tiny>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-3" small @click="dialogEdit = false" dark>
                        ปิด
                    </v-btn>
                    <v-btn color="grey darken-3" small @click="EditFaq()" dark :loading="loadEdit">
                        แก้ไข
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>

</template>

<script>
    import Editor from '@tinymce/tinymce-vue';
    export default {
        name: 'faqHelp',
        components: {
            'editor-tiny': Editor
        },
        data() {
            return {
                edit_config: {
                    plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor colorpicker textpattern"
                    ],
                    relative_urls: false,
                    file_browser_callback: function (field_name, url, type, win) {
                        var x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName(
                            'body')[0].clientWidth;
                        var y = window.innerHeight || document.documentElement.clientHeight || document.getElementsByTagName(
                            'body')[0].clientHeight;
                        var cmsURL = '/laravel-filemanager?field_name=' + field_name;
                        if (type == 'image') {
                            cmsURL = cmsURL + "&type=Images";
                        } else {
                            cmsURL = cmsURL + "&type=Files";
                        }
                        tinyMCE.activeEditor.windowManager.open({
                            file: cmsURL,
                            title: 'Filemanager',
                            width: x * 0.8,
                            height: y * 0.8,
                            resizable: "yes",
                            close_previous: "no"
                        });
                    },
                    toolbar: 'forecolor backcolor fontsizeselect | undo redo | styleselect | alignleft aligncenter alignright | bold italic | bullist numlist | link image',
                    fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt'
                },
                dialogNew: false,
                dialogEdit: false,
                newForm: {
                    issue: null,
                    text: null
                },
                editForm: {
                    issue: null,
                    text: "",
                    id : null
                },
                loadAdd: false,
                loadEdit: false
            }
        },
        computed: {
            getAllFaq() {
                let store = this.$store.state.moduleContent.faq;
                return store;
            }
        },
        methods: {
            AddFaq() {
                const vm = this;
                let issue = vm.newForm.issue;
                let text = vm.newForm.text;
                if (issue == null || issue == '') {
                    vm.$swal({
                        title: 'Error!',
                        text: 'กรุณากรอกข้อมูลให้ครบถ้วน',
                        type: 'error'
                    })
                } else {
                    vm.loadAdd = true;
                    axios.post('AddNewFaq', {
                            form: JSON.stringify(vm.newForm)
                        })
                        .then((res) => {
                            vm.$swal({
                                title: 'Success!',
                                text: 'เพิ่ม FAQ สำเร็จ',
                                type: 'success'
                            })
                        })
                        .catch((err) => {

                        })
                        .then(() => {
                            vm.newForm.issue = null;
                            vm.newForm.text = "";
                            vm.$store.dispatch('getAllFaq');
                            vm.loadAdd = false;
                            vm.dialogNew = false;
                        })
                }
            },
            editClick(i) {
                this.dialogEdit = true;
                this.editForm.issue = this.getAllFaq[i].faq_issue;
                this.editForm.text = this.getAllFaq[i].faq_text;
                this.editForm.id = this.getAllFaq[i].faq_id;
            },
            deleteitem(id) {
                const vm = this;
                vm.$swal({
                    title: 'คุณแน่ใจที่จะลบ?',
                    text: 'เมื่อลบแล้วไม่สามารถกู้ข้อมูลกลับมาได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('DeleteFaq/' + id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบส่วนลดสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$store.dispatch('getAllFaq');
                            })
                    }
                });
            },
            EditFaq() {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยันแก้ไข?',
                    text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        vm.loadEdit = true;
                        axios.post('EditFaq', {
                                form: JSON.stringify(vm.editForm)
                            })
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'แก้ไขสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$store.dispatch('getAllFaq');
                                vm.loadEdit = false;
                                vm.dialogEdit = false;
                            })
                    }
                });
            }
        }
    }

</script>

<style lang="scss">
    .v-expansion-panel__container--active {
        >div {
            background: #00695C;
            color: white;
        }
    }

    .v-subheader {
        color: black !important;
    }

</style>
