<template>
    <v-flex>
        <v-layout justify-center>
            <v-flex lg10>
                <v-tabs v-model="active" color="grey lighten-3" slider-color="yellow">
                    <v-tab v-for="(item,i) in tab" :key="i" ripple>
                        {{item.ct_content}}
                    </v-tab>
                    <v-tab-item v-for="(text,j) in tab" :key="j">
                        <v-card flat>
                            <v-card-text>
                                <v-layout justify-center v-if="text.ct_id==10">
                                    <v-flex lg6 class="text-lg-center">
                                        ลิงค์ :
                                        <a :href="text.ct_text" target="_blank">{{text.ct_text}}</a>
                                    </v-flex>
                                </v-layout>
                                <v-layout justify-center v-else>
                                    <v-flex v-html="text.ct_text"></v-flex>
                                </v-layout>
                                <v-layout justify-end mt-4>
                                    <v-btn color="grey darken-3" small @click="EditClick(j)" dark>
                                        <v-icon small>edit</v-icon>&nbsp;แก้ไข
                                    </v-btn>
                                </v-layout>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </v-flex>
        </v-layout>
        <v-dialog v-model="dialogEdit" width="1000">
            <v-card>
                <v-card-title class="headline grey lighten-3" primary-title>
                    แก้ไข {{editForm.content}}
                </v-card-title>
                <v-card-text>
                    <v-layout justify-center v-if="editForm.id==10" mt-4>
                        <v-flex lg2>
                            <v-subheader>ลิงค์</v-subheader>
                        </v-flex>
                        <v-flex lg6>
                            <v-text-field solo v-model="editForm.text"></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout v-else>
                        <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config" v-model="editForm.text"></editor-tiny>
                    </v-layout>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-3" small @click="dialogEdit = false" dark>
                        ปิด
                    </v-btn>
                    <v-btn color="grey darken-3" small @click="EditContent()" dark :loading="loadEdit">
                        แก้ไข
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    import Editor from '@tinymce/tinymce-vue';
    export default {
        name: 'kueptHelp',
        components: {
            'editor-tiny': Editor
        },
        data() {
            return {
                edit_config: {
                    plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor colorpicker textpattern "
                    ],
                    relative_urls: false,
                    file_browser_callback: function (field_name, url, type, win) {
                        var x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName(
                            'body')[0].clientWidth;
                        var y = window.innerHeight || document.documentElement.clientHeight || document.getElementsByTagName(
                            'body')[0].clientHeight;
                        var cmsURL = '/laravel-filemanager?field_name=' + field_name;
                        if (type == 'image') {
                            cmsURL = cmsURL + "&type=Images";
                        } else {
                            cmsURL = cmsURL + "&type=Files";
                        }
                        tinyMCE.activeEditor.windowManager.open({
                            file: cmsURL,
                            title: 'Filemanager',
                            width: x * 0.8,
                            height: y * 0.8,
                            resizable: "yes",
                            close_previous: "no"
                        });
                    },
                    height: "500",
                    toolbar: 'forecolor backcolor fontsizeselect | undo redo | styleselect | alignleft aligncenter alignright | bold italic | bullist numlist | link image',
                    fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt'
                },
                active: null,
                dialogEdit: false,
                loadEdit: false,
                editForm : {
                    content : null,
                    text : '',
                    id : null
                }
            }
        },
        computed: {
            tab() {
                let store = this.$store.getters.toeflitpHelp;
                return store;
            }
        },
        methods: {
            EditClick(index) {
                this.dialogEdit = true;
                this.editForm.content = this.tab[index].ct_content;
                this.editForm.text = this.tab[index].ct_text;
                this.editForm.id = this.tab[index].ct_id;
            },
            EditContent() {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยันแก้ไข?',
                    text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        vm.loadEdit = true;
                        axios.post('EditContent', {
                                form: JSON.stringify(vm.editForm)
                            })
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'แก้ไขสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.editForm.content = null;
                                vm.editForm.text = '';
                                vm.editForm.id = null;
                                vm.$store.dispatch('getAllContent');
                                vm.loadEdit = false;
                                vm.dialogEdit = false;
                            })
                    }
                });
            }
        }
    }

</script>

<style>

</style>
