<template>
    <v-flex>
        <v-layout row justify-center>
            <v-flex xs12 sm10>
                <v-toolbar-title>ประวัติส่วนตัว</v-toolbar-title>
            </v-flex>
        </v-layout>
        <v-layout row my-4>
            <v-flex xs12 sm6 offset-sm3>
                <v-card>
                    <v-list two-line>
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="indigo">account_circle</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{User.name_TH}}</v-list-tile-title>
                                <v-list-tile-sub-title>ชื่อ-นามสกุล</v-list-tile-sub-title>
                                <v-list-tile-title>{{User.name}}</v-list-tile-title>
                                <v-list-tile-sub-title>Fullname</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="indigo">phone</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{User.tel}}</v-list-tile-title>
                                <v-list-tile-sub-title>เบอร์โทรศัพท์</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="indigo">mail</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{User.email}}</v-list-tile-title>
                                <v-list-tile-sub-title>Email</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="indigo">location_on</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{getAddress(User.address,User.province,User.amphur,User.district,User.code)}}</v-list-tile-title>
                                <v-list-tile-sub-title>ที่อยู่</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-action>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title v-if="User.slip_type==0">{{getAddress(User.address_slip,User.prov_slip,User.amph_slip,User.dist_slip,User.code_slip)}}</v-list-tile-title>
                                <v-list-tile-title v-else-if="User.slip_type==1">{{getAddress(User.address,User.province,User.amphur,User.district,User.code)}}</v-list-tile-title>
                                <v-list-tile-sub-title>ที่อยู่ที่ต้องการให้ออกใบเสร็จ</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>
        <v-divider inset></v-divider>
        <v-layout row mt-4 justify-center>
            <v-flex xs12 sm10>
                <v-toolbar-title>รายการสั่งซื้อ</v-toolbar-title>
                <v-layout row ml-3 pa-3>
                    <v-flex lg12 xl12>
                        <h3>- คอร์ส</h3>
                        <v-data-table :headers="headersCourse" :items="orderByUser.filter((q)=>q.order_type==2)" class="elevation-1">
                            <template slot="items" slot-scope="props">
                                <td class="text-lg-center">{{ props.item.order_code }}</td>
                                <td class="text-lg-center">{{ props.item.order_price-props.item.order_discount }} บาท</td>
                                <td class="text-lg-center">{{ props.item.order_price }} บาท</td>
                                <td class="text-lg-center">{{ props.item.order_discount }} บาท</td>
                                <td class="text-lg-center">{{ props.item.u_name }}</td>
                                <td class="text-lg-center">{{ props.item.created_at }}</td>
                                <td class="text-lg-center">
                                    <label v-if="props.item.order_status == 0">รอชำระเงิน</label>
                                    <label v-else-if="props.item.order_status == 1">ชำระเงินแล้ว</label>
                                </td>
                                <td class="text-lg-center">
                                    <v-tooltip top open-delay="100" close-delay="100">
                                        <v-btn slot="activator" outline color="teal" small @click="showList(props.item.order_id)">
                                            <v-icon>list</v-icon>
                                        </v-btn>
                                        <span>Detail</span>
                                    </v-tooltip>
                                </td>
                            </template>
                        </v-data-table>
                    </v-flex>
                </v-layout>
                <v-layout row ml-3 pa-3>
                    <v-flex lg12 xl12>
                        <h3>- ทดสอบ</h3>
                        <v-data-table :headers="headersExam" :items="orderByUser.filter((q)=>q.order_type==1)" class="elevation-1">
                            <template slot="items" slot-scope="props">
                                <td class="text-lg-center">{{ props.item.order_code }}</td>
                                <td class="text-lg-center">{{ ExamDetail.find((q)=>q.order_id ==
                                    props.item.order_id).ex_name }}</td>
                                <td class="text-lg-center">{{ props.item.order_price }} บาท</td>
                                <td class="text-lg-center">{{ props.item.u_name }}</td>
                                <td class="text-lg-center">{{ props.item.created_at }}</td>
                                <td class="text-lg-center">
                                    <p v-if="props.item.order_status == 0">รอชำระเงิน</p>
                                    <p v-else-if="props.item.order_status == 1">ชำระเงินแล้ว</p>
                                </td>
                                <td class="text-lg-center">
                                    <v-tooltip top open-delay="100" close-delay="100">
                                        <v-btn slot="activator" outline color="teal" small @click="showList(props.item.order_id)">
                                            <v-icon>list</v-icon>
                                        </v-btn>
                                        <span>Detail</span>
                                    </v-tooltip>
                                </td>
                            </template>
                        </v-data-table>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
        <v-layout justify-end>
            <v-btn color="red darken-3" dark @click="$router.back();">กลับ</v-btn>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'memberDetail',
        data() {
            return {
                headersCourse: [{
                        text: 'Order Code',
                        align: 'center',
                        sortable: true,
                        value: 'order_code'
                    },
                    {
                        text: 'ยอดรวม',
                        sortable: false,
                        align: 'center'
                    },
                    {
                        text: 'ยอดสั่งซื้อ',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'ส่วนลด',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'ผู้สั่ง',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'วันที่',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'สถานะ',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'อื่นๆ',
                        align: 'center',
                        sortable: false
                    }
                ],
                headersExam: [{
                        text: 'Order Code',
                        align: 'center',
                        sortable: true,
                        value: 'order_code'
                    },
                    {
                        text: 'ชื่อวิชา',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'ยอดรวม',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'ผู้สั่ง',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'วันที่',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'สถานะ',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'อื่นๆ',
                        align: 'center',
                        sortable: false,
                    }
                ],
            }
        },
        computed: {
            User() {
                return this.$store.getters.userByID(this.$route.params.id);
            },
            orderByUser() {
                let store = this.$store.getters.orderByUser(this.User.id);
                return store;
            },
            courseDetail() {
                let store = this.$store.state.moduleProduct.orderDetail;
                return store.course;
            },
            ExamDetail() {
                let store = this.$store.state.moduleProduct.orderDetail;
                return store.exam;
            },
            province() {
                let store = this.$store.state.moduleAddress.province;
                return store;
            },
            district() {
                let store = this.$store.state.moduleAddress.district;
                return store;
            },
            amphur() {
                let store = this.$store.state.moduleAddress.amphur;
                return store;
            }
        },
        methods: {
            getAddress(add, p, a, d, c) {
                let address = '';
                if (p == null || p == undefined) {
                    return " ";
                } else {
                    let prov = this.province.find((q) => q.PROVINCE_ID == p);
                    let amph = this.amphur.find((q) => q.AMPHUR_ID == a);
                    let dist = this.district.find((q) => q.DISTRICT_ID == d);
                    if (p == 1) {
                        address = add + " " + dist.DISTRICT_NAME + " " + amph.AMPHUR_NAME + " " + prov.PROVINCE_NAME +
                            " " + c;
                    } else {
                        address = add + " " + "ต." + dist.DISTRICT_NAME + " อ." + amph.AMPHUR_NAME + " จ." + prov.PROVINCE_NAME +
                            " " + c;
                    }
                    return address;
                }
            },
            formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;
                    const negativeSign = amount < 0 ? "-" : "";
                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;
                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g,
                        "$1" + thousands);
                } catch (e) {}
            },
            showList(order_id) {
                this.$router.push({ name: '/admin/OrderDetail', params: { id: order_id } })
            }
        }
    }

</script>

<style lang="scss">
    .elevation-1 {
        td {
            >.img-table {
                display: block;
                max-width: 100px;
                height: auto;
            }
        }
    }

</style>
