<template>
    <v-flex>
        <v-layout row mt-3 align-center>
            <v-toolbar-title>สมาชิก</v-toolbar-title>
        </v-layout>
        <v-layout row justify-center mt-4>
            <v-flex lg12 xl12>
                <v-data-table :headers="headers" :items="allMember" class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td class="text-lg-center">{{ props.item.name }}</td>
                        <td class="text-lg-center">{{ props.item.email }}</td>
                        <td class="text-lg-center">{{ props.item.tel }}</td>
                        <td class="text-lg-center">{{ props.item.created_at }}</td>
                        <td class="text-lg-center">
                            <router-link tag="v-icon" class="mr-2" :to="{name:'/admin/MemberDetail',params : {id:props.item.id}}">
                                visibility
                            </router-link>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'MemberPage',
        computed: {
            allMember() {
                let store = this.$store.state.moduleUser.member;
                return store;
            }
        },
        data() {
            return {
                headers: [{
                        text: 'ชื่อ',
                        align: 'center',
                        sortable: true,
                        value: 'name'
                    },
                    {
                        text: 'Email',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'เบอร์ติดต่อ',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'วันที่สมัคร',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'อื่นๆ',
                        align: 'center',
                        sortable: false,
                    }
                ],
            }
        }
    }

</script>

<style>

</style>
