<template>
    <v-flex lg12 xl8 mt-3 v-if="!loading">
        <v-layout justify-start>
            <h2>
                <v-icon>edit</v-icon>
                แก้ไขหลักสูตรทดสอบ
            </h2>
        </v-layout>
        <v-layout justify-center px-5 mt-5>
            <v-flex lg2>
                <v-subheader>
                    ชื่อชื่อวิชา :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-text-field solo v-model="getEdit_Exam.ex_name" v-validate="'required'" :error-messages="errors.collect('getEdit_Exam.ex_name')"
                    data-vv-name="getEdit_Exam.ex_name"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5>
            <v-flex lg2>
                <v-subheader>
                    หมวดหมู่ :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-select solo :items="[{name:'KU-EPT',value:1},{name:'TOEFL ITP',value:2},{name:'KU-EXITE',value:3}]"
                    item-text="name" item-value="value" label="กรุณาเลือกหมวดหมู่" v-model="getEdit_Exam.ex_type"
                    v-validate="'required'" :error-messages="errors.collect('getEdit_Exam.ex_type')" data-vv-name="getEdit_Exam.ex_type"></v-select>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5>
            <v-flex lg2>
                <v-subheader>
                    สำหรับ :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-select solo :items="getCategory_Course" item-text="c_name" item-value="c_id" label="กรุณาเลือกหมวดหมู่"
                    v-model="getEdit_Exam.c_id" v-validate="'required'" :error-messages="errors.collect('getEdit_Exam.c_id')"
                    data-vv-name="getEdit_Exam.c_id"></v-select>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5>
            <v-flex lg2>
                <v-subheader>
                    ค่าสมัคร :
                </v-subheader>
            </v-flex>
            <v-flex lg3>
                <v-text-field solo v-model="getEdit_Exam.ex_price" v-validate="'required|numeric'" :error-messages="errors.collect('getEdit_Exam.ex_price')"
                    data-vv-name="getEdit_Exam.ex_price"></v-text-field>
            </v-flex>
            <v-flex lg2>
                <v-subheader>
                    จำนวนรับสมัคร :
                </v-subheader>
            </v-flex>
            <v-flex lg2 mr-2>
                <v-select solo :items="[{name:'ไม่จำกัด',value:0},{name:'จำกัด',value:1}]" item-text="name" item-value="value"
                    v-model="getEdit_Exam.ex_limit"></v-select>
            </v-flex>
            <v-flex lg3>
                <v-text-field solo v-model="getEdit_Exam.ex_people" v-if="getEdit_Exam.ex_limit==1"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout px-5>
            <v-flex lg2>
                <v-subheader>เปิดรับสมัคร :</v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-menu :close-on-content-click="false" v-model="menu" :nudge-right="40" lazy transition="scale-transition"
                    offset-y full-width min-width="290px">
                    <v-text-field solo slot="activator" v-model="getEdit_Exam.ex_datestart" label="เลือกวันที่"
                        v-validate="'required'" :error-messages="errors.collect('getEdit_Exam.ex_datestart')"
                        data-vv-name="getEdit_Exam.ex_datestart" readonly></v-text-field>
                    <v-date-picker color="indigo" v-model="getEdit_Exam.ex_datestart" @input="menu = false"></v-date-picker>
                </v-menu>
            </v-flex>
            <v-flex lg2>
                <v-subheader>สิ้นสุดวันที่ :</v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-menu :close-on-content-click="false" v-model="menu2" :nudge-right="40" lazy transition="scale-transition"
                    offset-y full-width min-width="290px">
                    <v-text-field solo slot="activator" v-model="getEdit_Exam.ex_dateend" label="เลือกวันที่"
                        v-validate="'required'" :error-messages="errors.collect('getEdit_Exam.ex_dateend')"
                        data-vv-name="getEdit_Exam.ex_dateend" readonly></v-text-field>
                    <v-date-picker color="indigo" v-model="getEdit_Exam.ex_dateend" @input="menu2 = false"></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <v-layout px-5>
            <v-flex lg2>
                <v-subheader>วันที่สอบ :</v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-menu :close-on-content-click="false" v-model="menu3" :nudge-right="40" lazy transition="scale-transition"
                    offset-y full-width min-width="290px">
                    <v-text-field solo slot="activator" v-model="getEdit_Exam.ex_dateexam" label="เลือกวันที่"
                        v-validate="'required'" :error-messages="errors.collect('getEdit_Exam.ex_dateexam')"
                        data-vv-name="getEdit_Exam.ex_dateexam" readonly></v-text-field>
                    <v-date-picker color="indigo" v-model="getEdit_Exam.ex_dateexam" @input="menu3 = false"></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <v-layout px-5>
            <v-flex lg2>
                <v-subheader>ประกาศที่นั่งสอบ :</v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-menu :close-on-content-click="false" v-model="menu4" :nudge-right="40" lazy transition="scale-transition"
                    offset-y full-width min-width="290px">
                    <v-text-field solo slot="activator" v-model="getEdit_Exam.ex_emailto_seat" label="เลือกวันที่"
                        v-validate="'required'" :error-messages="errors.collect('getEdit_Exam.ex_emailto_seat')"
                        data-vv-name="getEdit_Exam.ex_emailto_seat" readonly></v-text-field>
                    <v-date-picker color="indigo" v-model="getEdit_Exam.ex_emailto_seat" @input="menu4 = false"></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <v-layout px-5>
            <v-flex lg2>
                <v-subheader>ประกาศผลสอบ :</v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-menu :close-on-content-click="false" v-model="menu5" :nudge-right="40" lazy transition="scale-transition"
                    offset-y full-width min-width="290px">
                    <v-text-field solo slot="activator" v-model="getEdit_Exam.ex_dateend" label="เลือกวันที่"
                        v-validate="'required'" :error-messages="errors.collect('getEdit_Exam.ex_dateend')"
                        data-vv-name="getEdit_Exam.ex_dateend" readonly></v-text-field>
                    <v-date-picker color="indigo" v-model="getEdit_Exam.ex_dateend" @input="menu5 = false"></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <v-layout px-5>
            <v-flex lg2>
                <v-subheader>เวลาสอบ :</v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-text-field solo mask="time" label="hh:mm" v-model="getEdit_Exam.ex_timeexam_start" v-validate="'required'"
                    :error-messages="errors.collect('getEdit_Exam.ex_timeexam_start')" data-vv-name="getEdit_Exam.ex_timeexam_start"></v-text-field>
            </v-flex>
            <v-flex lg1></v-flex>
            <v-flex lg1>
                <v-subheader>ถึง :</v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-text-field solo mask="time" label="hh:mm" v-model="getEdit_Exam.ex_timeexam_end" v-validate="'required'"
                    :error-messages="errors.collect('getEdit_Exam.ex_timeexam_end')" data-vv-name="getEdit_Exam.ex_timeexam_end"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5>
            <v-flex lg2>
                <v-subheader>
                    สถานะ :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-select solo :items="[{name:'ยังไม่เปิด',value:0},{name:'ปิดรับสมัคร',value:1},{name:'เปิดรับสมัคร',value:2}]"
                    item-text="name" item-value="value" label="กรุณาเลือกสถานะ" v-model="getEdit_Exam.ex_status"
                    v-validate="'required'" :error-messages="errors.collect('getEdit_Exam.ex_status')" data-vv-name="getEdit_Exam.ex_status"></v-select>
            </v-flex>
        </v-layout>
        <v-layout justify-end>
            <v-btn color="red darken-3" dark @click="ClearForm()">กลับ</v-btn>
            <v-btn color="grey darken-3" dark @click="EditForm()" :loading="loadSaveProduct">แก้ไข</v-btn>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'EditExam',
        $_veeValidate: {
            validator: 'new'
        },
        data() {
            return {
                menu5: false,
                menu4: false,
                menu3: false,
                menu2: false,
                menu: false,
                loadSaveProduct: false,
                loading: true,
                id: null
            }
        },
        created() {
            this.id = this.$route.params.id;
        },
        computed: {
            getEdit_Exam() {
                return this.$store.getters.getEdit_Exam(this.id);
            },
            getCategory_Course() {
                return this.$store.state.moduleProduct.category;
            },
        },
        watch: {
            getEdit_Exam(val) {
                this.loading = false
            }
        },
        methods: {
            EditForm() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยันเพิ่มหลักสูตร?',
                            text: 'ตรวจสอบความถูกต้องของหลักสูตรให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                this.loadSaveProduct = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'content-type': 'multipart/form-data'
                                    }
                                }
                                fd.append('form', JSON.stringify(this.getEdit_Exam));
                                axios.post('EditExam', fd, config)
                                    .then((res) => {
                                        console.log(res.data);
                                        vm.$swal({
                                            title: 'สำเร็จ',
                                            type: 'success',
                                            text: 'แก้ไขทดสอบหลักสูตรสำเร็จ'
                                        })
                                    })
                                    .catch((err) => {
                                        vm.$swal({
                                            title: 'ล้มเหลว',
                                            type: 'error',
                                            text: err
                                        })
                                    })
                                    .then(() => {
                                        this.$store.dispatch('getAllExam');
                                        this.loadSaveProduct = false;
                                        this.ClearForm();
                                    })
                            }
                        });
                    }
                });
            },
            async ClearForm() {
                let Clear = await this.$validator.errors.clear();
                this.$router.back();
            },
        },
        destroyed() {
            this.loading = true;
            this.id = null;
        }
    }

</script>

<style lang="scss">
    .v-subheader {
        color: black !important;
    }

    .main_file {
        border: 1px solid #f3f3f3;

        >img {
            display: block;
            max-width: 100%;
            height: auto;
            cursor: pointer;
        }
    }

</style>
