<template>
    <v-flex>
        <v-layout row mt-3 align-center>
            <v-toolbar-title>
                <label v-if="$route.params.id==1">KU-EPT</label>
                <label v-else-if="$route.params.id==2">TOEFL ITP</label>
                <label v-else-if="$route.params.id==3">KU-EXITE</label>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="teal darken-3" dark to="/admin/NewExam">
                <v-icon>add</v-icon>
                เพิ่มทดสอบหลักสูตร
            </v-btn>
        </v-layout>
        <v-layout row justify-center mt-2>
            <v-flex lg12 xl12>
                <v-data-table :headers="headers" :items="getCateExam" class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td class="text-lg-center">{{ props.item.ex_name }}</td>
                        <td class="text-lg-center">{{ props.item.c_name }}</td>
                        <td class="text-lg-center">
                            <strong v-if="props.item.ex_limit==0">{{props.item.ex_unit}}/ไม่จำกัด</strong>
                            <strong v-else>{{props.item.ex_unit}}/{{props.item.ex_people}} คน</strong>
                        </td>
                        <td class="text-lg-center">{{ props.item.ex_price }} บาท</td>
                        <td class="text-lg-center">
                            {{ props.item.ex_datestart }} <strong>-</strong> {{props.item.ex_dateend }}
                        </td>
                        <td class="text-lg-center">
                            {{ props.item.ex_emailto_seat }}
                        </td>
                        <td class="text-lg-center">{{ props.item.ex_dateexam }}</td>
                        <td class="text-lg-center">
                            {{ CutSec(props.item.ex_timeexam_start) }} <strong>-</strong> {{ CutSec(props.item.ex_timeexam_end) }}
                        </td>
                        <td class="text-lg-center">
                            {{ props.item.ex_emailto_result }}
                        </td>
                        <td class="text-lg-center">
                            <label v-if="props.item.ex_status==0" class="warning">ยังไม่เปิด</label>
                            <label v-else-if="props.item.ex_status==1" class="error">ปิดรับสมัคร</label>
                            <label v-else-if="props.item.ex_status==2" class="success">เปิดรับสมัคร</label>
                        </td>
                        <td class="text-lg-center">
                            <v-icon @click="viewItem(props.item.ex_id)">
                                people
                            </v-icon>
                            <v-icon @click="editItem(props.item.ex_id)">
                                edit
                            </v-icon>
                            <v-icon @click="deleteItem(props.item)">
                                delete
                            </v-icon>
                        </td>
                    </template>

                </v-data-table>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'ExamPage',
        data() {
            return {
                headers: [
                    {
                        text: 'ชื่อวิชา',
                        value: 'ex_name',
                        align: 'center'
                    },
                    {
                        text: 'สำหรับ',
                        value: 'c_name',
                        align: 'center'
                    },
                    {
                        text: 'จำนวนที่เปิดรับ',
                        value: 'ex_people',
                        align: 'center'
                    },
                    {
                        text: 'ค่าสมัคร',
                        value: 'ex_price',
                        align: 'center'
                    },
                    {
                        text: 'วันที่รับสมัคร',
                        value: 'ex_datestart',
                        align: 'center'
                    },
                    {
                        text: 'วันประกาศที่นั่งสอบ',
                        value: 'ex_emailto_seat',
                        align: 'center'
                    },
                    {
                        text: 'วันที่สอบ',
                        value: 'ex_dateexam',
                        align: 'center'
                    },
                    {
                        text: 'เวลาสอบ',
                        value: 'ex_timeexam_start',
                        align: 'center'
                    },
                    {
                        text: 'วันประกาศผลสอบ',
                        value: 'ex_emailto_result',
                        align: 'center'
                    },
                    {
                        text: 'สถานะ',
                        value: 'ex_status',
                        align: 'center'
                    },
                    {
                        text: 'อื่นๆ',
                        value: 'name',
                        sortable: false,
                        align: 'center',
                    },
                ],
            }
        },
        computed: {
            getCateExam(){
                let store = this.$store.getters.getCateExam(this.$route.params.id);
                return store;
            }
        },
        watch: {

        },
        methods: {
            deleteItem(item) {
                const vm = this;
                vm.$swal({
                    title: 'คุณแน่ใจที่จะลบหลักสูตร?',
                    text: 'เมื่อลบแล้วไม่สามารถกู้ข้อมูลกลับมาได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        const id = item.ex_id;
                        axios.delete('DeleteExam/'+id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบหลักสูตรทดสอบสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                this.$store.dispatch('getAllExam');
                            })
                    }
                });
            },
            editItem(id){
                this.$router.push({ name: '/admin/EditExam', params: { id: id } })
            },
            CutSec(time){
                let cuttime = time.split(":");
                return cuttime[0] + ":" + cuttime[1]
            },
            viewItem(id){
                this.$router.push({ name: '/admin/ViewExam', params: { id: id } })
            }
        }
    }

</script>

<style lang="scss">
.elevation-1 {
    td {
        padding: 20px;
        font-size: 14px !important;
        >.img-table {
            height: 100px;
            width: 100px;
        }

        .warning {
            color: #EF6C00;
            background-color: inherit !important;
        }

        .error {
            color: #C62828;
            background-color: inherit !important;
        }

        .success {
            color: #00695C;
            background-color: inherit !important;
        }
    }
}

</style>
