<template>
    <v-flex lg12 xl8 mt-3>
        <v-layout justify-start>
            <h2>
                <v-icon>add_circle</v-icon>
                เพิ่มทดสอบหลักสูตร
            </h2>
        </v-layout>
        <v-layout justify-center px-5 mt-5>
            <v-flex lg2>
                <v-subheader>
                    ชื่อชื่อวิชา :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-text-field solo v-model="newForm.name" v-validate="'required'" :error-messages="errors.collect('newForm.name')"
                    data-vv-name="newForm.name"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5>
            <v-flex lg2>
                <v-subheader>
                    หมวดหมู่ :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-select solo :items="[{name:'KU-EPT',value:1},{name:'TOEFL ITP',value:2},{name:'KU-EXITE',value:3}]" item-text="name"
                    item-value="value" label="กรุณาเลือกหมวดหมู่" v-model="newForm.type" v-validate="'required'" :error-messages="errors.collect('newForm.type')"
                    data-vv-name="newForm.type"></v-select>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5>
            <v-flex lg2>
                <v-subheader>
                    สำหรับ :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-select solo :items="getCategory_Course" item-text="c_name" item-value="c_id" label="กรุณาเลือกหมวดหมู่"
                    v-model="newForm.category" v-validate="'required'" :error-messages="errors.collect('newForm.category')"
                    data-vv-name="newForm.category"></v-select>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5>
            <v-flex lg2>
                <v-subheader>
                    ค่าสมัคร :
                </v-subheader>
            </v-flex>
            <v-flex lg3>
                <v-text-field solo v-model="newForm.price" v-validate="'required|numeric'" :error-messages="errors.collect('newForm.price')"
                    data-vv-name="newForm.price"></v-text-field>
            </v-flex>
            <v-flex lg2>
                <v-subheader>
                    จำนวนรับสมัคร :
                </v-subheader>
            </v-flex>
            <v-flex lg2 mr-2>
                <v-select solo :items="[{name:'ไม่จำกัด',value:0},{name:'จำกัด',value:1}]" item-text="name"
                    item-value="value" v-model="newForm.limit"></v-select>
            </v-flex>
            <v-flex lg3>
                <v-text-field solo v-model="newForm.people" v-if="newForm.limit==1"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout px-5>
            <v-flex lg2>
                <v-subheader>เปิดรับสมัคร :</v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-menu :close-on-content-click="false" v-model="menu" :nudge-right="40" lazy transition="scale-transition"
                    offset-y full-width min-width="290px">
                    <v-text-field solo slot="activator" v-model="newForm.startdate" label="เลือกวันที่" v-validate="'required'"
                        :error-messages="errors.collect('newForm.startdate')" data-vv-name="newForm.startdate" readonly></v-text-field>
                    <v-date-picker color="indigo" v-model="newForm.startdate" @input="menu = false"></v-date-picker>
                </v-menu>
            </v-flex>
            <v-flex lg2>
                <v-subheader>สิ้นสุดวันที่ :</v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-menu :close-on-content-click="false" v-model="menu2" :nudge-right="40" lazy transition="scale-transition"
                    offset-y full-width min-width="290px">
                    <v-text-field solo slot="activator" v-model="newForm.enddate" label="เลือกวันที่" v-validate="'required'"
                        :error-messages="errors.collect('newForm.enddate')" data-vv-name="newForm.enddate" readonly></v-text-field>
                    <v-date-picker color="indigo" v-model="newForm.enddate" @input="menu2 = false"></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <v-layout px-5>
            <v-flex lg2>
                <v-subheader>วันที่สอบ :</v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-menu :close-on-content-click="false" v-model="menu3" :nudge-right="40" lazy transition="scale-transition"
                    offset-y full-width min-width="290px">
                    <v-text-field solo slot="activator" v-model="newForm.dateexam" label="เลือกวันที่" v-validate="'required'"
                        :error-messages="errors.collect('newForm.dateexam')" data-vv-name="newForm.dateexam" readonly></v-text-field>
                    <v-date-picker color="indigo" v-model="newForm.dateexam" @input="menu3 = false"></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <v-layout px-5>
            <v-flex lg2>
                <v-subheader>ประกาศที่นั่งสอบ :</v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-menu :close-on-content-click="false" v-model="menu4" :nudge-right="40" lazy transition="scale-transition"
                    offset-y full-width min-width="290px">
                    <v-text-field solo slot="activator" v-model="newForm.email_seat" label="เลือกวันที่" v-validate="'required'"
                        :error-messages="errors.collect('newForm.email_seat')" data-vv-name="newForm.email_seat" readonly></v-text-field>
                    <v-date-picker color="indigo" v-model="newForm.email_seat" @input="menu4 = false"></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <v-layout px-5>
            <v-flex lg2>
                <v-subheader>ประกาศผลสอบ :</v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-menu :close-on-content-click="false" v-model="menu5" :nudge-right="40" lazy transition="scale-transition"
                    offset-y full-width min-width="290px">
                    <v-text-field solo slot="activator" v-model="newForm.email_result" label="เลือกวันที่" v-validate="'required'"
                        :error-messages="errors.collect('newForm.email_result')" data-vv-name="newForm.email_result" readonly></v-text-field>
                    <v-date-picker color="indigo" v-model="newForm.email_result" @input="menu5 = false"></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <v-layout px-5>
            <v-flex lg2>
                <v-subheader>เวลาสอบ :</v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-text-field solo mask="time" label="hh:mm" v-model="newForm.timestart" v-validate="'required|max_value:2359'"
                    :error-messages="errors.collect('newForm.timestart')" data-vv-name="newForm.timestart"></v-text-field>
            </v-flex>
            <v-flex lg1></v-flex>
            <v-flex lg1>
                <v-subheader>ถึง :</v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-text-field solo mask="time" label="hh:mm" v-model="newForm.timeend" v-validate="'required|max_value:2359'"
                    :error-messages="errors.collect('newForm.timeend')" data-vv-name="newForm.timeend"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5>
            <v-flex lg2>
                <v-subheader>
                    สถานะ :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-select solo :items="[{name:'ยังไม่เปิด',value:0},{name:'ปิดรับสมัคร',value:1},{name:'เปิดรับสมัคร',value:2}]"
                    item-text="name" item-value="value" label="กรุณาเลือกสถานะ" v-model="newForm.status" v-validate="'required'"
                    :error-messages="errors.collect('newForm.status')" data-vv-name="newForm.status"></v-select>
            </v-flex>
        </v-layout>
        <v-layout justify-end>
            <v-btn color="red darken-3" dark @click="ClearForm()">กลับ</v-btn>
            <v-btn color="grey darken-3" dark @click="AddForm()" :loading="loadSaveProduct">เพิ่ม</v-btn>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'NewExam',
        $_veeValidate: {
            validator: 'new'
        },
        data() {
            return {
                menu5:false,
                menu4:false,
                menu3:false,
                menu2: false,
                menu: false,
                newForm: {
                    startdate: null,
                    enddate: null,
                    name: null,
                    category: null,
                    price: '',
                    limit: 0,
                    people: null,
                    timestart: null,
                    timeend: null,
                    dateexam: null,
                    status: null,
                    type : null,
                    email_result : null,
                    email_seat : null,
                },
                loadSaveProduct: false,
            }
        },
        computed: {
            getCategory_Course() {
                let store = this.$store.state.moduleProduct.category;
                return store;
            },
        },
        methods: {
            AddForm() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยันเพิ่มหลักสูตร?',
                            text: 'ตรวจสอบความถูกต้องของหลักสูตรให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                this.loadSaveProduct = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'content-type': 'multipart/form-data'
                                    }
                                }
                                fd.append('form', JSON.stringify(this.newForm));
                                axios.post('AddNewExam', fd, config)
                                    .then((res) => {
                                        console.log(res.data);
                                        vm.$swal({
                                            title: 'สำเร็จ',
                                            type: 'success',
                                            text: 'เพิ่มทดสอบหลักสูตรสำเร็จ'
                                        })
                                    })
                                    .catch((err) => {
                                        vm.$swal({
                                            title: 'ล้มเหลว',
                                            type: 'error',
                                            text: err
                                        })
                                    })
                                    .then(() => {
                                        this.ClearForm();
                                        this.$store.dispatch('getAllExam');
                                        this.loadSaveProduct = false;
                                    })
                            }
                        });
                    }
                });
            },
            async ClearForm() {
                this.newForm.startdate = null
                this.newForm.enddate = null
                this.newForm.name = null
                this.newForm.category = null
                this.newForm.price = ''
                this.newForm.limit = false
                this.newForm.people = null
                this.newForm.timestart = null
                this.newForm.timeend = null
                this.newForm.dateexam = null
                this.newForm.status = null
                this.newForm.email_result = null
                this.newForm.email_seat = null
                this.loadSaveProduct = await false
                let Clear = await this.$validator.errors.clear();
                this.$router.back();
            },
        },
        mounted() {}
    }

</script>

<style lang="scss">
    .v-subheader {
        color: black !important;
    }

    .main_file {
        border: 1px solid #f3f3f3;

        >img {
            display: block;
            max-width: 100%;
            height: auto;
            cursor: pointer;
        }
    }

</style>
