<template>
    <v-flex>
        <v-layout row wrap>
            <v-flex xs12 md3 pa-3>
                <v-card color="blue-grey darken-1" class="white--text">
                    <v-card-title primary-title pa-2>

                        <v-layout row align-center>
                            <v-flex xs12>
                                <v-btn icon dark large>
                                <v-icon large>shopping_cart</v-icon>
                            </v-btn>
                            </v-flex>
                            <v-flex sm6 md9>
                                <h1 class="title-home">{{order.length}} Orders</h1>
                            </v-flex>
                        </v-layout>

                    </v-card-title>
                    <v-card-actions>
                        <router-link to="/admin/orderCourse">
                            <v-btn flat dark>Go to Order</v-btn>
                        </router-link>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex xs12 md3 pa-3>
                <v-card color="blue-grey darken-1" class="white--text">
                    <v-card-title primary-title pa-2>

                        <v-layout row align-center>
                            <v-flex xs12>
                                <v-btn icon dark large>
                                <v-icon large>edit</v-icon>
                            </v-btn>
                            </v-flex>
                            <v-flex sm6 md9>
                                <h1 class="title-home">{{Exam.length}} Exams</h1>
                            </v-flex>
                        </v-layout>

                    </v-card-title>
                    <v-card-actions>
                        <router-link to="/admin/Exam/1">
                            <v-btn flat dark>Go to Exam</v-btn>
                        </router-link>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex xs12 md3 pa-3>
                <v-card color="blue-grey darken-1" class="white--text">
                    <v-card-title primary-title pa-2>

                        <v-layout row align-center>
                            <v-flex xs12>
                                <v-btn icon dark large>
                                <v-icon large>work</v-icon>
                            </v-btn>
                            </v-flex>
                            <v-flex sm6 md9>
                                <h1 class="title-home">{{Course.length}} Courses</h1>
                            </v-flex>
                        </v-layout>

                    </v-card-title>
                    <v-card-actions>
                        <router-link to="/admin/orderCourse">
                            <v-btn flat dark>Go to Course</v-btn>
                        </router-link>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex xs12 md3 pa-3>
                <v-card color="blue-grey darken-1" class="white--text">
                    <v-card-title primary-title pa-2>

                        <v-layout row align-center>
                            <v-flex xs12>
                                <v-btn icon dark large>
                                <v-icon large>people</v-icon>
                            </v-btn>
                            </v-flex>
                            <v-flex sm6 md9>
                                <h1 class="title-home">{{(allmember.length)}} Mebers</h1>
                            </v-flex>
                        </v-layout>

                    </v-card-title>
                    <v-card-actions>
                        <router-link to="/admin/Member">
                            <v-btn flat dark>Go to Member</v-btn>
                        </router-link>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'HomePage',
        computed : {
            allmember(){
                let store = this.$store.state.moduleUser.member;
                return store;
            },
            order(){
                let store = this.$store.state.moduleProduct.allorder;
                return store;
            },
            Exam(){
                let store = this.$store.state.moduleProduct.exam;
                return store;
            },
            Course(){
                let store = this.$store.state.moduleProduct.course;
                return store;
            },

        }
    }

</script>

<style>
    .title-home{
        font-size: 1.75em!important;
    }
</style>
