<template>
    <v-flex>
        <v-layout row justify-center>
            <v-flex xs12 sm10>
                <v-toolbar-title>Order Code : {{orderByID.order_code}}</v-toolbar-title>
            </v-flex>
        </v-layout>
        <v-layout row my-4>
            <v-flex xs12 sm6 offset-sm3>
                <v-card>
                    <v-list two-line>
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="indigo">account_circle</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{orderByID.u_name_TH}}</v-list-tile-title>
                                <v-list-tile-sub-title>ชื่อ-นามสกุล</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-action>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{orderByID.u_name}}</v-list-tile-title>
                                <v-list-tile-sub-title>Fullname</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="indigo">phone</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{orderByID.u_tel}}</v-list-tile-title>
                                <v-list-tile-sub-title>เบอร์โทรศัพท์</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="indigo">mail</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{orderByID.u_email}}</v-list-tile-title>
                                <v-list-tile-sub-title>Email</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="indigo">location_on</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{orderByID.order_address}}</v-list-tile-title>
                                <v-list-tile-sub-title>ที่อยู่</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                         <v-list-tile>
                            <v-list-tile-action>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{orderByID.order_address_slip}}</v-list-tile-title>
                                <v-list-tile-sub-title>ที่อยู่ที่ต้องการให้ออกใบเสร็จ</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="indigo">attach_money</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{formatMoney(orderByID.order_discount)}} บาท</v-list-tile-title>
                                <v-list-tile-sub-title>ส่วนลด</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-action>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{formatMoney(orderByID.order_price - orderByID.order_discount)}}
                                    บาท</v-list-tile-title>
                                <v-list-tile-sub-title>ราคาทั้งหมด</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="indigo">info</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    <label v-if="orderByID.order_status == 0">รอชำระเงิน</label>
                                    <label v-else-if="orderByID.order_status == 1">ชำระเงินแล้ว</label>
                                </v-list-tile-title>
                                <v-list-tile-sub-title>สถานะ</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>
        <v-divider inset></v-divider>
        <v-layout row mt-4 justify-center>
            <v-flex xs12 sm10>
                <v-toolbar-title>List</v-toolbar-title>
                <v-layout row pa-3 justify-center>
                    <v-flex xs12 sm10 v-if="orderByID.order_type == 2">
                        <v-data-table :items="orderDetail.filter((q)=>q.order_id == orderByID.order_id)" class="elevation-1"
                            hide-headers hide-actions>
                            <template slot="items" slot-scope="props">
                                <td class="text-lg-center pa-2">
                                    <img v-if="props.item.course_img != null" class="img-table" :src="'/CoursePicture/'+props.item.course_img">
                                    <img v-else class="img-table" src="/img/default-img.png">
                                </td>
                                <td class="text-lg-center">{{ props.item.course_name }}</td>
                                <td class="text-lg-center">{{ props.item.course_price }} บาท</td>
                            </template>
                        </v-data-table>
                    </v-flex>
                    <v-flex xs12 sm8 v-else>
                        <v-data-table :items="orderDetail.filter((q)=>q.order_id == orderByID.order_id)" class="elevation-1"
                            hide-headers hide-actions>
                            <template slot="items" slot-scope="props">
                                <td class="text-lg-center">{{ props.item.ex_name }}</td>
                                <td class="text-lg-center">{{ props.item.ex_price }} บาท</td>
                            </template>
                        </v-data-table>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
        <v-layout justify-end>
            <v-btn color="red darken-3" dark @click="$router.back();">กลับ</v-btn>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'orderDetail',
        data() {
            return {
                headersCourse: [{
                        text: 'Order Code',
                        align: 'center',
                        sortable: true,
                        value: 'order_code'
                    },
                    {
                        text: 'ยอดรวม',
                        sortable: false,
                        align: 'center'
                    },
                    {
                        text: 'ยอดสั่งซื้อ',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'ส่วนลด',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'ผู้สั่ง',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'วันที่',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'สถานะ',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'อื่นๆ',
                        align: 'center',
                        sortable: false
                    }
                ]
            }

        },
        computed: {
            orderByID() {
                let store = this.$store.getters.orderByID(this.$route.params.id);
                return store;
            },
            orderDetail() {
                let store = this.$store.state.moduleProduct.orderDetail;
                let result = _.concat(store.course, store.exam);
                return result;
            },
            province() {
                let store = this.$store.state.moduleAddress.province;
                return store;
            },
            district() {
                let store = this.$store.state.moduleAddress.district;
                return store;
            },
            amphur() {
                let store = this.$store.state.moduleAddress.amphur;
                return store;
            }
        },
        methods: {
            getAddress(add, p, a, d, c) {
                let address = '';
                if (p == null || p == undefined) {
                    return " ";
                } else {
                    let prov = this.province.find((q) => q.PROVINCE_ID == p);
                    let amph = this.amphur.find((q) => q.AMPHUR_ID == a);
                    let dist = this.district.find((q) => q.DISTRICT_ID == d);
                    if (p == 1) {
                        address = add + " " + dist.DISTRICT_NAME + " " + amph.AMPHUR_NAME + " " + prov.PROVINCE_NAME +
                            " " + c;
                    } else {
                        address = add + " " + "ต." + dist.DISTRICT_NAME + " อ." + amph.AMPHUR_NAME + " จ." + prov.PROVINCE_NAME +
                            " " + c;
                    }
                    return address;
                }
            },
            formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;
                    const negativeSign = amount < 0 ? "-" : "";
                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;
                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g,
                        "$1" + thousands);
                } catch (e) {}
            }
        }
    }

</script>

<style lang="scss">
    .elevation-1 {
        td {
            >.img-table {
                display: block;
                max-width: 100px;
                height: auto;
            }
        }
    }

</style>
