<template>
    <v-flex>
        <v-layout row mt-3 align-center>
            <v-toolbar-title>
                ส่วนลดเเละโปรโมชั่น
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="teal darken-3" dark @click="dialog = true">
                <v-icon>add</v-icon>
                เพิ่มส่วนลด
            </v-btn>
        </v-layout>
        <v-layout row justify-center mt-2>
            <v-flex lg12 xl10>
                <v-data-table :headers="headers" :items="getPromotion" class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td class="text-lg-center">{{ props.item.pro_code }}</td>
                        <td class="text-lg-center">
                            <strong v-if="props.item.pro_type==1">{{ props.item.pro_discount }} %</strong>
                            <strong v-else-if="props.item.pro_type==2">{{ props.item.pro_discount }} บาท</strong>
                        </td>
                        <td class="text-lg-center">
                            {{ props.item.pro_datestart }} <strong>-</strong> {{props.item.pro_dateend }}
                        </td>
                        <td class="text-lg-center">
                            <select class="input-select" v-model="getPromotion[getPromotion.indexOf(props.item)].pro_status"
                                @change="ChangeStatus(getPromotion.indexOf(props.item))">
                                <option value="0">unpublish</option>
                                <option value="1">publish</option>
                            </select>
                        </td>
                        <td class="text-lg-center">
                            <v-icon @click="deleteItem(props.item.pro_id)">
                                delete
                            </v-icon>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
        <v-dialog v-model="dialog" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-3" primary-title>
                    เพิ่มส่วนลด
                </v-card-title>
                <v-card-text>
                    <v-layout mt-4>
                        <v-flex lg3>
                            <v-subheader>โค้ดส่วนลด : </v-subheader>
                        </v-flex>
                        <v-flex lg9>
                            <v-text-field solo v-model="newForm.code" v-validate="'required'" :error-messages="errors.collect('newForm.code')"
                                data-vv-name="newForm.code"></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex lg3>
                            <v-subheader>รูปแบบ : </v-subheader>
                        </v-flex>
                        <v-flex lg3>
                            <v-select solo :items="[{name:'%',value : 1},{name:'THB',value : 2}]" item-text="name"
                                item-value="value" v-model="newForm.type"></v-select>
                        </v-flex>
                        <v-flex lg3>
                            <v-subheader>จำนวน : </v-subheader>
                        </v-flex>
                        <v-flex lg3>
                            <v-text-field solo v-if="newForm.type==1" label="%" v-model="newForm.discount" v-validate="'required|max_value:100'"
                                :error-messages="errors.collect('newForm.discount')" data-vv-name="newForm.discount"></v-text-field>
                            <v-text-field solo v-else label="THB" v-model="newForm.discount" v-validate="'required'"
                                :error-messages="errors.collect('newForm.discount')" data-vv-name="newForm.discount"></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex lg3>
                            <v-subheader>เริ่ม :</v-subheader>
                        </v-flex>
                        <v-flex lg3>
                            <v-menu :close-on-content-click="false" v-model="menu" :nudge-right="40" lazy transition="scale-transition"
                                offset-y full-width min-width="290px">
                                <v-text-field solo slot="activator" v-model="newForm.datestart" label="เลือกวันที่"
                                    v-validate="'required'" :error-messages="errors.collect('newForm.datestart')"
                                    data-vv-name="newForm.datestart" readonly></v-text-field>
                                <v-date-picker color="indigo" v-model="newForm.datestart" @input="menu = false"></v-date-picker>
                            </v-menu>
                        </v-flex>
                        <v-flex lg3>
                            <v-subheader>สิ้นสุด :</v-subheader>
                        </v-flex>
                        <v-flex lg3>
                            <v-menu :close-on-content-click="false" v-model="menu2" :nudge-right="40" lazy transition="scale-transition"
                                offset-y full-width min-width="290px">
                                <v-text-field solo slot="activator" v-model="newForm.dateend" label="เลือกวันที่"
                                    v-validate="'required'" :error-messages="errors.collect('newForm.dateend')"
                                    data-vv-name="newForm.dateend" readonly></v-text-field>
                                <v-date-picker color="indigo" v-model="newForm.dateend" @input="menu2 = false"></v-date-picker>
                            </v-menu>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex lg3>
                            <v-subheader>สถานะ : </v-subheader>
                        </v-flex>
                        <v-flex lg9>
                            <v-select solo :items="[{name:'unpublish',value : 0},{name:'publish',value : 1}]" item-text="name"
                                item-value="value" v-model="newForm.status"></v-select>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-3" small @click="dialog = false" dark>
                        ปิด
                    </v-btn>
                    <v-btn color="grey darken-3" small @click="AddPromotion()" dark :loading="loadAdd">
                        เพิ่ม
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    export default {
        name: 'PromotionPage',
        data() {
            return {
                headers: [{
                        text: 'โค้ดส่วนลด',
                        value: 'ex_name',
                        align: 'center'
                    },
                    {
                        text: 'ลดราคา',
                        value: 'c_name',
                        align: 'center'
                    },
                    {
                        text: 'วันที่',
                        value: 'ex_people',
                        align: 'center'
                    },
                    {
                        text: 'สถานะ',
                        value: 'ex_price',
                        align: 'center'
                    },
                    {
                        text: 'อื่นๆ',
                        value: 'name',
                        sortable: false,
                        align: 'center'
                    },
                ],
                dialog: false,
                menu2: false,
                menu: false,
                newForm: {
                    code: null,
                    type: 1,
                    discount: null,
                    datestart: null,
                    dateend: null,
                    status: 0
                },
                loadAdd: false
            }
        },
        computed: {
            getPromotion() {
                let store = this.$store.state.moduleProduct.promotion;
                return store;
            }
        },
        methods: {
            AddPromotion() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยันเพิ่มหลักสูตร?',
                            text: 'ตรวจสอบความถูกต้องของหลักสูตรให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                vm.loadAdd = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'content-type': 'multipart/form-data'
                                    }
                                }
                                fd.append('form', JSON.stringify(vm.newForm));
                                axios.post('AddNewPromotion', fd, config)
                                    .then((res) => {
                                        console.log(res.data);
                                        vm.$swal({
                                            title: 'สำเร็จ',
                                            type: 'success',
                                            text: 'เพิ่มส่วนลดสำเร็จ'
                                        })
                                    })
                                    .catch((err) => {
                                        vm.$swal({
                                            title: 'ล้มเหลว',
                                            type: 'error',
                                            text: err
                                        })
                                    })
                                    .then(() => {
                                        vm.ClearForm();
                                        vm.$store.dispatch('getAllPromotion');
                                        vm.loadAdd = false;
                                    })
                            }
                        });
                    }
                });
            },
            async ClearForm() {
                this.newForm.code = await null;
                this.newForm.type = await 1;
                this.newForm.discount = await null;
                this.newForm.datestart = await null;
                this.newForm.dateend = await null;
                this.newForm.status = await 0;
                let Clear = await this.$validator.errors.clear();
                this.dialog = await false;
            },
            ChangeStatus(index) {
                const vm = this;
                const id = vm.getPromotion[index].pro_id;
                const value = vm.getPromotion[index].pro_status;
                axios.post('ChangeStatusPromotion', {
                        id: id,
                        status: value
                    })
                    .then((res) => {
                        vm.$swal({
                            title: 'สำเร็จ',
                            type: 'success',
                            text: 'อัพเดทสถานะสำเร็จ'
                        })
                    })
                    .catch((err) => {
                        vm.$swal({
                            title: 'ล้มเหลว',
                            type: 'error',
                            text: err
                        })
                    })
                    .then(() => {
                        vm.$store.dispatch('getAllPromotion');
                    })
            },
            deleteItem(id){
                const vm = this;
                vm.$swal({
                    title: 'คุณแน่ใจที่จะลบ?',
                    text: 'เมื่อลบแล้วไม่สามารถกู้ข้อมูลกลับมาได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('DeletePromotion/'+id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบส่วนลดสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$store.dispatch('getAllPromotion');
                            })
                    }
                });
            }
        }
    }

</script>

<style>
    .v-subheader {
        color: black !important;
    }

    .input-select {
        border: 1px solid #c3c3c3;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

</style>
