<template>
    <v-container>
        <v-layout>

        </v-layout>
    </v-container>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
