<template>
    <v-footer color="teal darken-3" app inset>
        <v-layout justify-center>
            <span class="white--text">&copy; มหาวิทยาลัยเกษตรศาสตร์</span>
        </v-layout>
    </v-footer>
</template>

<script>
    export default {
        name : 'FooterBar',
        mounted() {

        }
    }

</script>
