<template>
    <v-toolbar color="teal darken-3" dark fixed app>
        <v-toolbar-side-icon v-on:click.stop="$emit('switch')"></v-toolbar-side-icon>
        <v-toolbar-title>
            <v-icon>account_circle</v-icon>
            Administrator
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <a class="gotolink" href="/Home">Go to page</a>
    </v-toolbar>
</template>

<script>
    export default {
        name : 'NavBar',
        mounted() {

        }
    }

</script>
<style>
    .gotolink{
        color: white!important
    }
</style>
