<template>
    <v-navigation-drawer fixed v-model="ToggleVar" app>
        <v-list dense>
            <v-list-tile ripple :to="{name: '/admin/home'}">
                <v-list-tile-action>
                    <v-icon>home</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Home</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-group prepend-icon="settings" no-action>
                <v-list-tile slot="activator">
                    <v-list-tile-title>จัดการ Page</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple to="/admin/PageManage/Home">
                    <v-list-tile-title>หน้าแรก</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple to="/admin/PageManage/About">
                    <v-list-tile-title>เกี่ยวกับเรา</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple to="/admin/PageManage/News">
                    <v-list-tile-title>ข่าวสาร/กิจกรรม</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple to="/admin/PageManage/Gallary">
                    <v-list-tile-title>แกลลอรี่</v-list-tile-title>
                </v-list-tile>
                <!--<v-list-tile ripple to="/admin/PageManage/Contact">
                    <v-list-tile-title>ติดต่อเรา</v-list-tile-title>
                </v-list-tile>-->
                <v-list-tile ripple to="/admin/PageManage/Banner">
                    <v-list-tile-title>จัดการ Banner</v-list-tile-title>
                </v-list-tile>
            </v-list-group>
            <v-list-group prepend-icon="work" no-action>
                <v-list-tile slot="activator">
                    <v-list-tile-title>หลักสูตรอบรม</v-list-tile-title>
                </v-list-tile>
                <v-list-tile v-for="x in getCategory_Course" :key="x.id" ripple :to="{name: '/admin/Course' , params: {id: x.c_id}}">
                    <v-list-tile-title>{{x.c_name}}</v-list-tile-title>
                </v-list-tile>
            </v-list-group>
            <v-list-group prepend-icon="create" no-action>
                <v-list-tile slot="activator">
                    <v-list-tile-title>ทดสอบหลักสูตร</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple :to="{name: '/admin/Exam' , params: {id: 1}}">
                    <v-list-tile-title>KU-EPT</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple :to="{name: '/admin/Exam' , params: {id: 2}}">
                    <v-list-tile-title>TOEFL ITP</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple :to="{name: '/admin/Exam' , params: {id: 3}}">
                    <v-list-tile-title>KU-EXITE</v-list-tile-title>
                </v-list-tile>
            </v-list-group>
            <v-list-group prepend-icon="shopping_cart" no-action>
                <v-list-tile slot="activator">
                    <v-list-tile-title>รายการสั่งซื้อ</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple to="/admin/orderCourse">
                    <v-list-tile-title>หลักสูตรอบรม</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple to="/admin/orderExam">
                    <v-list-tile-title>ทดสอบหลักสูตร</v-list-tile-title>
                </v-list-tile>
            </v-list-group>
            <v-list-tile ripple to="/admin/Promotion">
                <v-list-tile-action>
                    <v-icon>attach_money</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>ส่วนลด</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile ripple to="/admin/Member">
                <v-list-tile-action>
                    <v-icon>people</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>สมาชิก</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile ripple to="/admin/ExamContent">
                <v-list-tile-action>
                    <v-icon>local_library</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>บริการจัดการทดสอบทางภาษา</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-group prepend-icon="help" no-action>
                <v-list-tile slot="activator">
                    <v-list-tile-title>ช่วยเหลือ</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple to="/admin/Help/ขั้นตอนการสมัคร">
                    <v-list-tile-title>ขั้นตอนการสมัคร</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple to="/admin/Help/การสอบ_KU_EPT">
                    <v-list-tile-title>การสอบ KU-EPT</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple to="/admin/Help/การสอบ_KU_EXITE">
                    <v-list-tile-title>การสอบ KU-EXITE</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple to="/admin/Help/การสอบ_TOEFL_ITP">
                    <v-list-tile-title>การสอบ TOEFL ITP</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple to="/admin/Help/ปัญหาที่พบบ่อย_FAQ">
                    <v-list-tile-title>ปัญหาที่พบบ่อย (FAQ)</v-list-tile-title>
                </v-list-tile>
            </v-list-group>
            <v-list-tile @click="logout()">
                <v-list-tile-action>
                    <v-icon>meeting_room</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Logout</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: 'SideBar',
        props: {
            drawer: Boolean
        },
        computed : {
            getCategory_Course(){
                let store = this.$store.state.moduleProduct.category;
                return store;
            }
        },
        mounted() {

        },
        data() {
            return {
                ToggleVar: null,
            }
        },
        watch: {
            drawer(val) {
                this.ToggleVar = val;
            }
        },
        methods : {
            logout(){
                localStorage.removeItem("userID");
                this.$store.commit("destroyUser");
                window.location.assign("/logout");
            }
        }
    }

</script>

<style scoped>

</style>
