<template>
    <v-flex lg12 xl8 mt-3>
        <v-layout justify-start>
            <h2>
                <v-icon>edit</v-icon>
                บริการจัดการทดสอบทางภาษา
            </h2>
        </v-layout>
        <v-layout justify-center px-5 mt-5>
            <!-- file -->
            <v-flex class="main_file" lg6>
                <img v-if="otherNewsByID.othernews_img==null && main_img==null" src="/img/default-img.png" v-tooltip="'Click to upload !'" onclick="mainmodal_file.click()">
                <img v-else-if="main_img!=null" :src="main_img" v-tooltip="'Click to upload !'" onclick="mainmodal_file.click()">
                <img v-else :src="'/OtherNewsPicture/'+otherNewsByID.othernews_img" class="n_img" v-tooltip="'Click to upload !'" onclick="mainmodal_file.click()">
                <input accept="image/*" type="file" name="main_file" id="mainmodal_file" style="display:none"
                    v-on:change="onFileChange" ref="main_file">
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5 mt-5>
            <v-flex lg2>
                <v-subheader>
                    หัวข้อ :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-text-field solo v-model="otherNewsByID.othernews_title" v-validate="'required'" :error-messages="errors.collect('otherNewsByID.othernews_title')"
                    data-vv-name="otherNewsByID.othernews_title"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5 style="margin-bottom:28px;">
            <v-flex lg2>
                <v-subheader>
                    รายละเอียด :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config" v-model="otherNewsByID.othernews_content"></editor-tiny>
            </v-flex>
        </v-layout>
        <v-layout justify-end>
            <v-btn color="red darken-3" dark @click="ClearForm()">กลับ</v-btn>
            <v-btn color="grey darken-3" dark @click="EditForm()" :loading="loadSaveProduct">เพิ่ม</v-btn>
        </v-layout>
    </v-flex>
</template>

<script>
import Editor from '@tinymce/tinymce-vue';
    export default {
        name: 'EditOthernews',
        $_veeValidate: {
            validator: 'new'
        },
        data() {
            return {
                edit_config: {
                    plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor colorpicker textpattern"
                    ],
                    relative_urls: false,
                    file_browser_callback: function (field_name, url, type, win) {
                        var x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName(
                            'body')[0].clientWidth;
                        var y = window.innerHeight || document.documentElement.clientHeight || document.getElementsByTagName(
                            'body')[0].clientHeight;
                        var cmsURL = '/laravel-filemanager?field_name=' + field_name;
                        if (type == 'image') {
                            cmsURL = cmsURL + "&type=Images";
                        } else {
                            cmsURL = cmsURL + "&type=Files";
                        }
                        tinyMCE.activeEditor.windowManager.open({
                            file: cmsURL,
                            title: 'Filemanager',
                            width: x * 0.8,
                            height: y * 0.8,
                            resizable: "yes",
                            close_previous: "no"
                        });
                    },
                    toolbar: 'forecolor backcolor fontsizeselect | undo redo | styleselect | alignleft aligncenter alignright | bold italic | bullist numlist | link image',
                    fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt'
                },
                main_img: null,
                main_file: null,
                loadSaveProduct: false,
            }
        },
        components : {
            'editor-tiny' : Editor
        },
        computed : {
            otherNewsByID(){
                let store = this.$store.getters.otherNewsByID(this.$route.params.id);
                return store;
            }
        },
        methods: {
            EditForm() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยัน?',
                            text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                this.loadSaveProduct = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'content-type': 'multipart/form-data'
                                    }
                                }
                                fd.append('file', this.main_file);
                                fd.append('form', JSON.stringify(this.otherNewsByID));
                                axios.post('EditOtherNews', fd, config)
                                    .then((res) => {
                                        console.log(res.data);
                                        vm.$swal({
                                            title: 'สำเร็จ',
                                            type: 'success',
                                            text: 'เพิ่มสำเร็จ'
                                        })
                                    })
                                    .catch((err) => {
                                        vm.$swal({
                                            title: 'ล้มเหลว',
                                            type: 'error',
                                            text: err
                                        })
                                    })
                                    .then(() => {
                                        this.$store.dispatch('getAllOtherNews');
                                        this.loadSaveProduct = false;
                                        this.ClearForm();
                                    })
                            }
                        });
                    }
                });
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
                this.main_file = e.target.files[0];
            },
            createImage(file) {
                var vm = this;
                vm.main_img = new Image();
                var reader = new FileReader();
                reader.onload = (e) => {
                    vm.main_img = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            async ClearForm() {
                this.main_img = await '/img/default-img.png'
                this.main_file = await null
                this.loadSaveProduct = await false
                let Clear = await this.$validator.errors.clear();
                this.$router.back();
            },
        },
    }

</script>

<style lang="scss">
    .v-subheader {
        color: black !important;
    }

    .main_file {
        >img {
            display: block;
            max-width: 100%;
            height: auto;
            cursor: pointer;
        }
    }

</style>
