<template>
    <v-flex>
        <v-layout row mt-3 align-center>
            <v-toolbar-title>
                <label>บริการจัดการทดสอบทางภาษา</label>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="teal darken-3" dark to="/admin/NewExamContent">
                <v-icon>add</v-icon>
                เพิ่มข่าวสาร
            </v-btn>
        </v-layout>
        <v-layout row justify-center mt-2>
            <v-flex md12 lg10 xl8>
                <v-data-table :headers="headers" :items="othernewsByCID" class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td class="text-lg-center pa-2">
                            <img v-if="props.item.othernews_img != null" class="img-table" :src="'/OtherNewsPicture/'+props.item.othernews_img">
                            <img v-else class="img-table" src="/img/default-img.png">
                        </td>
                        <td class="text-lg-center">{{ props.item.othernews_title }}</td>
                        <td class="text-lg-center">{{ props.item.created_at }}</td>
                        <td class="text-lg-center">
                            <v-icon @click="editItem(props.item.othernews_id)">
                                edit
                            </v-icon>
                            <v-icon @click="deleteItem(props.item)">
                                delete
                            </v-icon>
                        </td>
                    </template>

                </v-data-table>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'OtherNewsPage',
        data() {
            return {
                headers: [
                    {
                        text: '#',
                        sortable : false,
                        align: 'center'
                    },
                    {
                        text: 'หัวข้อ',
                        value: 'othernews_title',
                        align: 'center'
                    },
                    {
                        text: 'วันที่สร้าง',
                        value: 'created_at',
                        align: 'center'
                    },
                    {
                        text: 'อื่นๆ',
                        value: 'name',
                        sortable: false,
                        align: 'center',
                    },
                ],
            }
        },
        computed: {
            othernewsByCID(){
                let store = this.$store.getters.othernewsByCID(1);
                return store;
            }
        },
        watch: {

        },
        methods: {
            deleteItem(item) {
                const vm = this;
                vm.$swal({
                    title: 'คุณแน่ใจที่จะลบ?',
                    text: 'เมื่อลบแล้วไม่สามารถกู้ข้อมูลกลับมาได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        const id = item.othernews_id;
                        axios.delete('DeleteOtherNews/'+id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                this.$store.dispatch('getAllOtherNews');
                            })
                    }
                });
            },
            editItem(id){
                this.$router.push({ name: '/admin/EditExamContent', params: { id: id } })
            },
        }
    }

</script>

<style lang="scss">
.elevation-1 {
    td {
        padding: 20px;
        font-size: 14px !important;
        >.img-table {
            height: 100px;
            width: 100px;
        }

        .warning {
            color: #EF6C00;
            background-color: inherit !important;
        }

        .error {
            color: #C62828;
            background-color: inherit !important;
        }

        .success {
            color: #00695C;
            background-color: inherit !important;
        }
    }
}

</style>
