<template>
    <v-flex>
        <v-layout row mt-3 align-center>
            <v-toolbar-title>
                <h3 class="headline mb-0">จัดการแบนเนอร์</h3>
            </v-toolbar-title>
        </v-layout>
        <v-layout row justify-center mt-4>
            <v-flex lg12 xl10>
                <v-data-table :headers="headers" :items="getAllBanner" class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td class="text-lg-center">
                            <img v-if="props.item.banner_img != null" :src="'/BannerPicture/'+props.item.banner_img" alt="">
                            <img v-else src="https://via.placeholder.com/1920x250" alt="">
                        </td>
                        <td class="text-lg-center">{{ props.item.banner_name }}</td>
                        <td class="text-lg-center">{{ props.item.banner_title }}</td>
                        <td class="text-lg-center">{{ props.item.updated_at }}</td>
                        <td class="text-lg-center">
                            <v-icon class="mr-2" @click="editItem(props.item)">
                                edit
                            </v-icon>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
        <v-dialog v-model="dialog" width="600">
            <v-card>
                <v-card-title class="headline grey lighten-3" primary-title>
                    แก้ไขเเบนเนอร์
                </v-card-title>
                <v-card-text>
                    <v-layout mt-3 justify-center>
                        <v-flex class="main_file" lg6>
                            <img v-if="main_img==null && editForm.img==null" src="https://via.placeholder.com/1920x250" v-tooltip="'Click to upload !'"
                                onclick="mainmodal_file.click()">
                            <img v-else-if="main_img==null && editForm.img!=null" :src="'/BannerPicture/' + editForm.img"
                                v-tooltip="'Click to upload !'" onclick="mainmodal_file.click()">
                            <img v-else-if="main_img!=null" :src="main_img" v-tooltip="'Click to upload !'" onclick="mainmodal_file.click()">
                            <input accept="image/*" type="file" name="main_file" id="mainmodal_file" style="display:none"
                                v-on:change="onFileChange" ref="main_file">
                        </v-flex>
                    </v-layout>
                    <v-layout mt-3>
                        <v-flex lg3>
                            <v-subheader>title : </v-subheader>
                        </v-flex>
                        <v-flex lg9>
                            <v-text-field solo v-model="editForm.title"></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex lg3>
                            <v-subheader>subtitle : </v-subheader>
                        </v-flex>
                        <v-flex lg9>
                            <v-text-field solo v-model="editForm.subtitle"></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-3" small @click="ClearForm()" dark>
                        ปิด
                    </v-btn>
                    <v-btn color="grey darken-3" small @click="EditBanner()" dark :loading="loadSave">
                        เพิ่ม
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    export default {
        name: 'BannerManage',
        data() {
            return {
                headers: [{
                        text: '#',
                        sortable: false,
                        align: 'center',
                        width: '300',
                    },
                    {
                        text: 'หน้า',
                        align: 'center',
                        value: 'banner_name'
                    },
                    {
                        text: 'Title',
                        align: 'center',
                        value: 'banner_title'
                    },
                    {
                        text: 'แก้ไขล่าสุด',
                        align: 'center',
                        value: 'updated_at'
                    },
                    {
                        text: 'อื่นๆ',
                        sortable: false,
                        align: 'center'
                    },
                ],
                dialog: false,
                main_file: null,
                main_img: null,
                editForm: {
                    title: null,
                    subtitle: null,
                    img: null,
                    id: null,
                },
                loadSave: false
            }
        },
        computed: {
            getAllBanner() {
                let store = this.$store.state.moduleContent.banner;
                return store;
            }
        },
        methods: {
            editItem(item) {
                let index = this.getAllBanner.indexOf(item);
                this.editForm.title = this.getAllBanner[index].banner_title;
                this.editForm.subtitle = this.getAllBanner[index].banner_subtitle;
                this.editForm.img = this.getAllBanner[index].banner_img;
                this.editForm.id = this.getAllBanner[index].banner_id;
                this.dialog = true;
            },
            EditBanner() {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยัน?',
                    text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        vm.loadSave = true;
                        let fd = new FormData();
                        const config = {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        }
                        fd.append('file', vm.main_file);
                        fd.append('form', JSON.stringify(vm.editForm));
                        axios.post('EditBanner', fd, config)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'แก้ไขสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.loadSave = false;
                                vm.$store.dispatch('getAllBanner');
                                vm.ClearForm();
                            })
                    }
                });
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
                this.main_file = e.target.files[0];
            },
            createImage(file) {
                var vm = this;
                vm.main_img = new Image();
                var reader = new FileReader();
                reader.onload = (e) => {
                    vm.main_img = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            ClearForm(){
                this.editForm.title = null;
                this.editForm.subtitle = null;
                this.editForm.img = null;
                this.editForm.id = null;
                this.main_file = null,
                this.main_img = null,
                this.dialog = false;
            }
        }
    }

</script>

<style lang="scss">
    .red {
        color: red;
        background-color: inherit !important;
    }

    .green {
        color: green;
        background-color: inherit !important;
    }

    td {
        img {
            width: 100%;
            height: auto;
        }
    }

    .main_file {
        border: 1px solid #f3f3f3;

        >img {
            display: block;
            max-width: 100%;
            height: auto;
            cursor: pointer;
        }
    }

</style>
