<template>
    <v-flex mt-4>
        <v-container v-show="editToggle==true">
            <v-layout justify-center>
                <v-flex lg12 xl10>
                    <v-card>
                        <v-card-title class="teal darken-3">
                            <span class="headline white--text">ติดต่อเรา</span>
                            <v-spacer></v-spacer>
                            <v-btn fab small color="white" @click="EditClick()">
                                <v-icon>edit</v-icon>
                            </v-btn>
                        </v-card-title>
                        <v-card-text v-html="getContentContact.ct_text">

                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
        <v-container v-show="editToggle==false">
            <v-layout justify-center>
                <v-flex lg10>
                    <v-layout justify-center>
                        <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config" v-model="editForm.text"></editor-tiny>
                    </v-layout>
                    <v-layout justify-end mt-4>
                        <v-btn color="red darken-3" small @click="editToggle = true" dark>
                            กลับ
                        </v-btn>
                        <v-btn color="grey darken-3" small @click="EditContent()" dark :loading="loadEdit">
                            แก้ไข
                        </v-btn>
                    </v-layout>
                </v-flex>
            </v-layout>
        </v-container>
    </v-flex>
</template>

<script>
    import Editor from '@tinymce/tinymce-vue';
    export default {
        name: 'ContactPageManage',
        components: {
            'editor-tiny': Editor
        },
        data() {
            return {
                edit_config: {
                    plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor colorpicker textpattern "
                    ],
                    relative_urls: false,
                    file_browser_callback: function (field_name, url, type, win) {
                        var x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName(
                            'body')[0].clientWidth;
                        var y = window.innerHeight || document.documentElement.clientHeight || document.getElementsByTagName(
                            'body')[0].clientHeight;
                        var cmsURL = '/laravel-filemanager?field_name=' + field_name;
                        if (type == 'image') {
                            cmsURL = cmsURL + "&type=Images";
                        } else {
                            cmsURL = cmsURL + "&type=Files";
                        }
                        tinyMCE.activeEditor.windowManager.open({
                            file: cmsURL,
                            title: 'Filemanager',
                            width: x * 0.8,
                            height: y * 0.8,
                            resizable: "yes",
                            close_previous: "no"
                        });
                    },
                    height: "500",
                    toolbar: 'forecolor backcolor fontsizeselect | undo redo | styleselect | alignleft aligncenter alignright | bold italic | bullist numlist | link image',
                    fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt'
                },
                active: null,
                editToggle: true,
                loadEdit: false,
                editForm: {
                    content: null,
                    text: '',
                    id: null
                }
            }
        },
        computed: {
            getContentContact(){
                let store = this.$store.getters.getContentContact;
                return store;
            }
        },
        methods: {
            EditClick() {
                this.editToggle = false;
                this.editForm.content = this.getContentContact.ct_content;
                this.editForm.text = this.getContentContact.ct_text;
                this.editForm.id = this.getContentContact.ct_id;
            },
            EditContent() {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยันแก้ไข?',
                    text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        vm.loadEdit = true;
                        axios.post('EditContent', {
                                form: JSON.stringify(vm.editForm)
                            })
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'แก้ไขสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$store.dispatch('getAllContent');
                                vm.loadEdit = false;
                                vm.editToggle = true;
                            })
                    }
                });
            }
        }
    }

</script>

<style>

</style>
