<template>
    <v-flex>
        <v-layout row mt-3 align-center>
            <v-toolbar-title v-if="getCategory!=undefined">{{getCategory.c_name}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="teal darken-3" dark to="/admin/NewCourse">
                <v-icon>add</v-icon>
                เพิ่มหลักสูตรอบรม
            </v-btn>
        </v-layout>
        <v-layout row justify-center mt-2>
            <v-flex lg12 xl12>
                <v-data-table :headers="headers" :items="getCourseById" class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td class="text-lg-center pa-2">
                            <img v-if="props.item.course_img != null" class="img-table" :src="'/CoursePicture/'+props.item.course_img">
                            <img v-else class="img-table" src="/img/default-img.png">
                        </td>
                        <td class="text-lg-center">{{ props.item.course_name }}</td>
                        <td class="text-lg-center">{{ props.item.course_price }} บาท</td>
                        <td class="text-lg-center">{{props.item.course_unit}}/{{ props.item.course_people }} คน</td>
                        <td class="text-lg-center">
                            {{ props.item.course_datestart }} <strong>-</strong> {{props.item.course_dateend }}
                        </td>
                        <td class="text-lg-center">
                            {{ props.item.course_timestart }} <strong>-</strong> {{props.item.course_timeend }}
                        </td>
                        <td class="text-lg-center">
                            <label v-if="props.item.course_status==0" class="warning">ยังไม่เปิด</label>
                            <label v-else-if="props.item.course_status==1" class="error">ปิดรับสมัคร</label>
                            <label v-else-if="props.item.course_status==2" class="success">เปิดรับสมัคร</label>
                        </td>
                        <td class="text-lg-center">
                            <v-icon class="mr-2" @click="viewItem(props.item.course_id)">
                                people
                            </v-icon>
                            <v-icon class="mr-2" @click="editItem(props.item.course_id)">
                                edit
                            </v-icon>
                            <v-icon @click="deleteItem(props.item)">
                                delete
                            </v-icon>
                        </td>
                    </template>

                </v-data-table>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'CoursePage',
        data() {
            return {
                headers: [{
                        text: '#',
                        sortable: false,
                        value: 'name',
                        align: 'center'
                    },
                    {
                        text: 'ชื่อหลักสูตร',
                        value: 'course_name',
                        align: 'center'
                    },
                    {
                        text: 'ค่าธรรมเนียม',
                        value: 'course_price',
                        align: 'center'
                    },
                    {
                        text: 'จำนวนที่เปิดรับ',
                        value: 'course_people',
                        align: 'center'
                    },
                    {
                        text: 'วันที่อบรม',
                        value: 'course_datestart',
                        align: 'center'
                    },
                    {
                        text: 'เวลา',
                        value: 'course_timestart',
                        align: 'center'
                    },
                    {
                        text: 'สถานะ',
                        value: 'course_status',
                        align: 'center'
                    },
                    {
                        text: 'อื่นๆ',
                        value: 'name',
                        sortable: false,
                        align: 'center',
                        width : '150'
                    },
                ],
                dialog: false,
            }
        },
        computed: {
            getCategory() {
                let store = this.$store.getters.getCategory(this.$route.params.id);
                return store;
            },
            getCourseById() {
                let store = this.$store.getters.getCourseById(this.$route.params.id);
                return store;
            },
        },
        watch: {
            getCourseById(val) {
                this.loading = false;
            }
        },
        methods: {
            deleteItem(item) {
                const vm = this;
                vm.$swal({
                    title: 'คุณแน่ใจที่จะลบหลักสูตร?',
                    text: 'เมื่อลบแล้วไม่สามารถกู้ข้อมูลกลับมาได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        const id = item.course_id;
                        axios.delete('DeleteCourse/'+id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบหลักสูตรสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                this.$store.dispatch('getAllCourse');
                            })
                    }
                });
            },
            editItem(id){
                this.$router.push({ name: '/admin/EditCourse', params: { id: id } })
            },
            viewItem(id){
                this.$router.push({ name: '/admin/ViewCourse', params: { id: id } })
            }
        }
    }

</script>

<style lang="scss">
.elevation-1 {
    td {
        padding: 20px;
        font-size: 14px !important;
        >.img-table {
            display: block;
            max-width: 200px;
            height: auto;
        }

        .warning {
            color: #EF6C00;
            background-color: inherit !important;
        }

        .error {
            color: #C62828;
            background-color: inherit !important;
        }

        .success {
            color: #00695C;
            background-color: inherit !important;
        }
    }
}

</style>
