<template>
    <v-flex lg12 xl8 mt-3 v-if="!loading">
        <v-layout justify-start>
            <h2>
                <v-icon>edit</v-icon>
                แก้ไขหลักสูตรอบรม
            </h2>
        </v-layout>
        <v-layout justify-center px-5 mt-5>
            <!-- file -->
            <v-flex class="main_file" lg6>
                <img v-if="getEdit_Course.course_img==null && main_img==null" src="/img/default-img.png" v-tooltip="'Click to upload !'" onclick="mainmodal_file.click()">
                <img v-else-if="main_img!=null" :src="main_img" v-tooltip="'Click to upload !'" onclick="mainmodal_file.click()">
                <img v-else :src="'/CoursePicture/'+getEdit_Course.course_img" class="n_img" v-tooltip="'Click to upload !'" onclick="mainmodal_file.click()">
                <input accept="image/*" type="file" name="main_file" id="mainmodal_file" style="display:none"
                    v-on:change="onFileChange" ref="main_file">
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5 mt-3>
            <v-flex lg2>
                <v-subheader>
                    ชื่อหลักสูตร :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-text-field solo v-model="getEdit_Course.course_name" v-validate="'required'" :error-messages="errors.collect('editForm.name')"
                    data-vv-name="editForm.name"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5>
            <v-flex lg2>
                <v-subheader>
                    หมวดหมู่ :
                </v-subheader>
            </v-flex>
            <v-flex lg8>
                <v-select solo :items="getCategory_Course" item-text="c_name" item-value="c_id" label="กรุณาเลือกหมวดหมู่"
                    v-model="getEdit_Course.c_id" v-validate="'required'" :error-messages="errors.collect('getEdit_Course.c_id')"
                    data-vv-name="getEdit_Course.c_id"></v-select>
            </v-flex>
            <v-flex lg2>
                <v-btn color="grey darken-3" dark @click="dialog = true">เพิ่มหมวดหมู่</v-btn>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5>
            <v-flex lg2>
                <v-subheader>
                    title :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-textarea solo v-model="getEdit_Course.course_title"></v-textarea>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5 style="margin-bottom:28px;">
            <v-flex lg2>
                <v-subheader>
                    รายละเอียด :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config" v-model="getEdit_Course.course_description"></editor-tiny>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5>
            <v-flex lg2>
                <v-subheader>
                    ค่าธรรมเนียม :
                </v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-text-field solo v-model="getEdit_Course.course_price" v-validate="'required|numeric'" :error-messages="errors.collect('editForm.price')"
                    data-vv-name="editForm.price"></v-text-field>
            </v-flex>
            <v-flex lg2>
                <v-subheader>
                    จำนวนรับสมัคร :
                </v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-text-field solo v-model="getEdit_Course.course_people" v-validate="'required|numeric'" :error-messages="errors.collect('editForm.people')"
                    data-vv-name="editForm.people"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout px-5>
            <v-flex lg2>
                <v-subheader>เริ่มอบรมวันที่ :</v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-menu :close-on-content-click="false" v-model="menu" :nudge-right="40" lazy transition="scale-transition"
                    offset-y full-width min-width="290px">
                    <v-text-field solo slot="activator" v-model="getEdit_Course.course_datestart" label="เลือกวันที่" v-validate="'required'"
                        :error-messages="errors.collect('getEdit_Course.course_datestart')" data-vv-name="getEdit_Course.course_datestart"
                        readonly></v-text-field>
                    <v-date-picker color="indigo" v-model="getEdit_Course.course_datestart" @input="menu = false"></v-date-picker>
                </v-menu>
            </v-flex>
            <v-flex lg2>
                <v-subheader>สิ้นสุดวันที่ :</v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-menu :close-on-content-click="false" v-model="menu2" :nudge-right="40" lazy transition="scale-transition"
                    offset-y full-width min-width="290px">
                    <v-text-field solo slot="activator" v-model="getEdit_Course.course_dateend" label="เลือกวันที่" v-validate="'required'"
                        :error-messages="errors.collect('getEdit_Course.course_dateend')" data-vv-name="getEdit_Course.course_dateend" readonly></v-text-field>
                    <v-date-picker color="indigo" v-model="getEdit_Course.course_dateend" @input="menu2 = false"></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <v-layout px-5>
            <v-flex lg2>
                <v-subheader>เวลาอบรม :</v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-text-field solo mask="time" label="hh:mm" v-model="getEdit_Course.course_timestart" v-validate="'required'"
                    :error-messages="errors.collect('getEdit_Course.course_timestart')" data-vv-name="getEdit_Course.course_timestart"></v-text-field>
            </v-flex>
            <v-flex lg2>
                <v-subheader>ถึง :</v-subheader>
            </v-flex>
            <v-flex lg4>
                <v-text-field solo mask="time" label="hh:mm" v-model="getEdit_Course.course_timeend" v-validate="'required'"
                    :error-messages="errors.collect('getEdit_Course.course_timeend')" data-vv-name="getEdit_Course.course_timeend"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout justify-center px-5>
            <v-flex lg2>
                <v-subheader>
                    สถานะ :
                </v-subheader>
            </v-flex>
            <v-flex lg10>
                <v-select solo :items="[{name:'ยังไม่เปิด',value:0},{name:'ปิดรับสมัคร',value:1},{name:'เปิดรับสมัคร',value:2}]"
                    item-text="name" item-value="value" label="กรุณาเลือกสถานะ" v-model="getEdit_Course.course_status" v-validate="'required'"
                    :error-messages="errors.collect('getEdit_Course.course_status')" data-vv-name="getEdit_Course.course_status"></v-select>
            </v-flex>
        </v-layout>
        <v-layout justify-end>
            <v-btn color="red darken-3" dark small @click="ClearForm()">กลับ</v-btn>
            <v-btn color="grey darken-3" dark small @click="EditForm()" :loading="loadSaveProduct">แก้ไข</v-btn>
        </v-layout>
        <v-dialog v-model="dialog" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-3" primary-title>
                    เพิ่มหมวดหมู่
                </v-card-title>
                <v-card-text>
                    <v-layout mt-4>
                        <v-flex lg3>
                            <v-subheader>หมวดหมู่ : </v-subheader>
                        </v-flex>
                        <v-flex lg9>
                            <v-text-field solo v-model="newCate"></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-3" small @click="dialog = false" dark>
                        close
                    </v-btn>
                    <v-btn color="red darken-3" small @click="AddCategory()" dark :loading="loadSaveCate">
                        save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    import Editor from '@tinymce/tinymce-vue';
    export default {
        name: 'EditCourse',
        $_veeValidate: {
            validator: 'new'
        },
        data() {
            return {
                edit_config: {
                    plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor colorpicker textpattern"
                    ],
                    relative_urls: false,
                    file_browser_callback: function (field_name, url, type, win) {
                        var x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName(
                            'body')[0].clientWidth;
                        var y = window.innerHeight || document.documentElement.clientHeight || document.getElementsByTagName(
                            'body')[0].clientHeight;
                        var cmsURL = '/laravel-filemanager?field_name=' + field_name;
                        if (type == 'image') {
                            cmsURL = cmsURL + "&type=Images";
                        } else {
                            cmsURL = cmsURL + "&type=Files";
                        }
                        tinyMCE.activeEditor.windowManager.open({
                            file: cmsURL,
                            title: 'Filemanager',
                            width: x * 0.8,
                            height: y * 0.8,
                            resizable: "yes",
                            close_previous: "no"
                        });
                    },
                    toolbar: 'forecolor backcolor fontsizeselect | undo redo | styleselect | alignleft aligncenter alignright | bold italic | bullist numlist | link image',
                    fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
                    height : '500px'
                },
                menu2: false,
                menu: false,
                main_img: null,
                main_file: null,
                loadSaveProduct: false,
                dialog: false,
                newCate: null,
                loadSaveCate: false,
                id : null,
                loading : true
            }
        },
        components: {
            'editor-tiny': Editor
        },
        created(){
            this.id = this.$route.params.id;
        },
        computed: {
            getEdit_Course(){
                return this.$store.getters.getEdit_Course(this.id);
            },
            getCategory_Course() {
                return this.$store.state.moduleProduct.category;
            },
        },
        watch: {
            getEdit_Course(val){
                this.loading = false;
            }
        },
        methods: {
            EditForm() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยันแก้ไขหลักสูตร?',
                            text: 'ตรวจสอบความถูกต้องของหลักสูตรให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                this.loadSaveProduct = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'content-type': 'multipart/form-data'
                                    }
                                }
                                fd.append('file', this.main_file);
                                fd.append('form', JSON.stringify(this.getEdit_Course));
                                axios.post('EditCourse', fd, config)
                                    .then((res) => {
                                        vm.$swal({
                                            title: 'สำเร็จ',
                                            type: 'success',
                                            text: 'แก้ไขหลักสูตรสำเร็จ'
                                        })
                                    })
                                    .catch((err) => {
                                        vm.$swal({
                                            title: 'ล้มเหลว',
                                            type: 'error',
                                            text: err
                                        })
                                    })
                                    .then(() => {
                                        this.ClearForm();
                                        this.$store.dispatch('getAllCourse');
                                        this.loadSaveProduct = false;
                                    })
                            }
                        });
                    }
                });
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
                this.main_file = e.target.files[0];
            },
            createImage(file) {
                var vm = this;
                vm.main_img = new Image();
                var reader = new FileReader();
                reader.onload = (e) => {
                    vm.main_img = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            async ClearForm() {
                this.loadSaveProduct = await false
                let Clear = await this.$validator.errors.clear();
                this.$router.back();
            },
            AddCategory() {
                const vm = this;
                let text = this.newCate;
                if (text == null || text == '') {
                    vm.$swal({
                        title: 'Error!',
                        text: 'กรุณากรอกหมวดหมู่',
                        type: 'error'
                    })
                } else {
                    vm.loadSaveCate = true;
                    axios.post('AddNewCate',{c_name : text})
                        .then((res) => {
                            vm.$swal({
                                title: 'สำเร็จ',
                                type: 'success',
                                text: 'เพิ่มหมวดหมู่สำเร็จ'
                            })
                        })
                        .catch((err) => {
                            vm.$swal({
                                title: 'ล้มเหลว',
                                type: 'error',
                                text: err
                            })
                        })
                        .then(() => {
                            vm.$store.dispatch('getAllCategory');
                            vm.loadSaveCate = false;
                            vm.dialog = false;
                        })
                }
            }
        },
        destroyed(){
            this.id = null
            this.loading = true
        }
    }

</script>

<style lang="scss">
    .v-subheader {
        color: black !important;
    }

    .main_file {
        >img {
            display: block;
            max-width: 100%;
            height: auto;
            cursor: pointer;
        }
    }

</style>
