<template>
    <v-flex xs12 lg12 offset-sm-2>
        <v-layout row mt-3 justify-start>
            <v-toolbar-title>ข้อมูลผู้สมัคร</v-toolbar-title>
        </v-layout>
        <v-layout row>
            <v-flex xs11>
                <v-layout justify-end>
                    <v-btn fab dark color="red" small @click="Excel()">
                        <v-icon dark>save</v-icon>
                        <download-excel class="btn btn-default" :data="Detail" :fields="json_fields" :name="Course.course_name+'.xls'">
                            Excel
                        </download-excel>
                    </v-btn>
                    <v-btn fab dark color="blue" small @click="print()">
                        <v-icon dark>print</v-icon>
                    </v-btn>
                </v-layout>
            </v-flex>
        </v-layout>
        <v-layout row justify-center mt-2>
            <v-flex xs12 sm10 offset-sm-1 class="paper" id="paper">
                <v-toolbar color="grey lighten-3">
                    <v-toolbar-title>{{Course.course_name}}</v-toolbar-title>
                </v-toolbar>
                <v-data-table :items="Detail" class="elevation-1" hide-headers hide-actions>
                    <template slot="items" slot-scope="props">
                        <td class="text-lg-center">{{ (props.index+1) }}</td>
                        <td class="text-lg-center">{{ props.item.u_name }}</td>
                        <td class="text-lg-center">{{ props.item.u_email }}</td>
                        <td class="text-lg-center">{{ props.item.u_tel }}</td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
        <v-layout justify-end mt-4>
            <v-btn color="red darken-3" dark @click="$router.back();">กลับ</v-btn>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'ViewCourse',
        data() {
            return {
                json_fields: {
                    'ชื่อ': 'u_name',
                    'Email': 'u_email',
                    'เบอร์ติดต่อ': 'u_tel',
                },
                json_meta: [
                    [{
                        'key': 'charset',
                        'value': 'utf-8'
                    }]
                ],
            }
        },
        computed: {
            Course() {
                let store = this.$store.getters.getEdit_Course(this.$route.params.id);
                return store;
            },
            Detail() {
                let store = this.$store.getters.orderDetailByCourseID(this.$route.params.id);
                return store;
            }
        },
        methods: {
            print() {
                // Pass the element id here
                this.$htmlToPaper('paper');
            },
            Excel() {

            }
        }
    }

</script>

<style lang="scss">
    .paper {
        .v-toolbar {
            box-shadow: none;
        }
    }

</style>
