<template>
    <div>
       <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
       <Breadcrumb-Header></Breadcrumb-Header>
        <div>
            <div class="container reset-img" v-html="getAbout.ct_text">

            </div>
        </div>
    </div>
</template>

<script>
import Banner from '../components/Banner'
import Breadcrumb from '../components/Breadcrumb'
    export default {
        components: {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        computed : {
            getAbout(){
                let store = this.$store.getters.getContentAbout;
                return store;
            },
            getBannerByID(){
                let store = this.$store.getters.getBannerByID(1);
                return store;
            }
        }
    }

</script>

<style>

</style>
