<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-8">
                    <div class="wrap-borderLightGreen">
                        <h2 v-if="getCart.length == 0" class="title">ไม่มีสินค้า</h2>
                        <ul class="basket-list">
                            <li v-for="(item,i) in getCart" :key="i">
                                <div class="basket-list-card">
                                    <figure class='basket-list-img'>
                                        <img v-if="item.course_img != null" :src="'/CoursePicture/'+item.course_img"
                                            alt="">
                                        <img v-else src="https://via.placeholder.com/250x150" alt="">
                                    </figure>
                                    <div class="basket-list-text">
                                        <h5 class="title">{{cutTag(item.course_title)}}</h5>
                                        <p class="date c-lightGreen">{{formatDateTo(item.course_datestart,item.course_dateend)}}</p>
                                    </div>
                                    <div class="basket-list-price">
                                        <p class="c-red">{{formatMoney(item.course_price)}} บาท</p>
                                    </div>
                                    <div class="basket-list-icon">
                                        <i class="fal fa-times-circle icon" @click="RemoveCart(item.cart_id)"></i>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <payment-card :price="CartPrice" :discount="false" :update="true" :typePrice="2"></payment-card>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="d-flex flex-wrap justify-content-center wrap-btn-order">
                <router-link tag="a" to="/Home" class="btn btn-radius btn-lightGreen">
                    ย้อนกลับ
                </router-link>
                <router-link  tag="a" to="/DataUser" class="btn btn-radius btn-darkGreen" v-if="getCart.length>0">
                    ดำเนินการต่อ
                </router-link>
                <a class="btn btn-radius btn-darkGreen" disabled v-else>ดำเนินการต่อ</a>
            </div>
        </div>

    </div>
</template>

<script>
    import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    import PaymentCard from '../components/PaymentCard'
    import Mixin from '../../mixin/'
    export default {
        components: {
            'payment-card': PaymentCard,
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        computed: {
            getCart() {
                if (this.$auth.check()) {
                    let store = this.$store.getters.getCartByID(this.$auth.user().id);
                    return store;
                } else {
                    let store = this.$store.getters.getCartBySSID(this.$session.id());
                    return store;
                }
            },
            CartPrice() {
                let cart = this.getCart;
                const result = cart.reduce((sum, cart) => {
                    return sum + cart.course_price;
                }, 0)
                return result;
            },
            getBannerByID() {
                let store = this.$store.getters.getBannerByID(7);
                return store;
            }
        },
        mixins: [Mixin],
        methods: {
            formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;
                    const negativeSign = amount < 0 ? "-" : "";
                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;
                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g,
                        "$1" + thousands);
                } catch (e) {}
            },
            RemoveCart(cart_id) {
                const vm = this;
                axios.delete('RemoveCart/' + cart_id).then((res) => {
                    vm.$store.dispatch('getAllCart');
                })
            },
            cutString(text){
                return text.slice(0,130)+"...";
            },
            cutTag(text){
                let result = text.replace(/<(?:.|\n)*?>/gm, '');
                let result2 = result.replace(/&(?:.|\n)*?;/gm, '');
                let split = result2.split(" ").filter((q)=>q != '');
                let string = split.join("");
                return string.slice(0,100)+"...";
            }
        }
    }

</script>

<style>
 a[disabled]{
     opacity: .8 !important;
    }
</style>
