<template>
    <div>
        <!--<Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>-->
        <div class="container-fluid p-0">
            <div class="map-g">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3873.8384794928784!2d100.56721151483156!3d13.848732190284753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29cdc6adec637%3A0xef11d7e0b3f961fb!2sFaculty+of+Humanities%2C+Kasetsart+University!5e0!3m2!1sen!2sth!4v1543916019086"
                    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 col-lg-8 col-xl-5 wrap-card-contact">
                    <div class="shadow-card-contact card-contact">
                        <h5 class="title">
                            ศูนย์ทดสอบทางภาษา คณะมนุษยศาสตร์ มหาวิทยาลัยเกษตรศาสตร์
                        </h5>
                        <h6 class="sub-title">
                            50 ถ.งามวงศ์วาน ลาดยาว จตุจักร กทม. 10900
                        </h6>
                        <div class="d-flex wrap-social-contact">
                            <div>
                                <a class="w-170" href="tel:025795566">
                                    โทร.
                                    <span class="underline">025795566</span>
                                    ต่อ 1211</a>
                                <p>แฟกซ์. 025615124</p>
                            </div>
                            <div class="flex-grow-1 d-flex justify-content-center align-items-center justify-content-md-start social-contact">
                                <a href="https://www.facebook.com/Humanities.KasetsartU/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://line.me/R/ti/p/%40human_ku" target="_blank"><i class="fab fa-line"></i></a>
                            </div>
                        </div>
                        <div>
                            <a href="tel:0257955668">
                                <strong class="c-red">มีปัญหา</strong>
                                <strong class="c-lightGreen">TOEFL ITP</strong> <br class="d-block d-lg-none">
                                ติดต่อคุณ สุพัฒตรา
                                <span class="underline">02-5795566-8</span>
                                ต่อ 1321
                            </a>
                            <a href="tel:0257955668">
                                <strong class="c-lightGreen">
                                    KU-EPT
                                </strong><br class="d-block d-lg-none">
                                ติดต่อคุณ รัชนี,จิราพร
                                <span class="underline">02-5795566-8</span>
                                ต่อ 1211
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-fa bg-form">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 col-lg-8 col-xl-5">
                    <h5 class="title-contact">
                        ติดต่อศูนย์
                    </h5>
                    <form class="form-contact" autocomplete="off" @submit.prevent="sendMail" method="post">
                        <input type="text" placeholder="ชื่อ - นามสกุล" v-model="name">
                        <input type="email" id="" placeholder="อีเมล" v-model="email">
                        <input type="text" id="" placeholder="เรื่อง" v-model="subject">
                        <textarea id="" placeholder="รายละเอียด" v-model="detail"></textarea>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-darkGreen btn-radius" :disabled="loadSend" v-if="!loadSend">ส่งข้อมูล</button>
                            <button type="submit" class="btn btn-primary btn-radius" disabled="true" v-else>กำลังส่ง...</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import Banner from '../components/Banner'
import Breadcrumb from '../components/Breadcrumb'
    export default {
        name: 'Contact',
         components : {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        data() {
            return {
                name: '',
                email: '',
                subject: '',
                detail: '',
                loadSend : false
            }
        },
        computed : {
            getBannerByID(){
                let store = this.$store.getters.getBannerByID(6);
                return store;
            }
        },
        methods: {
            sendMail() {
                const vm = this;
                let params = {
                    name: vm.name,
                    email: vm.email,
                    subject: vm.subject,
                    detail: vm.detail,
                }
                if(params.name == '' || params.email == '' || params.subject == '' || params.detail == ''){
                    vm.$swal({
                        title : 'Error',
                        text : 'กรุณากรอกข้อมูลให้ครบถ้วน',
                        type : 'error'
                    })
                    return false;
                }
                vm.loadSend = true;
                axios.post('/sendMail', {
                    params
                }).then((res) => {
                      vm.$swal({
                        title : 'Success',
                        text : 'ส่ง e-mail เรียบร้อย',
                        type : 'success'
                    })
                }).catch((err) => {
                    vm.$swal({
                        title : 'Error',
                        text : err,
                        type : 'error'
                    })
                }).then(() => {
                    vm.name = '';
                    vm.email = '';
                    vm.subject = '';
                    vm.detail = '';
                    vm.loadSend = false;
                });
            }
        },
        mounted() {
            this.$nextTick(() => {
                // hover google
                const $cardContact = $('.card-contact');
                $('.map-g').hover(function (e) {
                    $cardContact.addClass('fade');
                }, function (e) {
                    $cardContact.removeClass('fade');
                });
            })
        }
    }

</script>

<style>
/* // .map-g {
//     margin-top: -40px;
// } */
</style>
