<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getCategory.c_name" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div class="container">
            <paginate ref="paginator" name="getCourseById" :list="getCourseById" class="thumnail-landBorder" :per="4">
                <div v-for="(item,i) in paginated('getCourseById')" :key="i" class="thumnail-land">
                    <router-link tag="a" class="thumnail-land_img" :to="{name:'/CourseDetail/' , params : {id:item.course_id}}">
                        <img v-if="item.course_img!=null" :src="'/CoursePicture/'+item.course_img" alt="">
                        <img v-else src="/img/default-img.png">
                    </router-link>
                    <div class="thumnail-land_body">
                        <h6 class="title">
                            {{item.course_name}}
                        </h6>
                        <p class="des">
                            {{cutString(item.course_title)}}
                        </p>
                        <p class="date">
                            {{formatDateTo(item.course_datestart,item.course_dateend)}}
                        </p>
                        <div class="wrap-btn">
                            <a class="btn btn-radius btn-darkGreen" @click="AddtoCart(item.course_id)">เพิ่มลงในรถเข็น</a>
                            <router-link tag="a" class="btn btn-radius btn-lightGreen" :to="{name:'/CourseDetail/' , params : {id:item.course_id}}">
                                รายละเอียด
                            </router-link>
                        </div>
                    </div>
                </div>
            </paginate>
            <div class="d-flex justify-content-center justify-content-md-end">
                <paginate-links for="getCourseById" :limit="5" :show-step-links="true" :async="true"></paginate-links>
            </div>
        </div>
    </div>
</template>

<script>
import Banner from '../components/Banner'
import Breadcrumb from '../components/Breadcrumb'
import Mixin from '../../mixin'
    export default {
        name: 'Course',
        components : {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        data() {
            return {
                paginate: ['getCourseById']
            }
        },
        mixins: [Mixin],
        methods: {
            AddtoCart(course_id){
                const checkAuth = this.$auth.check();
                const vm = this;
                if(checkAuth == true){
                    axios.post('/AddtoCart',{params : {user_id : vm.$auth.user().id,course_id:course_id}})
                    .then((res)=>{
                        vm.$store.dispatch('getAllCart');
                        const cartt = document.querySelectorAll('#main-cart');
                            cartt.forEach(function(el){
                                el.classList.add('graphic');
                                el.addEventListener("webkitAnimationEnd", function(){
                                    el.classList.remove('graphic');
                                });
                            });
                    })
                }
                else{
                    axios.post('/AddtoCart',{params : {ss_id:vm.$session.id(),course_id:course_id}})
                    .then((res)=>{
                        vm.$store.dispatch('getAllCart');
                        const cartt = document.querySelectorAll('#main-cart');
                            cartt.forEach(function(el){
                                el.classList.add('graphic');
                                el.addEventListener("webkitAnimationEnd", function(){
                                    el.classList.remove('graphic');
                                });
                            });
                    })
                }
            },
            cutString(text){
                return text.slice(0,130)+"...";
            }
        },
        updated() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
            try{
               let currentPage = this.$refs.paginator.currentPage;
                let list = this.$refs.paginator.list;
                if(currentPage < 0 && list.length != 0){
                    this.$refs.paginator.goToPage(1);
                }
            }
            catch(Exception){}

        },
        computed: {
            getCategory() {
                const id = this.$route.params.id;
                if (id == 'All') {
                    return {
                        c_id: 'All',
                        c_name: "ทั้งหมด"
                    }
                } else {
                    let store = this.$store.getters.getCategory(id);
                    return store;
                }
            },
            getCourseById() {
                const id = this.$route.params.id;
                if (id == 'All') {
                    let store = this.$store.state.moduleProduct.course;
                    return _.filter(store,{course_status:2});
                } else {
                    let store = this.$store.getters.getCourseById(id);
                    return _.filter(store,{course_status:2});
                }
            },
            getBannerByID(){
                let store = this.$store.getters.getBannerByID(2);
                return store;
            }
        },
    }

</script>


