<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div class="container reset-img">
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between align-items-center course-detail-title">
                <h1 class="title" >
                    {{getDetailCourse.course_name}}
                </h1>
                <a class="btn btn-darkGreen btn-radius" @click="AddtoCart(getDetailCourse.course_id)">
                    เพิ่มลงรถเข็น
                </a>
            </div>
            <ul class="course-detail-list">
                <li>
                    <strong>
                        ค่าธรรมเนียมการอบรม :
                    </strong>
                    <p class="price">
                        {{formatMoney(getDetailCourse.course_price)}} บาท
                    </p>
                </li>
                <li>
                    <strong>
                        วันที่อบรม :
                    </strong>
                    <p>
                        {{formatDateTo(getDetailCourse.	course_datestart,getDetailCourse.course_dateend)}}
                    </p>
                </li>
                <li>
                    <strong>
                        เวลา :
                    </strong>
                    <p>
                        {{formatTime(getDetailCourse.course_timestart)}} น. - {{formatTime(getDetailCourse.course_timeend)}} น.
                    </p>
                </li>
                <li>
                    <strong>
                        จำนวนรับสมัคร :
                    </strong>
                    <p>
                        {{getDetailCourse.course_people}} คน
                    </p>
                </li>
                <li>
                    <strong>
                        สถานะ :
                    </strong>
                        <p v-if="getDetailCourse.course_status==0" data-status="">ยังไม่เปิด</p>
                        <p v-else-if="getDetailCourse.course_status==1" data-status="close">ปิดรับสมัคร</p>
                        <p v-else-if="getDetailCourse.course_status==2" data-status="open">เปิดรับสมัคร</p>
                </li>
            </ul>

            <div class="course-detail-des">
                <p>{{getDetailCourse.course_title}}</p>
            </div>

            <div class="course-description" v-html="getDetailCourse.course_description">

            </div>

        </div>

        <div class="container wrap-btn-course-detail">
            <div class="d-flex flex-wrap justify-content-center">
                <a class="btn btn-lightGreen btn-radius" @click="Back()">ย้อนกลับ</a>
                <a class="btn btn-darkGreen btn-radius" @click="AddtoCart(getDetailCourse.course_id)">เพิ่มลงรถเข็น</a>
            </div>
        </div>

        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="title-Imenu iconBefore">
                    หลักสูตรอบรม
                </h3>
            </div>
            <div class="row">
                <div v-for="(x,index) in getCourse.filter((q)=>q.course_id != $route.params.id).slice(0,4)" :key="index" class="col-12 col-md-6 col-lg-3">
                    <router-link tag="a" class="thumnail-vertical" :to="{name:'/CourseDetail/' , params : {id:x.course_id}}">
                        <figure>
                            <img v-if="x.course_img!=null" :src="'/CoursePicture/'+x.course_img" alt="">
                            <img v-else src="/img/default-img.png">
                        </figure>
                        <div class="thumnail-vertical_body">
                            <h6 class="title">
                                {{x.course_name}}
                            </h6>
                            <p class="des">
                               {{cutString(x.course_title)}}
                            </p>
                            <p class="btn btn-darkGreen btn-radius" @click="AddtoCart(x.course_id)">
                                เพิ่มลงรถเข็น
                            </p>
                        </div>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    import Mixin from '../../mixin'
    export default {
        name: 'courseDetail',
        components: {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb,
        },
        data(){
            return{

            }
        },
        computed : {
            getDetailCourse(){
                let store = this.$store.getters.getEdit_Course(this.$route.params.id);
                return store;
            },
            getCourse(){
                let store = this.$store.state.moduleProduct.course;
                return store;
            },
            getBannerByID(){
                let store = this.$store.getters.getBannerByID(2);
                return store;
            }
        },
        mixins: [Mixin],
        methods : {
            cutString(text){
                return text.slice(0,130)+"...";
            },
            formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;
                    const negativeSign = amount < 0 ? "-" : "";
                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;
                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g,
                        "$1" + thousands);
                } catch (e) {}
            },
            formatTime(time) {
                let ex = time.split(":");
                return ex[0] + ":" + ex[1];
            },
            Back(){
                this.$router.back();
            },
            AddtoCart(course_id){
                const checkAuth = this.$auth.check();
                const vm = this;
                if(checkAuth == true){
                    axios.post('/AddtoCart',{params : {user_id : vm.$auth.user().id,course_id:course_id}})
                    .then((res)=>{
                        vm.$store.dispatch('getAllCart');
                        const cartt = document.querySelectorAll('#main-cart');
                            cartt.forEach(function(el){
                                el.classList.add('graphic');
                                el.addEventListener("webkitAnimationEnd", function(){
                                    el.classList.remove('graphic');
                                });
                            });
                    })
                }
                else{
                    axios.post('/AddtoCart',{params : {ss_id:vm.$session.id(),course_id:course_id}})
                    .then((res)=>{
                        vm.$store.dispatch('getAllCart');
                        const cartt = document.querySelectorAll('#main-cart');
                            cartt.forEach(function(el){
                                el.classList.add('graphic');
                                el.addEventListener("webkitAnimationEnd", function(){
                                    el.classList.remove('graphic');
                                });
                            });
                    })
                }
            },
        }

    }

</script>

<style lang="scss">
    .course-description{
        li{
            list-style: circle !important;
        }
    }
</style>
