<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-md-10 col-lg-9">
                    <div class="wrap-borderLightGreen">
                        <h2 class="title">แก้ไขข้อมูลส่วนตัว</h2>
                        <div class="form-dataUser">
                            <div class="wrap-input">
                                <input type="text" placeholder="อีเมล์" v-model="getUser.email">
                            </div>
                            <div class="wrap-input">
                                <input type="text" placeholder="ชื่อ-นามสกุล" v-model="getUser.name_TH">
                            </div>
                            <div class="wrap-input">
                                <input type="text" placeholder="Fullname" v-model="getUser.name">
                            </div>
                            <div class="wrap-input">
                                <input type="date" placeholder="วันเดือนปี" v-model="getUser.birthday">
                                <input type="text" placeholder="เบอร์โทรศัพท์" v-model="getUser.tel">
                                <input type="text" placeholder="ID Line" v-model="getUser.line_id">
                            </div>
                            <div class="wrap-input">
                                <input type="text" placeholder="ที่อยู่" v-model="getUser.address">
                            </div>
                            <div class="wrap-input">
                                <p class="mini-title">สถานะ</p>
                            </div>
                            <div class="wrap-input">
                                <div class="wrap-radio">
                                    <input type="radio" id="one" value="2" v-model="getUser.status">
                                    <label for="one">นิสิต/นักศึกษามหาวิทยาลัยเกษตร</label>
                                </div>
                                <div class="wrap-radio">
                                    <input type="radio" id="two" value="3" v-model="getUser.status">
                                    <label for="two">บุคลากรมหาวิทยาลัยเกษตร</label>
                                </div>
                                <div class="wrap-radio">
                                    <input type="radio" id="three" value="4" v-model="getUser.status">
                                    <label for="three">บุคคลทั่วไป</label>
                                </div>
                            </div>
                            <div class="wrap-input">
                                <select name="" id="" v-model="getUser.province">
                                    <option :value="null">จังหวัด</option>
                                    <option v-for="(p,i) in province" :key="i" :value="p.PROVINCE_ID">
                                        {{p.PROVINCE_NAME}}
                                    </option>
                                </select>
                                <select name="" id="" v-model="getUser.amphur">
                                    <option :value="null">เขต / อำเภอ</option>
                                    <option v-for="(a,i) in amphur.filter((q)=>q.PROVINCE_ID==getUser.province)" :key="i"
                                        :value="a.AMPHUR_ID">{{a.AMPHUR_NAME}}</option>
                                </select>
                            </div>
                            <div class="wrap-input">
                                <select name="" id="" v-model="getUser.district">
                                    <option :value="null">แขวง / ตำบล</option>
                                    <option v-for="(d,i) in district.filter((q)=>q.AMPHUR_ID==getUser.amphur)" :key="i"
                                        :value="d.DISTRICT_ID">{{d.DISTRICT_NAME}}</option>
                                </select>
                                <input type="text" v-model="getUser.code" placeholder="รหัสไปรษณีย์">
                            </div>
                            <div class="wrap-input justify-content-between wrap-check">
                                <p class="mini-title">ที่อยู่่ที่ต้องการให้ออกใบเสร็จ</p>
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" value="1" v-model="getUser.slip_type" id="four">
                                    <label for="four">ใช้ที่อยู่ปัจจุบัน</label>
                                </div>
                            </div>
                            <div class="wrap-input" v-if="!getUser.slip_type">
                                <input type="text" placeholder="ที่อยู่" v-model="getUser.address_slip">
                            </div>
                            <div class="wrap-input" v-if="!getUser.slip_type">
                                <select name="" id="" v-model="getUser.prov_slip">
                                    <option :value="null">จังหวัด</option>
                                    <option v-for="(p,i) in province" :key="i" :value="p.PROVINCE_ID">{{p.PROVINCE_NAME}}</option>
                                </select>
                                <select name="" id="" v-model="getUser.amph_slip">
                                    <option :value="null">เขต / อำเภอ</option>
                                    <option v-for="(a,i) in amphur.filter((q)=>q.PROVINCE_ID==getUser.prov_slip)" :key="i"
                                        :value="a.AMPHUR_ID">{{a.AMPHUR_NAME}}</option>
                                </select>
                            </div>
                            <div class="wrap-input" v-if="!getUser.slip_type">
                                <select name="" id="" v-model="getUser.dist_slip">
                                    <option :value="null">แขวง / ตำบล</option>
                                    <option v-for="(d,i) in district.filter((q)=>q.AMPHUR_ID==getUser.amph_slip)" :key="i"
                                        :value="d.DISTRICT_ID">{{d.DISTRICT_NAME}}</option>
                                </select>
                                <input type="text" v-model="getUser.code_slip" placeholder="รหัสไปรษณีย์">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="d-flex flex-wrap justify-content-center wrap-btn-order">
                <a @click="Back()" class="btn btn-radius btn-lightGreen">
                    ย้อนกลับ
                </a>
                <button @click="editProfile()" class="btn btn-radius btn-darkGreen" :disabled="loadSave">
                    แก้ไข
                </button>
            </div>
        </div>

    </div>
</template>

<script>
    import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    export default {
        name: 'dataUserForm',
        data() {
            return {
                loadSave: false
            }
        },
        components: {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        computed: {
            getUser() {
                return this.$store.state.moduleUser.user;
            },
            getBannerByID() {
                let store = this.$store.getters.getBannerByID(9);
                return store;
            },
            province() {
                let store = this.$store.state.moduleAddress.province;
                return store;
            },
            district() {
                let store = this.$store.state.moduleAddress.district;
                return store;
            },
            amphur() {
                let store = this.$store.state.moduleAddress.amphur;
                return store;
            }
        },
        methods: {
            Back() {
                this.$router.back();
            },
            editProfile() {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยัน?',
                    text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        vm.loadSave = true;
                        axios.post('EditProfile', {
                                params: vm.getUser
                            })
                            .then((res) => {
                                vm.$store.commit('setUser', res.data[0]);
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'แก้ไขสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.loadSave = false;
                            })
                    }
                });
            }
        }
    }

</script>

<style>

</style>
