<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div class="container reset-img">
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between align-items-center course-detail-title">
                <h1 class="title">
                    {{ExamContentByID.othernews_title}}
                </h1>
                <router-link tag="a" class="btn btn-darkGreen btn-radius" to="/Exam">
                    ทดสอบหลักสูตร
                </router-link>
            </div>
            <div class="course-detail-des">
                <p>บริการจัดการทดสอบทางภาษา</p>
            </div>

            <div v-html="ExamContentByID.othernews_content">

            </div>
        </div>

        <div class="container wrap-btn-course-detail">
            <div class="d-flex flex-wrap justify-content-center">
                <a class="btn btn-lightGreen btn-radius" @click="Back()">ย้อนกลับ</a>
                <router-link tag="a" class="btn btn-darkGreen btn-radius" to="/Exam">ทดสอบหลักสูตร</router-link>
            </div>
        </div>

        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="title-Imenu iconBefore">
                    บริการจัดการทดสอบทางภาษา
                </h3>
            </div>
            <div class="row">
                <div v-for="(x,index) in getExamContent.filter((q)=>q.othernews_id != $route.params.id).slice(0,4)"
                    :key="index" class="col-12 col-md-6 col-lg-3">
                    <router-link tag="a" class="thumnail-vertical" :to="{name:'/examContent',params : {id : x.othernews_id}}">
                        <figure>
                            <img v-if="x.othernews_img!=null" :src="'/OtherNewsPicture/'+x.othernews_img" alt="">
                            <img v-else src="/img/default-img.png">
                        </figure>
                        <div class="thumnail-vertical_body">
                            <h6 class="title">
                                {{x.othernews_title}}
                            </h6>
                            <p class="des">
                                {{cutString(x.othernews_content)}}
                            </p>
                            <router-link tag="a" class="btn btn-darkGreen btn-radius" to="/Exam">
                                ทดสอบหลักสูตร
                            </router-link>
                        </div>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    import Mixin from '../../mixin/'
    export default {
        name: 'courseDetail',
        components: {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb,
        },
        data() {
            return {

            }
        },
        computed: {
            ExamContentByID() {
                let store = this.$store.getters.otherNewsByID(this.$route.params.id);
                return store;
            },
            getExamContent() {
                let store = this.$store.state.moduleContent.othernews;
                return store;
            },
            getBannerByID() {
                let store = this.$store.getters.getBannerByID(3);
                return store;
            }
        },
        mixins: [Mixin],
        methods: {
            cutString(text) {
                return text.slice(0, 130) + "...";
            },
            formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;
                    const negativeSign = amount < 0 ? "-" : "";
                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;
                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g,
                        "$1" + thousands);
                } catch (e) {}
            },
            formatTime(time) {
                let ex = time.split(":");
                return ex[0] + ":" + ex[1];
            },
            Back() {
                this.$router.back();
            },
        }

    }

</script>

<style>

</style>
