<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div class="container">
            <table-exam marginTop="30" :showLenght="20"></table-exam>
        </div>
    </div>
</template>

<script>
import Banner from '../components/Banner'
import Breadcrumb from '../components/Breadcrumb'
import Table from "../components/Table.vue"
    export default {
        name : 'Exam',
        components :{
            'table-exam' : Table,
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        data(){
            return {

            }
        },
        created(){

        },
        computed : {
            getBannerByID(){
                let store = this.$store.getters.getBannerByID(3);
                return store;
            }
        },
        watch : {

        }
    }

</script>

<style>

</style>
