<template>
    <div>
    <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
    <Breadcrumb-Header></Breadcrumb-Header>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="wrap-sidebar">
                    <h6 class="title">
                        เมนูช่วยเหลือ
                    </h6>
                    <ul class="sidebar-menu">
                        <li>
                            <router-link tag="a" :to="{ name:'/Faq/' , params:{id:1}}">ขั้นตอนการสมัครสอบ</router-link>
                        </li>
                        <li class="active">
                            <a>การสอบ KU-EXITE</a>
                            <ul class="sidebar-subMenu">
                                <li>
                                    <router-link tag="a" :to="{ name:'/Faq/' , params:{id:6}}">ข้อมูลทั่วไป</router-link>
                                </li>
                                <li>
                                    <router-link tag="a" :to="{ name:'/Faq/' , params:{id:7}}">เกณฑ์การเทียบคะแนน</router-link>
                                </li>
                                <li>
                                    <router-link tag="a" :to="{ name:'/Faq/' , params:{id:8}}">ติดตามข่าวสารเพิ่มเติม</router-link>
                                </li>
                                <li>
                                    <router-link tag="a" :to="{ name:'/Faq/' , params:{id:9}}">กฏระเบียบต่างๆ</router-link>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a>การสอบ KU-EPT</a>
                            <ul class="sidebar-subMenu">
                                <li>
                                    <router-link tag="a" :to="{ name:'/Faq/' , params:{id:2}}">คุณสมบัติผู้เข้าสอบ</router-link>
                                </li>
                                <li>
                                    <router-link tag="a" :to="{ name:'/Faq/' , params:{id:3}}">วิธีการกรอกข้อมูลในกระดาษคำตอบ</router-link>
                                </li>
                                <li>
                                    <router-link tag="a" :to="{ name:'/Faq/' , params:{id:4}}">แนวทางปฏิบัติสำหรับผู้เข้าสอบ</router-link>
                                </li>
                                <li>
                                    <router-link tag="a" :to="{ name:'/Faq/' , params:{id:5}}">ตัวอย่างข้อสอบ KU-EPT</router-link>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a>การสอบ TOEFL ITP</a>
                            <ul class="sidebar-subMenu">
                                <li>
                                    <router-link tag="a" :to="{ name:'/Faq/' , params:{id:10}}">คู่มือการสอบ</router-link>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <router-link tag="a" :to="{ name:'/Faq/' , params:{id:11}}">คำถามที่พบบ่อย</router-link><a></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-8" v-if="$route.params.id==11">
                <h2 class="title-help">
                    ปัญหาที่พบได้บ่อย
                </h2>
                <div class="content-help">
                    <div class="wrap-box-faq">
                        <div ref="faqList" v-for="(item,i) in getContentById" :key="i" class="box-faq">
                            <div class="wrap-title-box-faq">
                                <h2 class="title">
                                    {{item.faq_issue}}
                                </h2>
                                <i class="fal fa-angle-down icon"></i>
                            </div>

                            <div class="des" v-html="item.faq_text">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8" v-else>
                <h2 class="title-help">
                    <label v-if="$route.params.id >= 2 && $route.params.id <= 5">การสอบ KU-EPT <small>{{getContentById.ct_content}}</small></label>
                    <label v-else-if="$route.params.id >= 6 && $route.params.id <= 9">การสอบ KU-EXITE <small>{{getContentById.ct_content}}</small></label>
                    <label v-else-if="$route.params.id == 10">การสอบ TOEFL ITP <small>{{getContentById.ct_content}}</small></label>
                    <label v-else-if="$route.params.id == 1">ขั้นตอนการสมัครสอบ</label>
                    <label v-else="">{{getContentById.ct_content}}</label>
                </h2>
                <div class="content-help">
                    <div class="">
                        <div class="box-faq" v-if="$route.params.id == 9 || $route.params.id == 10 || $route.params.id == 4 || $route.params.id == 5">
                            <a :href="getContentById.ct_text" target="_blank">Go to link</a>
                        </div>
                        <div class="box-faq" v-html="getContentById.ct_text" v-else>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import Banner from '../components/Banner'
import Breadcrumb from '../components/Breadcrumb'
export default {
    name : "Faq",
    components: {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
    computed : {
        getContentById(){
            const id = this.$route.params.id;
            if(id == 11){
                let store = this.$store.state.moduleContent.faq;
                return store;
            }
            else{
                let store = this.$store.getters.getContentById(id);
                return store;
            }
        },
        getBannerByID(){
                let store = this.$store.getters.getBannerByID(10);
                return store;
            },
    },
    methods: {
        faqToggle() {
            const $boxFaq = $('.box-faq');
            $('.wrap-title-box-faq').click(function(e){
                e.stopPropagation();
                $boxFaq.removeClass('active');
                $(this).parents('.box-faq').addClass('active');
            });
        }
    },
    mounted() {
        console.log('faq list mouted');
        this.$nextTick(function(){
            const vm = this;
            if(this.$refs.faqList){
                console.log('faq length',this.$refs.faqList.length);
                vm.faqToggle();
            }
        });
    },
    updated() {
        console.log('updated');
        
    }
}
</script>

<style>

</style>
