<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div class="container">
            <div class="grid-gallery" ref="gridGallery">
                <a v-for="(gallary,i) in gallaryDetailById" :key="i"
                 :href="'/Gallary/'+gallary.gd_img"
                 data-fancybox="gallery" class="grid-gallery-item">
                    <img :src="'/Gallary/'+gallary.gd_img" :alt="gallary.gd_img">
                </a>
            </div>
        </div>
    </div>
</template>

<script>
 import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    export default {
         components: {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        name : 'GallaryDetail',
        computed : {
            gallaryDetailById(){
                let store = this.$store.getters.gallaryDetailById(this.$route.params.id);
                return store;
            },
            getBannerByID(){
                let store = this.$store.getters.getBannerByID(5);
                return store;
            }
        },
        methods :{
            initGridMasony() {
                 let $grid = $('.grid-gallery').masonry({
                    itemSelector: '.grid-gallery-item',
                    percentPosition: true,
                    gutter: 10,
                    }),
                    $fancyItem = $('[data-fancybox="gallery"]');
                    $grid.imagesLoaded().progress( function() {
                        $grid.masonry('layout');
                    });
                    $fancyItem.fancybox({});
            }
        },
        updated() {
            const vm = this;
            if(this.$route.name == '/GallaryDetail/'){
                let itemGrid = this.$refs.gridGallery.children.length ? true : false;
                if(itemGrid){
                    vm.initGridMasony();
                }
            }
        },
        mounted() {
            const vm = this;
            this.$nextTick( ()=> {
                vm.initGridMasony();
            })
        }
    }

</script>

<style>

</style>
