<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>


        <div  class="container">
            <paginate v-if="gallaryLoded" name="gallaryPublic" :list="gallaryPublic" class="row" :per="9">
                <div   v-for="(gl,i) in paginated('gallaryPublic')" :key="i" class="col-12 col-md-4">
                    <router-link tag="a" :to="{name:'/GallaryDetail/',params:{id:gl.g_id}}" class="thumnail-vertical thumnail-vertical--gallery">
                        <figure :data-number="gallaryDetail.filter((q)=>q.g_id == gl.g_id).length">
                            <img v-if="findGallaryZero(gl.g_id).gd_img != null || findGallaryZero(gl.g_id).gd_img != undefined"
                                :src="'/Gallary/'+findGallaryZero(gl.g_id).gd_img" alt="">
                            <img v-else src="/img/default-img.png" alt="">
                        </figure>
                        <div class="thumnail-vertical_body">
                            <h6 class="title">
                                {{gl.g_name}}
                            </h6>
                            <p class="des" v-html="gl.g_description">
                            </p>
                            <p class="date">
                                {{formatDate(gl.created_at)}}
                            </p>
                        </div>
                    </router-link>
                </div>
            </paginate>
        </div>
        <div class="container">
            <div class="d-flex justify-content-center justify-content-md-end">
                <paginate-links for="gallaryPublic" :limit="5" :show-step-links="true" :async="true"></paginate-links>
            </div>
        </div>

    </div>
</template>

<script>
    import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    import Mixin from '../../mixin/'
    export default {
        components: {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        data() {
            return {
                paginate: ['gallaryPublic']
            }
        },
        computed: {
            gallaryPublic() {
                let store = this.$store.getters.gallarayPublic;
                return store;
            },
            gallaryDetail() {
                let store = this.$store.state.moduleContent.gallaryDetail;
                return store;
            },
            gallaryLoded() {
                let store = this.$store.state.moduleContent.gallaryLoded;
                return store
            },
            getBannerByID(){
                let store = this.$store.getters.getBannerByID(5);
                return store;
            }
        },
        mixins: [Mixin],
        methods: {
            findGallaryZero(g_id) {
                let result = this.gallaryDetail.find((q) => q.g_id == g_id);
                return result;
            }
        },
        updated() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
            //console.clear();
        }
    }
</script>


