<template>
    <div>
        <!-- Main Slider Home -->
        <section class="welcome">
            <ul ref="sliderHome" data-slick='{"autoplaySpeed": 2500, "autoplay": true}' id="sliderHome" class="slider-home">
                <li v-for="SliderItem in getSliderItem" :key="SliderItem.sli_headtitle">
                    <div v-if="SliderItem.sli_img != null" class="sliderHome_item" :style="{backgroundImage: 'url(./SliderPicture/' +SliderItem.sli_img+')'}">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <div class="wrap-title-sliderHome">
                                        <h5 v-if="SliderItem.sli_headtitle" class="title-home">{{SliderItem.sli_headtitle}}</h5>
                                        <h2 v-if="SliderItem.sli_title" class="title">{{SliderItem.sli_title}}</h2>
                                        <h3 v-if="SliderItem.sli_subtitle" class="mini-title">{{SliderItem.sli_subtitle}}</h3>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a v-if="SliderItem.sli_btn1_text" href="" class="btn btn-lightGreen btn-radius btn-home">
                                            {{SliderItem.sli_btn1_text}}
                                        </a>
                                        <a v-if="SliderItem.sli_btn2_text" href="" class="btn btn-white  btn-radius btn-home">
                                            {{SliderItem.sli_btn2_text}}
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div v-else class="sliderHome_item">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <div class="wrap-title-sliderHome">
                                        <h5 v-if="SliderItem.sli_headtitle" class="title-home">{{SliderItem.sli_headtitle}}</h5>
                                        <h2 v-if="SliderItem.sli_title" class="title">{{SliderItem.sli_title}}</h2>
                                        <h3 v-if="SliderItem.sli_subtitle" class="mini-title">{{SliderItem.sli_subtitle}}</h3>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a v-if="SliderItem.sli_btn1_text" href="" class="btn btn-lightGreen btn-radius btn-home">
                                            {{SliderItem.sli_btn1_text}}
                                        </a>
                                        <a v-if="SliderItem.sli_btn2_text" href="" class="btn btn-white  btn-radius btn-home">
                                            {{SliderItem.sli_btn2_text}}
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>



            <!-- dots home -->
            <div class="wrap-dotsHome">
                <div class="container">
                    <div id="renderDotsHome">
                    </div>
                </div>
            </div>

        </section>


        <!-- homeTab Click -->
        <section class="bg-tabHome d-flex justify-content-center">
            <div class="bg-tabHomeShadow d-inline-flex flex-column align-items-center">
                <div class="container p-0 ">
                    <div class="overflow-x overflow-y-visible bg-white">
                        <div class="homeTab">
                            <p data-tab="1" class="homeTab_item">
                                หลักสูตรอบรม
                            </p>
                            <p data-tab="2" class="homeTab_item">
                                บริการจัดการทดสอบทางภาษา
                            </p>
                            <p data-tab="3" class="homeTab_item">
                                ข่าวสาร / กิจกรรม
                            </p>
                            <router-link to="/Faq/11" tag="p" class="homeTab_item">
                                FAQ
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="container-fluid bg-tabHome p-0">
                    <div data-tab="1" class="container bg-white wrap-homeTab-content">
                        <div class="space-y">
                            <div class="wrap-title-Imenu">
                                <h3 class="title-Imenu iconBefore">
                                    หลักสูตรอบรม
                                </h3>
                            </div>
                            <div class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-center">
                                <div class="wrap-tabHome-miniScroll">
                                    <div class="wrap-tabHome-mini">
                                        <p v-for="(item,i) in getCategory" :key="i" :data-tab="'tab'+item.c_id" :class="{ 'active': i === 0 }"
                                            class="tabHome-mini">
                                            {{item.c_name}}
                                        </p>
                                    </div>
                                </div>
                                <router-link class="see-all iconAfter" :to="{name:'/Course/',params:{id:'All'}}">
                                    ดูทั้งหมด
                                </router-link>
                            </div>

                            <div class="wrap-tabHome-content-mini">
                                <div v-for="(tab,j) in getCategory" :key="j" :data-tab="'tab'+tab.c_id" class="tabHome-content-mini">
                                    <div class="thumnail-landBorder">
                                        <div v-for="(data,index) in getCourse.filter((q)=>q.c_id==tab.c_id)" :key="index"
                                            class="thumnail-land">
                                            <router-link tag="a" :to="{name:'/CourseDetail/',params:{id:data.course_id}}"
                                                class="thumnail-land_img">

                                                <img v-if="data.course_img!=null" :src="'/CoursePicture/'+data.course_img"
                                                    alt="">
                                                <img v-else src="/img/default-img.png">
                                            </router-link>
                                            <div class="thumnail-land_body">
                                                <h6 class="title">
                                                    {{data.course_name}}
                                                </h6>
                                                <p class="des">
                                                    {{cutString(data.course_title)}}
                                                </p>
                                                <p class="date">
                                                    {{formatDateTo(data.course_datestart,data.course_dateend)}}
                                                </p>
                                                <div class="wrap-btn">
                                                    <a class="btn btn-radius btn-darkGreen" @click="AddtoCart(data.course_id)">เพิ่มลงในรถเข็น</a>
                                                    <router-link tag="a" :to="{name:'/CourseDetail/',params:{id:data.course_id}}"
                                                        class="btn btn-radius btn-lightGreen">
                                                        รายละเอียด
                                                    </router-link>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-tab="2" class="container bg-white wrap-homeTab-content">
                        <div class="space-y">
                            <div class="wrap-title-Imenu">
                                <h3 class="title-Imenu iconBefore">
                                    บริการจัดการทดสอบทางภาษา
                                </h3>
                            </div>
                            <div class="thumnail-landBorder">
                                <div v-for="(item,i) in getOthernews.filter((q)=>q.othernews_cid == 1)" :key="i" class="thumnail-land">
                                    <router-link tag="a" class="thumnail-land_img" :to="{name:'/examContent',params : {id : item.othernews_id}}">
                                        <img v-if="item.othernews_img != null" :src="'/OtherNewsPicture/'+item.othernews_img">
                                        <img v-else src="/img/default-img.png" alt="">
                                    </router-link>
                                    <div class="thumnail-land_body">
                                        <h6 class="title">
                                            {{item.othernews_title}}
                                        </h6>
                                        <p class="des">
                                            {{cutTag(item.othernews_content)}}
                                        </p>
                                        <p class="date">
                                            {{item.othernews_created_at}}
                                        </p>
                                        <div class="wrap-btn">
                                            <router-link to="/Exam" tag="a" class="btn btn-radius btn-darkGreen">
                                                ทดสอบหลักสูตร
                                            </router-link>
                                            <router-link :to="{name:'/examContent',params : {id : item.othernews_id}}" tag="a" class="btn btn-radius btn-lightGreen">
                                                รายละเอียด
                                            </router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-tab="3" class="container bg-white wrap-homeTab-content">
                        <div class="space-y">
                            <div class="wrap-title-Imenu">
                                <h3 class="title-Imenu iconBefore">
                                    ข่าวสาร / กิจกรรม
                                </h3>
                            </div>
                            <div class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-center">
                                <div class="wrap-tabHome-miniScroll">

                                </div>
                                <router-link class="see-all iconAfter" to="/News">
                                    ดูทั้งหมด
                                </router-link>
                            </div>
                            <div class="thumnail-landBorder">
                                <div v-for="(news,i) in getNews.slice(0,4)" :key="i" class="thumnail-land">
                                    <router-link tag="a" :to="{name:'/NewsDetail/',params:{id:news.nt_id}}" class="thumnail-vertical">
                                        <figure>
                                            <img v-if="news.nt_img!=null" :src="'/NewsPicture/'+news.nt_img" alt="">
                                            <img v-else src="/img/default-img.png" alt="">
                                        </figure>
                                    </router-link>
                                    <div class="thumnail-land_body">
                                        <h6 class="title">
                                            {{news.nt_name}}
                                        </h6>
                                        <p class="des">
                                            {{cutTag(news.nt_text)}}
                                        </p>
                                        <p class="date">
                                            {{formatDate(news.created_at)}}
                                        </p>
                                        <div class="wrap-btn">
                                            <router-link tag="a" :to="{name:'/NewsDetail/',params:{id:news.nt_id}}" class="btn btn-radius btn-lightGreen">
                                                รายละเอียด
                                            </router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Board Home -->
        <div class="container">
            <div style="padding: 0 35px" class="row">
                <div class="wrap-title-Imenu">
                    <h3 class="title-Imenu iconBefore">
                        ทดสอบหลักสูตร
                    </h3>
                </div>
            </div>
        </div>
        <table-exam :issue="false" :showLenght="6" marginTop="25"></table-exam>
    </div>
</template>

<script>
    import Table from "../components/Table.vue"
    import Mixin from "../../mixin/"
    export default {
        name: 'Home',
        components: {
            'table-exam': Table
        },
        computed: {
            getOthernews() {
                let store = this.$store.state.moduleContent.othernews;
                return store;
            },
            getCategory() {
                let store = this.$store.state.moduleProduct.category;
                return store;
            },
            getCourse() {
                let store = this.$store.state.moduleProduct.course;
                return _.filter(store, {
                    course_status: 2
                });
            },
            getSliderItem() {
                let store = this.$store.getters.getSliderHome;
                return store;
            },
            getNews() {
                let store = this.$store.getters.newsPublic;
                return store;
            }
        },
        watch: {
            getCategory(val) {
                const vm = this;
                vm.initTabminiHome();
            },
            getSliderItem(val) {
                const vm = this;
            }
        },
        mixins: [Mixin],
        methods: {
            initSliderHome() {
                //  init slider
                if (typeof $.fn.slick == 'function') {
                    $('#sliderHome').not('.slick-initialized').slick({
                        arrows: false,
                        dots: true,
                        appendDots: $('#renderDotsHome'),
                        dotsClass: 'homeDots',
                        pauseOnHover: true

                    });
                }
            },
            initTabminiHome() {
                // tab mini
                let $homeTabItemMini = $('.tabHome-mini'),
                    $tabMiniTabHome = $('.tabHome-content-mini');
                $homeTabItemMini.removeClass('active').eq(0).addClass('active');
                $tabMiniTabHome.removeClass('active').eq(0).addClass('active');

                $homeTabItemMini.click(function (e) {
                    e.stopPropagation();
                    const $this = $(this),
                        $thisData = $this.data().tab;

                    $tabMiniTabHome.removeClass('active');
                    $homeTabItemMini.removeClass('active');
                    $this.addClass('active');
                    $tabMiniTabHome.each(function (index, el) {
                        if ($(this).data().tab == $thisData) {
                            $(this).addClass('active');
                            return false;
                        }
                    });
                });
            },
            initTabHome() {
                //tabhome
                const $homeTabItem = $('p.homeTab_item'),
                    $wrapHomeTabContent = $('.wrap-homeTab-content');
                $wrapHomeTabContent.removeClass('active').eq(0).addClass('active');
                $homeTabItem.removeClass('active').eq(0).addClass('active');

                $homeTabItem.click(function (e) {
                    e.stopPropagation();
                    const $this = $(this),
                        $thisData = $this.data().tab;
                    $homeTabItem.removeClass('active');
                    $wrapHomeTabContent.removeClass('active');
                    $this.addClass('active');
                    $wrapHomeTabContent.each(function (index, el) {
                        if ($(this).data().tab == $thisData) {
                            $(this).addClass('active');
                            return false;
                        }
                    });

                });
            },
            AddtoCart(course_id) {
                const checkAuth = this.$auth.check();
                const vm = this;
                if (checkAuth == true) {
                    axios.post('/AddtoCart', {
                            params: {
                                user_id: vm.$auth.user().id,
                                course_id: course_id
                            }
                        })
                        .then((res) => {
                            vm.$store.dispatch('getAllCart');
                            const cartt = document.querySelectorAll('#main-cart');
                            cartt.forEach(function(el){
                                el.classList.add('graphic');
                                el.addEventListener("webkitAnimationEnd", function(){
                                    el.classList.remove('graphic');
                                });
                            });
                        })
                } else {
                    axios.post('/AddtoCart', {
                            params: {
                                ss_id: vm.$session.id(),
                                course_id: course_id
                            }
                        })
                        .then((res) => {
                            vm.$store.dispatch('getAllCart');
                            const cartt = document.querySelectorAll('#main-cart');
                            cartt.forEach(function(el){
                                el.classList.add('graphic');
                                el.addEventListener("webkitAnimationEnd", function(){
                                    el.classList.remove('graphic');
                                });
                            });
                        })
                }
            },
            cutString(text) {
                return text.slice(0, 130) + "...";
            },
            cutTag(text) {
                let result = text.replace(/<(?:.|\n)*?>/gm, '');
                let result2 = result.replace(/&(?:.|\n)*?;/gm, '');
                let split = result2.split(" ").filter((q) => q != '');
                let string = split.join("");
                return string.slice(0, 100) + "...";
            }
        },
        updated() {
            const vm = this,
                sliderHomeItem = vm.$refs.sliderHome.children.length;
            vm.initTabminiHome();
            if (sliderHomeItem > 0) {
                if (sliderHomeItem == vm.getSliderItem.length) vm.initSliderHome()
            };
        },
        mounted() {
            const vm = this;
            this.$nextTick(() => {
                console.log('next Tick Home Page');
                vm.initTabminiHome();
                vm.initTabHome();
                vm.initSliderHome();
            });
        }
    }

</script>
