<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-8">
                    <div class="wrap-borderLightGreen">
                        <h2 class="title">ชำระเงิน</h2>
                        <div class="">
                            <div class="wrap-howPayment-toggle">
                                <div class="howPayment-toggle">
                                    <img class="kbanklogo" src="/img/logokplus.png">
                                    <p>PayPlus</p>
                                </div>
                                <div class="howPayment-toggle">
                                    <img class="kbanklogo" src="/img/credit.png">
                                    <p>บัตรเครดิต</p>
                                </div>
                                <div class="howPayment-toggle">
                                    <img class="kbanklogo" src="/img/counter.png">
                                    <p>เคาเตอร์เซอวิส</p>
                                </div>
                            </div>
                            <div class="howPayment-body">
                                <div class="howPayment-body-toggle">
                                    <div class="form-credit">
                                        <div class="wrap-input">
                                            <form name="sendform" method="post" action="payPlus">
                                                <input type="hidden" name="_token" :value="csrf">
                                                <input type="text" name="exam" :value="Exam" hidden>
                                                <input type="text" name="pro_id" :value="pro_id" hidden>
                                                <input type="text" name="user" :value="JSON.stringify(getUser)" hidden>
                                                <input type="text" name="address" :value="address" hidden>
                                                <input type="text" name="addressSlip" :value="addressSlip" hidden>
                                                <input type="text" name="type" value="1" hidden>
                                                <input type="text" name="price" :value="ExamPrice" hidden>
                                                <div class="d-flex flex-wrap justify-content-center wrap-btn-order">
                                                    <a @click="Back()" class="btn btn-radius btn-lightGreen">
                                                        ย้อนกลับ
                                                    </a>
                                                    <button type="submit" class="btn btn-radius btn-darkGreen">
                                                        ชำระเงิน
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="howPayment-body-toggle">
                                    <div class="form-credit">
                                        <div class="wrap-input">
                                            <form id="2c2p-payment-form" action="/payment_3d" method="POST">
                                                <input type="hidden" name="_token" :value="csrf">
                                                <input type="text" name="exam" :value="Exam" hidden>
                                                <input type="text" name="pro_id" :value="pro_id" hidden>
                                                <input type="text" name="user" :value="JSON.stringify(getUser)" hidden>
                                                <input type="text" name="address" :value="address" hidden>
                                                <input type="text" name="addressSlip" :value="addressSlip" hidden>
                                                <input type="text" name="type" value="1" hidden>
                                                <input type="text" name="price" :value="ExamPrice" hidden>
                                                <input type="text" data-encrypt="cardnumber" maxlength="16" placeholder="หมายเลขบัตร">
                                                <input type="text" data-encrypt="month" maxlength="2" placeholder="MM"><br />
                                                <input type="text" data-encrypt="year" maxlength="4" placeholder="YYYY"><br />
                                                <input type="password" data-encrypt="cvv" maxlength="4" autocomplete="off"
                                                    placeholder="CVV2/CVC2"><br />
                                                <div class="d-flex flex-wrap justify-content-center wrap-btn-order">
                                                    <a @click="Back()" class="btn btn-radius btn-lightGreen">
                                                        ย้อนกลับ
                                                    </a>
                                                    <button type="submit" class="btn btn-radius btn-darkGreen">
                                                        ชำระเงิน
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="howPayment-body-toggle">
                                    <div>
                                        <p>ระบบจะแสดงใบชำระเงินหลักสูตร
                                            นำใบชำระเงินไปชำระภายใน 24 ช.ม. จากวันที่สมัคร
                                            ไม่เช่นนั้นจะถือว่าท่านสละสิทธิ์ </p>
                                        <form action="/payCounterService">
                                            <input type="hidden" name="_token" :value="csrf">
                                            <input type="text" name="exam" :value="Exam" hidden>
                                            <input type="text" name="pro_id" :value="pro_id" hidden>
                                            <input type="text" name="user" :value="JSON.stringify(getUser)" hidden>
                                            <input type="text" name="address" :value="address" hidden>
                                            <input type="text" name="addressSlip" :value="addressSlip" hidden>
                                            <input type="text" name="type" value="1" hidden>
                                            <input type="text" name="price" :value="ExamPrice" hidden>
                                            <div class="d-flex flex-wrap justify-content-center wrap-btn-order">
                                                <a @click="Back()" class="btn btn-radius btn-lightGreen">
                                                    ย้อนกลับ
                                                </a>
                                                <button type="submit" class="btn btn-radius btn-darkGreen">
                                                    พิมพ์ใบชำระเงิน
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <payment-card @promotion="getPromotion" :price="ExamPrice" :discount="false" :update="false" :typePrice="1"></payment-card>
                    <User-Address @address="getAddress" @addressSlip="getAddressSlip"></User-Address>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript" src="https://demo2.2c2p.com/2C2PFrontEnd/SecurePayment/api/my2c2p.1.6.9.min.js"></script>
<script type="text/javascript">
    My2c2p.onSubmitForm("2c2p-payment-form", function (errCode, errDesc) {
        if (errCode != 0) {
            alert(errDesc);
        }
    });

</script>

<script>
    import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    import PaymentCard from '../components/PaymentCard'
    import UserAddress from '../components/UserAddress'
    export default {
        name: 'howPaymentUnknow',
        components: {
            'payment-card': PaymentCard,
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb,
            'User-Address': UserAddress
        },
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                pro_id: 0,
                address: '',
                addressSlip : ''
            }
        },
        computed: {
            getUser() {
                return this.$store.state.moduleUser.user;
            },
            ExamPrice() {
                let selectedexam = this.$store.state.moduleProduct.examselected;
                let exambyid = this.$store.getters.getEdit_Exam(selectedexam);
                if(exambyid == undefined){
                    this.$router.push('/Home');
                }
                return exambyid.ex_price;
            },
            getBannerByID() {
                let store = this.$store.getters.getBannerByID(8);
                return store;
            },
            Exam(){
                let selectedexam = this.$store.state.moduleProduct.examselected;
                return selectedexam;
            }
        },
        methods: {
            paymentToggle() {
                const $howPaymentToggle = $('.howPayment-toggle'),
                    $howPaymentBodyToggle = $('.howPayment-body-toggle');
                $howPaymentToggle.removeClass('active').eq(0).addClass('active');
                $howPaymentBodyToggle.removeClass('active').eq(0).addClass('active');
                $howPaymentToggle.click(function (e) {
                    e.stopPropagation();
                    $howPaymentToggle.removeClass('active');
                    $howPaymentBodyToggle.removeClass('active');
                    $(this).addClass('active');
                    $howPaymentBodyToggle.eq($(this).index()).addClass('active');
                });
            },
            getPromotion(value) {
                this.pro_id = value;
            },
            getAddress(value) {
                this.address = value;
            },
            getAddressSlip(value){
                this.addressSlip = value;
            },
            Back() {
                this.$router.back();
            },
            submit() {
                My2c2p.submitForm("2c2p-payment-form", function (errCode, errDesc) {
                    if (errCode != 0) {
                        alert(errDesc + " (" + errCode + ")");
                    }
                });
            }
        },
        mounted() {
            this.$nextTick(function () {
                const vm = this;
                vm.paymentToggle();
            });
        },
        destroyed() {
            this.u_id = null
        }
    }

</script>

<style>

</style>
