<template>
    <div>
        <div class="container-fluid bg-formLogin">
            <div class="row">
                <div class="col-xs-12 col-md-6 offset-xl-1 col-xl-4">
                    <form class="form-logIn" autocomplete="off" @submit.prevent="login" method="post">
                        <h5 class="title-login">เข้าสู่ระบบ / สมัครสมาชิก </h5>
                        <div class="form-logIn-shadow">
                            <div class="wrap-input">
                                <label for="logInE">อีเมล์</label>
                                <input id="logInE" type="email" name="email" v-model="email" placeholder="exsample@email.com" >
                                    </div>
                            <div class="wrap-input">
                                <label for="logInP">รหัสผ่าน</label>
                                <input id="logInP" type="password" name="password" v-model="password" placeholder="password">
                            </div>
                        </div>
                        <div class="form-logIn-link">
                            <div class="d-flex justify-content-end "><a class="link-forget" href="/password/reset">ลืมรหัสผ่าน</a></div>
                            <div class="wrap-group-button">
                                <button type="submit" class="btn btn-darkGreen btn-radius">เข้าสู่ระบบ</button>
                            </div>
                        </div>
                    </form>
                    <div class="wrap-group-button">
                        <router-link tag="a" to="/Register" class="btn btn-lightGreen btn-radius">สมัครสมาชิก</router-link>
                        <!--<a href="/auth/login/facebook" class="btn btn-facebook btn-radius"><i class="fab fa-facebook-f"></i>เข้าสู่ระบบ
                            ด้วย Facebook </a>-->
                        <fb-signin-button :params="fbSignInParams" @success="onSignInSuccess" @error="onSignInError"
                            class="btn btn-facebook btn-radius">
                            <i class="fab fa-facebook-f"></i>
                            เข้าสู่ระบบด้วย Facebook
                        </fb-signin-button>
                    </div>
                </div>
                 <div class="col-xs-12 col-md-6 offset-xl-1 d-flex justify-content-center align-items-center">
                    <div class="d-none d-md-flex justify-content-center align-items-center">
                        <div class="d-block">
                            <figure class="logo-logIn">
                                <img class="d-block mx-auto" src="/img/logo-big-white.png" alt="">
                            </figure>
                            <h2 class="text-login">
                                <p>ศูนย์ทดสอบทางภาษา</p>
                                <p>คณะมนุษย์ศาสตร์ มหาวิทยาลัยเกษตรศาสตร์</p>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Breadcrumb from '../components/Breadcrumb'
    export default {
        name: 'login',
        data() {
            return {
                email: null,
                password: null,
                error: false,
                fbSignInParams: {
                    scope: 'email,user_likes',
                    return_scopes: true
                }
            }
        },
        components: {
            'Breadcrumb-Header': Breadcrumb
        },
        methods: {
            login() {
                var app = this
                this.$auth.login({
                        params: {
                            email: app.email,
                            password: app.password
                        },
                        success: function (res) {},
                        error: function () {
                            app.$swal({
                                title: 'Error !',
                                text: 'Email หรือ Password ไม่ถูกต้อง',
                                type: 'error'
                            })
                        },
                        rememberMe: true,
                        redirect: '/Home',
                        fetchUser: true,
                    }
                );
            },
            onSignInSuccess(response) {
                FB.api('/me', {
                    fields: 'id,email,name'
                }, user => {
                    let name = user.name;
                    let id = user.id;
                    let email = user.email;
                    axios.post('auth/checkFB', {
                        params: {
                            name: name,
                            id: id,
                            email: email
                        }
                    }).then((res) => {
                        var app = this
                        this.$auth.login({
                                params: {
                                    email: res.data.email,
                                    password: "FB"+id.substring(0,6)
                                },
                                success: function (res) {
                                    app.$store.commit('setUser',app.$auth.user());
                                },
                                error: function () {
                                    app.$swal({
                                        title: 'Error !',
                                        text: 'Email หรือ Password ไม่ถูกต้อง',
                                        type: 'error'
                                    })
                                },
                                rememberMe: true,
                                redirect: '/Home',
                                fetchUser: true,
                            }

                        );
                    })
                })
            },
            onSignInError(error) {
                console.log('OH NOES', error)
            },
            setSreen() {
                const $pbody = $('.p-body:visible'),
                    $pbodyH = parseInt($pbody.css("height"), 10) + parseInt($('.breadcrumb').css("height"), 10),
                    $bgForm = $('.bg-formLogin');
                $bgForm.css("height", 'calc(100vh - ' + $pbodyH + 'px)');
            }
        }

        ,
        mounted() {
            const vm = this;
            this.$nextTick(() => {
                vm.setSreen();
                $(window).resize(function (e) {
                    vm.setSreen();
                });
            });
        }
    }

</script>
<style>
    .btn-facebook {
        cursor: pointer !important;
    }

</style>
