<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div class="container">
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between align-items-center course-detail-title">
                <h1 class="title">
                    {{newsById.nt_name}}
                </h1>
            </div>
            <div v-html="newsById.nt_text">

            </div>
        </div>

        <div class="container wrap-btn-course-detail">
            <div class="d-flex flex-wrap justify-content-center">
                <a class="btn btn-lightGreen btn-radius" @click="Back()">ย้อนกลับ</a>
            </div>
        </div>

        <div class="container reset-img">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="title-Imenu iconBefore">
                    ข่าวสารและกิจกรรมอื่นๆ
                </h3>
            </div>
            <div class="row">
                <div v-for="(news,i) in getNews.filter((q)=>q.nt_id != $route.params.id).slice(0,4)" :key="i" class="col-12 col-md-6 col-lg-3">
                    <router-link tag="a" :to="{name:'/NewsDetail/',params:{id:news.nt_id}}" class="thumnail-vertical">
                        <figure>
                            <img v-if="news.nt_img!=null" :src="'/NewsPicture/'+news.nt_img" alt="">
                            <img v-else src="/img/default-img.png" alt="">
                        </figure>
                        <div class="thumnail-vertical_body">
                            <h6 class="title">
                                {{news.nt_name}}
                            </h6>
                            <p class="des">
                                {{cutTag(news.nt_text)}}
                            </p>
                            <p class="date">
                                {{formatDate(news.created_at)}}
                            </p>
                        </div>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    import Mixin from '../../mixin/'
    export default {
        name: 'courseDetail',
        components: {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb,
        },
        computed : {
            newsById(){
                let store = this.$store.getters.BlogById(this.$route.params.id);
                return store;
            },
            getNews(){
                let store = this.$store.getters.newsPublic;
                return store;
            },
            getBannerByID(){
                let store = this.$store.getters.getBannerByID(4);
                return store;
            }
        },
        mixins: [Mixin],
        methods : {
            cutTag(text){
                let result = text.replace(/<(?:.|\n)*?>/gm, '');
                let result2 = result.replace(/&(?:.|\n)*?;/gm, '');
                let split = result2.split(" ").filter((q)=>q != '');
                let string = split.join("");
                return string.slice(0,100)+"...";
            },
            Back(){
                this.$router.back();
            }
        }
    }

</script>

<style>

</style>
