<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div class="container">
            <paginate name="getNews" :list="getNews" class="row" :per="9">
                <div v-for="(news,i) in paginated('getNews')" :key="i" class="col-12 col-md-4">
                    <router-link tag="a" :to="{name:'/NewsDetail/',params:{id:news.nt_id}}" class="thumnail-vertical">
                        <figure>
                            <img v-if="news.nt_img!=null" :src="'/NewsPicture/'+news.nt_img" alt="">
                            <img v-else src="/img/default-img.png" alt="">
                        </figure>
                        <div class="thumnail-vertical_body">
                            <h6 class="title" @click="helloDate()">
                                {{news.nt_name}}
                            </h6>
                            <p class="des">
                                {{cutTag(news.nt_text)}}
                            </p>
                            <p class="date">
                                {{formatDate(news.created_at)}}
                            </p>
                        </div>
                    </router-link>
                </div>
            </paginate>
            <div class="d-flex justify-content-center justify-content-md-end">
                <paginate-links for="getNews" :limit="5" :show-step-links="true" :async="true"></paginate-links>
            </div>
        </div>
    </div>

</template>

<script>
    import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    import Mixin from '../../mixin/'
    export default {
        components: {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        data() {
            return {
                paginate: ['getNews']
            }
        },
        mixins: [Mixin],
        computed: {
            getNews() {
                let store = this.$store.getters.newsPublic;
                return store;
            },
            getBannerByID(){
                let store = this.$store.getters.getBannerByID(4);
                return store;
            }
        },
        methods: {
           
            cutString(text){
                return text.slice(0,130)+"...";
            },
            cutTag(text){
                let result = text.replace(/<(?:.|\n)*?>/gm, '');
                let result2 = result.replace(/&(?:.|\n)*?;/gm, '');
                let split = result2.split(" ").filter((q)=>q != '');
                let string = split.join("");
                return string.slice(0,100)+"...";
            }
        },
        updated() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    }

</script>

