<template>
    <div>

        <div class="container-fluid bg-formLogin">
            <div class="row">
                <div class="col-xs-12 col-md-6 offset-xl-1 col-xl-4">
                    <form class="form-logIn" autocomplete="off" @submit.prevent="register" method="POST">
                        <h5 class="title-login">
                            สมัครสมาชิก
                        </h5>
                        <div class="form-logIn-shadow">
                            <div class="wrap-input" :class="{ 'has-error': error && errorText.name }">
                                <label for="">Fullname</label>
                                <input type="text" v-model="name" required placeholder="Firstname Lastname">
                                <span class="help-block" v-if="error && errorText.name">{{ errorText.name }}</span>
                            </div>
                            <div class="wrap-input" :class="{ 'has-error': error && errorText.email }">
                                <label for="">email</label>
                                <input type="email" v-model="email" placeholder="user@example.com" required>
                                <span class="help-block" v-if="error && errorText.email">{{ errorText.email }}</span>
                            </div>
                            <div class="wrap-input" :class="{ 'has-error': error && errorText.password }">
                                <label for="">password</label>
                                <input type="password" v-model="password" required placeholder="password">
                                <span class="help-block" v-if="error && errorText.password">{{ errorText.password }}</span>
                            </div>
                        </div>
                        <div class="form-logIn-link form-register-link">
                            <router-link tag="a" to="/Login" class="btn btn-lightGreen btn-radius">
                                <p>ยกเลิก</p>
                            </router-link>
                            <button type="submit" class="btn btn-darkGreen btn-radius flex-grow-1">
                                <p>สมัครสมาชิก</p>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-md-6 offset-xl-1 d-flex justify-content-center align-items-center">
                    <div class="d-none d-md-flex justify-content-center align-items-center">
                        <div class="d-block">
                            <figure class="logo-logIn">
                                <img class="d-block mx-auto" src="/img/logo-big-white.png" alt="">
                            </figure>
                            <h2 class="text-login">
                                <p>ศูนย์ทดสอบทางภาษา</p>
                                <p>คณะมนุษย์ศาสตร์ มหาวิทยาลัยเกษตรศาสตร์</p>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>



<script>
    import Breadcrumb from '../components/Breadcrumb'
    export default {
        name: 'login',
        data() {
            return {
                name: '',
                email: '',
                password: '',
                error: false,
                errorText: null,
                success: false
            }
        },
        components: {
            'Breadcrumb-Header': Breadcrumb
        },
        methods: {
            setSreen() {
                const $pbody = $('.p-body:visible'),
                    $pbodyH = parseInt($pbody.css("height"), 10) + parseInt($('.breadcrumb').css("height"), 10),
                    $bgForm = $('.bg-formLogin');
                console.log($('body'));
                //$('body').css("overflowY", "hidden");
                $bgForm.css("height", 'calc(100vh - ' + $pbodyH + 'px)');
            },
            register() {
                var app = this
                this.$auth.register({
                    data: {
                        name: app.name,
                        email: app.email,
                        password: app.password
                    },
                    success: function (res) {
                        app.success = true
                        app.$swal({
                                        title: 'Success !',
                                        text: 'สมัครสมาชิกสำเร็จ',
                                        type: 'success'
                                    })
                    },
                    error: function (resp) {
                        app.error = true;
                        app.errorText = resp.response.data.errors;
                    },
                    redirect: '/Login'
                });
            }
        },
        mounted() {
            const vm = this;
            this.$nextTick(() => {
                vm.setSreen();
                $(window).resize(function (e) {
                    vm.setSreen();
                });

            });
        }
    }

</script>

<style>
    .body-scroll-none {
        background: red !important;
    }

</style>
