<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-md-10 col-lg-9">
                    <div class="wrap-borderLightGreen">
                        <h2 class="title">เปลี่ยนรหัสผ่าน</h2>
                        <div class="form-dataUser">
                            <div class="wrap-input">
                                <input type="password" placeholder="รหัสผ่านเก่า" v-model="opassword">
                            </div>
                            <div class="wrap-input">
                                <input type="password" placeholder="รหัสผ่านใหม่" v-model="npassword">
                            </div>
                            <div class="wrap-input">
                                <input type="password" placeholder="ยืนยันรหัสผ่าน" v-model="cpassword">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="d-flex flex-wrap justify-content-center wrap-btn-order">
                <a @click="Back()" class="btn btn-radius btn-lightGreen">
                    ย้อนกลับ
                </a>
                <button @click="changePassword()" class="btn btn-radius btn-darkGreen" :disabled="loadSave">
                    เปลี่ยนพาสเวิร์ด
                </button>
            </div>
        </div>

    </div>
</template>

<script>
    import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    export default {
        name: 'resetPassword',
        data() {
            return {
                loadSave: false,
                opassword: null,
                npassword: null,
                cpassword: null
            }
        },
        components: {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        computed: {
            getUser() {
                return this.$store.state.moduleUser.user;
            },
            getBannerByID() {
                let store = this.$store.getters.getBannerByID(9);
                return store;
            }
        },
        methods: {
            Back() {
                this.$router.back();
            },
            changePassword() {
                const vm = this;
                if (this.npassword == null || this.npassword == '' || this.npassword != this.cpassword) {
                    vm.$swal({
                        title: 'ล้มเหลว !',
                        text: 'รหัสผ่านใหม่ไม่ถูกต้อง',
                        type: 'error'
                    })
                    return false;
                }
                vm.$swal({
                    title: 'กรุณายืนยัน?',
                    text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        vm.loadSave = true;
                        axios.post('changePassword', {
                                params: {
                                    u_id: this.getUser.id,
                                    opassword: this.opassword,
                                    npassword: this.npassword,
                                    cpassword: this.cpassword
                                }
                            })
                            .then((res) => {
                                if (res.data.err) {
                                    vm.$swal({
                                        title: 'ล้มเหลว',
                                        type: 'error',
                                        text: 'รหัสผ่านไม่ถูกต้อง'
                                    })
                                } else {
                                    vm.$store.commit('setUser', res.data[0]);
                                    vm.$swal({
                                        title: 'สำเร็จ',
                                        type: 'success',
                                        text: 'แก้ไขสำเร็จ'
                                    })
                                }
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                this.opassword = null;
                                this.npassword = null;
                                this.cpassword = null;
                                vm.loadSave = false;
                            })
                    }
                });
            }
        }
    }

</script>

<style>

</style>
