<template>
    <div>
        <Banner-Header title="ค้นหา" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-8">
                        <div class="wrap-input-search">
                            <input type="text" class="form-group" v-model="searchText" placeholder="ค้นหา">
                            <div class="icon">
                                <i class="fal fa-search"></i>
                            </div>
                        </div>
                        <ul class="list-search" v-show="searchText != ''">
                            <li class="not-foud" v-show="filterCourse.length == 0 && filterExam.length == 0">
                                ไม่พบการผลการค้นหา "{{searchText}}"
                            </li>
                            <router-link tag="li" v-for="(item,i) in filterCourse" :key="i" :to="{name:'/CourseDetail/',params:{id:item.course_id}}">{{item.course_name}}</router-link>
                            <router-link tag="li" v-for="(item,j) in filterExam" :key="'a'+j" to="/Exam">{{item.ex_name}}</router-link>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    export default {
        components: {
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        data() {
            return {
                searchText: ''
            }
        },
        computed: {
            AllCourse() {
                let store = this.$store.state.moduleProduct.course;
                return store;
            },
            AllExam() {
                let store = this.$store.state.moduleProduct.exam;
                return store;
            },
            filterCourse() {
                return this.AllCourse.filter(post => {
                    return post.course_name.toLowerCase().includes(this.searchText.toLowerCase())
                })
            },
            filterExam() {
                return this.AllExam.filter(post => {
                    return post.ex_name.toLowerCase().includes(this.searchText.toLowerCase())
                })
            },
            getBannerByID() {
                let store = this.$store.getters.getBannerByID(3);
                return store;
            }
        }
    }

</script>

<style>

</style>
