<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <form @submit.prevent="next()">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-8">
                        <div class="wrap-borderLightGreen">
                            <h2 class="title">ข้อมูลผู้สมัคร</h2>
                            <div class="form-dataUser">
                                <div class="wrap-input">
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('email')">
                                            {{ errors.first('email') }}
                                        </div>
                                        <input type="text" placeholder="อีเมลล์" name="email" v-model="getUser.email"
                                            v-validate="'required|email'">
                                    </div>
                                </div>
                                <div class="wrap-input">
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('name_TH')">
                                            {{ errors.first('name_TH') }}
                                        </div>
                                        <input type="text" placeholder="ชื่อ-นามสกุล" name="name_TH" v-validate="'required'"
                                            v-model="getUser.name_TH">
                                    </div>
                                </div>
                                <div class="wrap-input">
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('name')">
                                            {{ errors.first('name') }}
                                        </div>
                                        <input type="text" placeholder="Fullname" name="name" v-validate="'required'"
                                            v-model="getUser.name">
                                    </div>
                                </div>
                                <div class="wrap-input">
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('birthday')">
                                            {{ errors.first('birthday') }}
                                        </div>
                                        <input type="date" placeholder="วันเดือนปี" name="birthday" v-validate="'required'"
                                            v-model="getUser.birthday">
                                    </div>
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('tel')">
                                            {{ errors.first('tel') }}
                                        </div>
                                        <input type="text" placeholder="เบอร์โทรศัพท์" name="tel" v-validate="'required|numeric'"
                                            v-model="getUser.tel">
                                    </div>
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('line_id')">
                                            {{ errors.first('line_id') }}
                                        </div>
                                        <input type="text" placeholder="ID Line" name="line_id" v-validate="'required'"
                                            v-model="getUser.line_id">
                                    </div>
                                </div>
                                <div class="wrap-input">
                                    <p class="mini-title">
                                        สถานะ1
                                    </p>
                                </div>
                                <div class="wrap-input">
                                    <div class="wrap-radio">
                                        <input type="radio" id="one" value="2" v-model="getUser.status">
                                        <label for="one">นิสิต/นักศึกษามหาวิทยาลัยเกษตร</label>
                                    </div>
                                    <div class="wrap-radio">
                                        <input type="radio" id="two" value="3" v-model="getUser.status">
                                        <label for="two">บุคลากรมหาวิทยาลัยเกษตร</label>
                                    </div>
                                    <div class="wrap-radio">
                                        <input type="radio" id="three" value="4" v-model="getUser.status">
                                        <label for="three">บุคคลทั่วไป</label>
                                    </div>
                                </div>
                                <div class="wrap-input">
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('address')">
                                            {{ errors.first('address') }}
                                        </div>
                                        <input type="text" placeholder="ที่อยู่" name="address" v-validate="'required'"
                                            v-model="getUser.address">
                                    </div>
                                </div>
                                <div class="wrap-input">
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('province')">
                                            {{ errors.first('province') }}
                                        </div>
                                        <select id="" v-model="getUser.province" name="province" v-validate="'required'">
                                            <option :value="null">จังหวัด</option>
                                            <option v-for="(p,i) in province" :key="i" :value="p.PROVINCE_ID">{{p.PROVINCE_NAME}}</option>
                                        </select>
                                    </div>
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('amphur')">
                                            {{ errors.first('amphur') }}
                                        </div>
                                        <select id="" v-model="getUser.amphur" name="amphur" v-validate="'required'">
                                            <option :value="null">เขต / อำเภอ</option>
                                            <option v-for="(a,i) in amphur.filter((q)=>q.PROVINCE_ID==getUser.province)"
                                                :key="i" :value="a.AMPHUR_ID">{{a.AMPHUR_NAME}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="wrap-input">
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('district')">
                                            {{ errors.first('district') }}
                                        </div>
                                        <select id="" v-model="getUser.district" name="district" v-validate="'required'">
                                            <option :value="null">แขวง / ตำบล</option>
                                            <option v-for="(d,i) in district.filter((q)=>q.AMPHUR_ID==getUser.amphur)"
                                                :key="i" :value="d.DISTRICT_ID">{{d.DISTRICT_NAME}}</option>
                                        </select>
                                    </div>
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('code')">
                                            {{ errors.first('code') }}
                                        </div>
                                        <input type="text" v-model="getUser.code" placeholder="รหัสไปรษณีย์" name="code"
                                            v-validate="'required|numeric'">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="title" style="font-size:16px;">ที่อยู่่ที่ต้องการให้ออกใบเสร็จ</p>
                                    <input type="checkbox" value="1" v-model="getUser.slip_type" id="four">
                                    <label for="four">ใช้ที่อยู่ปัจจุบัน</label>
                                </div>
                                <div class="wrap-input" v-if="!getUser.slip_type">
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('address_slip')">
                                            {{ errors.first('address_slip') }}
                                        </div>
                                        <input type="text" placeholder="ที่อยู่" name="address_slip" v-validate="'required'"
                                            v-model="getUser.address_slip">
                                    </div>
                                </div>
                                <div class="wrap-input" v-if="!getUser.slip_type">
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('prov_slip')">
                                            {{ errors.first('prov_slip') }}
                                        </div>
                                        <select id="" v-model="getUser.prov_slip" name="prov_slip" v-validate="'required'">
                                            <option :value="null">จังหวัด</option>
                                            <option v-for="(p,i) in province" :key="i" :value="p.PROVINCE_ID">{{p.PROVINCE_NAME}}</option>
                                        </select>
                                    </div>
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('amph_slip')">
                                            {{ errors.first('amph_slip') }}
                                        </div>
                                        <select id="" v-model="getUser.amph_slip" name="amph_slip" v-validate="'required'">
                                            <option :value="null">เขต / อำเภอ</option>
                                            <option v-for="(a,i) in amphur.filter((q)=>q.PROVINCE_ID==getUser.prov_slip)"
                                                :key="i" :value="a.AMPHUR_ID">{{a.AMPHUR_NAME}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="wrap-input" v-if="!getUser.slip_type">
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('dist_slip')">
                                            {{ errors.first('dist_slip') }}
                                        </div>
                                        <select id="" v-model="getUser.dist_slip" name="dist_slip" v-validate="'required'">
                                            <option :value="null">แขวง / ตำบล</option>
                                            <option v-for="(d,i) in district.filter((q)=>q.AMPHUR_ID==getUser.amph_slip)"
                                                :key="i" :value="d.DISTRICT_ID">{{d.DISTRICT_NAME}}</option>
                                        </select>
                                    </div>
                                    <div class="d-flex flex-column w-100">
                                        <div class="err_valid" v-if="errors.has('code_slip')">
                                            {{ errors.first('code_slip') }}
                                        </div>
                                        <input type="text" v-model="getUser.code_slip" placeholder="รหัสไปรษณีย์" name="code_slip"
                                            v-validate="'required|numeric'">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <payment-card :price="ExamPrice" :discount="false" :update="true" :typePrice="1"></payment-card>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="d-flex flex-wrap justify-content-center wrap-btn-order">
                    <a @click="Back()" class="btn btn-radius btn-lightGreen">
                        ย้อนกลับ
                    </a>
                    <button type="submit" class="btn btn-radius btn-darkGreen">
                        ดำเนินการต่อ
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    import PaymentCard from '../components/PaymentCard'
    export default {
        name: 'dataUserFormUnknow',
        components: {
            'payment-card': PaymentCard,
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        computed: {
            getUser() {
                return this.$store.state.moduleUser.user;
            },
            getBannerByID() {
                let store = this.$store.getters.getBannerByID(9);
                return store;
            },
            ExamPrice() {
                let selectedexam = this.$store.state.moduleProduct.examselected;
                let exambyid = this.$store.getters.getEdit_Exam(selectedexam);
                if (exambyid == undefined) {
                    this.$router.push('/Home');
                }
                return exambyid.ex_price;
            },
            province() {
                let store = this.$store.state.moduleAddress.province;
                return store;
            },
            district() {
                let store = this.$store.state.moduleAddress.district;
                return store;
            },
            amphur() {
                let store = this.$store.state.moduleAddress.amphur;
                return store;
            }
        },
        methods: {
            Back() {
                this.$router.back();
            },
            next() {
                const vm = this;
                vm.$validator.validate().then(valid => {
                    if (valid) {
                        let store = vm.$store.commit('setUser', vm.getUser);
                        let router = vm.$router.push('HowPaymentExam');
                    } else {}
                });

            }
        }
    }

</script>

<style>
    .w-100 {
        width: 100%;
    }

</style>
