<template>
    <div>
        <Banner-Header :title="getBannerByID.banner_title" :subtitle="getBannerByID.banner_subtitle" :image="getBannerByID.banner_img"></Banner-Header>
        <Breadcrumb-Header></Breadcrumb-Header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wrap-profile">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p>อีเมล์: {{getUser.email}}</p>
                            </div>
                            <router-link tag="a" to="/EditProfile" class="c-lightGreen">
                                แก้ไขข้อมมูล
                            </router-link>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                               <p>ชื่อ {{getUser.name_TH}} ( {{getUser.name}} )</p>
                            </div>
                            <router-link tag="a" to="/resetPassword" class="c-lightGreen">
                                เปลี่ยนรหัสผ่าน
                            </router-link>
                        </div>
                        <div>
                            <p>
                                วัน/เดือนปี/เกิด {{getUser.birthday}}
                            </p>
                        </div>
                        <div>
                            <p>เบอร์โทรศัพท์: {{getUser.tel}}</p>
                        </div>
                        <div>
                            <p>ID Line: {{getUser.line_id}}</p>
                        </div>
                        <div>
                            <p v-if="getUser.status==2">สถานะ: นิสิต/นักศึกษามหาวิทยาลัยเกษตร</p>
                            <p v-else-if="getUser.status==3">สถานะ: บุคลากรมหาวิทยาลัยเกษตร</p>
                            <p v-else-if="getUser.status==4">สถานะ: บุคคลทั่วไป</p>
                        </div><br><br>
                        <div>
                            <p>ที่อยู่ปัจจุบัน: {{getUser.address}}
                                {{getAddress(getUser.province,getUser.amphur,getUser.district)}} {{getUser.code}}</p>
                        </div>
                        <div>
                            <p v-if="getUser.slip_type==0">ที่อยู่ที่ต้องการให้ออกใบเสร็จ: {{getUser.address_slip}}
                                {{getAddress(getUser.prov_slip,getUser.amph_slip,getUser.dist_slip)}} {{getUser.code_slip}}
                            </p>
                            <p v-else-if="getUser.slip_type==1">ที่อยู่ที่ต้องการให้ออกใบเสร็จ: {{getUser.address}}
                                {{getAddress(getUser.province,getUser.amphur,getUser.district)}} {{getUser.code}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h4 class="title-profile">
                        ประวัติการชำระเงิน
                    </h4>
                    <h6>
                        -คอร์ส
                    </h6>
                    <div v-for="(item,i) in orderByUser.filter((q)=>q.order_type == 2)" :key="i" class="profile-history">
                        <div class="profile-history-list">
                            <p class="title">
                                {{item.order_code}}
                            </p>
                            <p class="date c-lightGreen">
                                {{item.created_at}}
                            </p>
                            <p class="price">
                                <span>ยอดสุทธิ</span>
                                <span>{{formatMoney(item.order_price-item.order_discount)}} บาท</span>
                            </p>
                            <p class="price">
                                <span>ส่วนลด</span>
                                <span>{{formatMoney(item.order_discount)}} บาท</span>
                            </p>
                            <div class="profile-history-toggle">
                                <i class="fal fa-angle-down"></i>
                            </div>
                        </div>
                        <ul class="basket-list">
                            <li v-for="(detail,j) in courseDetail.filter((q)=>q.order_id == item.order_id)" :key="j">
                                <div class="basket-list-card">
                                    <figure class='basket-list-img'>
                                        <img v-if="detail.course_img!=null" :src="'/CoursePicture/'+detail.course_img"
                                            alt="">
                                        <img v-else src="/img/default-img.png">
                                    </figure>
                                    <div class="basket-list-text">
                                        <h5 class="title">{{detail.course_name}}</h5>
                                        <p class="date c-lightGreen">{{formatDateTo(detail.course_datestart,detail.course_dateend)}}1</p>
                                    </div>
                                    <div class="basket-list-price">
                                        <p class="c-red">{{formatMoney(detail.course_price)}} บาท</p>
                                    </div>

                                </div>

                            </li>
                        </ul>
                    </div>
                    <h6>
                        -ทดสอบหลักสูตร
                    </h6>
                    <div v-for="(exam,i) in orderByUser.filter((q)=>q.order_type == 1)" :key="'a'+i" class="profile-history">
                        <div class="profile-history-list">
                            <p class="title">
                                {{exam.order_code}}
                            </p>
                            <p class="title">
                                {{ExamDetail.find((q)=>q.order_id == exam.order_id).ex_name}}
                            </p>
                            <p class="date c-lightGreen">
                                {{exam.created_at}}
                            </p>
                            <p class="price">
                                <span>ยอดสุทธิ</span>
                                <span>{{formatMoney(exam.order_price-exam.order_discount)}} บาท</span>
                            </p>
                            <div class="profile-history-toggle">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Banner from '../components/Banner'
    import Breadcrumb from '../components/Breadcrumb'
    import PaymentCard from '../components/PaymentCard'
    import Mixin from '../../mixin/'
    export default {
        name: 'Profile',
        data() {
            return {

            }
        },
        components: {
            'payment-card': PaymentCard,
            'Banner-Header': Banner,
            'Breadcrumb-Header': Breadcrumb
        },
        computed: {
            User() {
                return this.$auth.user();
            },
            orderByUser() {
                let store = this.$store.getters.orderByUser(this.User.id);
                return store;
            },
            courseDetail() {
                let store = this.$store.state.moduleProduct.orderDetail;
                return store.course;
            },
            ExamDetail() {
                let store = this.$store.state.moduleProduct.orderDetail;
                return store.exam;
            },
            getBannerByID() {
                let store = this.$store.getters.getBannerByID(9);
                return store;
            },
            getUser() {
                return this.$store.state.moduleUser.user;
            },
            province() {
                let store = this.$store.state.moduleAddress.province;
                return store;
            },
            district() {
                let store = this.$store.state.moduleAddress.district;
                return store;
            },
            amphur() {
                let store = this.$store.state.moduleAddress.amphur;
                return store;
            }
        },
        mixins: [Mixin],
        methods: {
            getAddress(p, a, d) {
                if (p == null || a == null || d == null) {
                    return " ";
                } else {
                    let prov = this.province.find((q) => q.PROVINCE_ID == p);
                    let amph = this.amphur.find((q) => q.AMPHUR_ID == a);
                    let dist = this.district.find((q) => q.DISTRICT_ID == d);
                    if (p == 1) {
                        return dist.DISTRICT_NAME + " " + amph.AMPHUR_NAME + " " + prov.PROVINCE_NAME;
                    } else {
                        return "ต." + dist.DISTRICT_NAME + " อ." + amph.AMPHUR_NAME + " จ." + prov.PROVINCE_NAME;
                    }
                }

            },
            formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;
                    const negativeSign = amount < 0 ? "-" : "";
                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;
                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g,
                        "$1" + thousands);
                } catch (e) {}
            },
            togglebox() {
                const $profileHistoryList = $('.profile-history-list'),
                    $basketList = $('.basket-list');
                $profileHistoryList.click(function (e) {
                    $basketList.removeClass('active');
                    $profileHistoryList.removeClass('active');
                    $(this).addClass('active');
                    $(this).next().addClass('active');
                });
            }
        },
        mounted() {
            this.$nextTick(function () {

            })
        },
        updated() {
            console.log('updateddd');
            const vm = this;
            vm.togglebox();
        }
    }

</script>

<style>

</style>
