<template>
    <v-flex>
        <v-layout row mt-3 align-center>
            <v-toolbar-title>รายการทดสอบหลักสูตร</v-toolbar-title>
        </v-layout>
        <v-layout row justify-center mt-4>
            <v-flex lg12 xl12>
                <v-data-table :headers="headers" :items="order" class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td class="text-lg-center">{{ props.item.order_code }}</td>
                        <td class="text-lg-center">{{ orderDetail.find((q)=>q.order_id == props.item.order_id).ex_name
                            }}</td>
                        <td class="text-lg-center">{{ props.item.order_price }} บาท</td>
                        <td class="text-lg-center">{{ props.item.u_name }}</td>
                        <td class="text-lg-center">{{ props.item.created_at }}</td>
                        <td class="text-lg-center">
                            <p v-if="props.item.order_status == 0">รอชำระเงิน</p>
                            <p v-else-if="props.item.order_status == 1">ชำระเงินแล้ว</p>
                        </td>
                        <td class="text-lg-center">
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-btn slot="activator" outline color="teal" small @click="showList(props.item.order_id)">
                                    <v-icon>list</v-icon>
                                </v-btn>
                                <span>Detail</span>
                            </v-tooltip>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'orderExam',
        computed: {
            order() {
                let store = this.$store.getters.orderExam;
                return store;
            },
            orderDetail() {
                let store = this.$store.state.moduleProduct.orderDetail;
                return store.exam;
            }
        },
        data() {
            return {
                headers: [{
                        text: 'Order Code',
                        align: 'center',
                        sortable: true,
                        value: 'order_code'
                    },
                    {
                        text: 'ชื่อวิชา',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'ยอดรวม',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'ผู้สั่ง',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'วันที่',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'สถานะ',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'อื่นๆ',
                        align: 'center',
                        sortable: false,
                    }
                ],
            }
        },
        methods: {
            showList(order_id) {
                this.$router.push({
                    name: '/admin/OrderDetail',
                    params: {
                        id: order_id
                    }
                })
            }
        }
    }

</script>

<style>

</style>
