<template>
    <v-flex>
        <v-layout row mt-3 align-center>
            <v-toolbar-title>
                สไลเดอร์แบนเนอร์
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="teal darken-3" dark to="/admin/PageManage/Home/NewSlider">
                <v-icon>add</v-icon>
                เพิ่มสไลด์
            </v-btn>
        </v-layout>
        <v-layout row justify-center mt-2>
            <v-flex lg12 xl10>
                <ul>
                    <draggable v-model="getSlider">
                        <transition-group>
                            <li class="list_sli" v-for="element in getSlider" :key="element.sli_id">
                                <div>
                                    <v-icon>open_with</v-icon>
                                </div>
                                <div class="l_img">
                                    <img v-if="element.sli_img != null" :src="'/SliderPicture/'+element.sli_img">
                                    <img v-else src="https://via.placeholder.com/1920x510">
                                </div>
                                <div>
                                    {{ element.sli_name }}
                                </div>
                                <div>
                                    {{element.sli_name}}
                                </div>
                                <div>
                                    <strong class="red" v-if="element.sli_status == 0">ไม่เผยแพร่</strong>
                                    <strong class="green" v-else>เผยแพร่</strong>
                                </div>
                                <div>
                                    <v-icon @click="editItem(element.sli_id)">
                                        edit
                                    </v-icon>
                                    <v-icon @click="deleteItem(element.sli_id)">
                                        delete
                                    </v-icon>
                                </div>
                            </li>
                        </transition-group>
                    </draggable>
                </ul>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
    import draggable from 'vuedraggable'
    export default {
        name: 'HomePageManage',
        components: {
            draggable
        },
        data() {
            return {
                dialog: false,
            }
        },
        computed: {
            getSlider: {
                get() {
                    let store = this.$store.state.moduleContent.slider;
                    return store;
                },
                set(value) {
                    this.$store.commit('updateList', value)
                }
            }
        },
        methods: {
            async ClearForm() {
                this.newForm.code = await null;
                this.newForm.type = await 1;
                this.newForm.discount = await null;
                this.newForm.datestart = await null;
                this.newForm.dateend = await null;
                this.newForm.status = await 0;
                let Clear = await this.$validator.errors.clear();
                this.dialog = await false;
            },
            deleteItem(id) {
                const vm = this;
                vm.$swal({
                    title: 'คุณแน่ใจที่จะลบ?',
                    text: 'เมื่อลบแล้วไม่สามารถกู้ข้อมูลกลับมาได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('DeleteSlider/' + id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$store.dispatch('getAllSlider');
                            })
                    }
                });
            },
            editItem(id) {
                this.$router.push({
                    name: '/admin/PageManage/Home/EditSlider',
                    params: {
                        id: id
                    }
                })
            }
        }
    }

</script>

<style lang="scss">
    .list_sli {
        background: white;
        display: flex;
        align-items: center;
        padding: 15px 25px;
        border: 1px solid #e5e5e5;
        cursor:move;
        >* {
            width: 20%;
            display: block;
            display: flex;
            justify-content: center;
        }
        .red {
            background: white !important;
            color: red;
        }

        .green {
            background: white !important;
            color: green;
        }
    }

    .l_img {
        display: flex;
        align-items: center;
        >img {
            max-width: 100%;
            height: auto;
        }
    }

</style>
