<template>
    <v-flex lg12 xl8>
        <v-container>
            <v-layout justify-start>
                <h2>
                    <v-icon>add_circle</v-icon>
                    เพิ่มข่าวเเละกิจกรรม
                </h2>
            </v-layout>
            <v-layout justify-center mt-5>
                <!-- file -->
                <v-flex class="main_file" lg6>
                    <img :src="main_img" class="n_img" v-tooltip="'Click to upload !'" onclick="mainmodal_file.click()">
                    <input accept="image/*" type="file" name="main_file" id="mainmodal_file" style="display:none"
                        v-on:change="onFileChange" ref="main_file">
                </v-flex>
            </v-layout>
            <v-layout mt-4>
                <v-flex lg3>
                    <v-subheader>ชื่อสไลเดอร์ : </v-subheader>
                </v-flex>
                <v-flex lg9>
                    <v-text-field solo v-model="newForm.name" v-validate="'required'" :error-messages="errors.collect('newForm.name')"
                        data-vv-name="newForm.name"></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex lg3>
                    <v-subheader>ข้อความหลัก : </v-subheader>
                </v-flex>
                <v-flex lg9>
                    <v-text-field solo v-model="newForm.title"></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex lg3>
                    <v-subheader>ข้อความย่อย : </v-subheader>
                </v-flex>
                <v-flex lg9>
                    <v-text-field solo v-model="newForm.subtitle"></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex lg3>
                    <v-subheader>ข้อความส่วนหัว : </v-subheader>
                </v-flex>
                <v-flex lg9>
                    <v-text-field solo v-model="newForm.headtitle"></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex lg3>
                    <v-subheader>สถานะ : </v-subheader>
                </v-flex>
                <v-flex lg9>
                    <v-select solo :items="[{name:'ไม่เผยแพร่',value :0},{name:'เผยแพร่',value :1}]"
                    item-text="name" item-value="value" v-model="newForm.status" hide-details></v-select>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex lg12>
                    <v-checkbox :label="`Button 1`" v-model="checkbox1"></v-checkbox>
                </v-flex>
            </v-layout>
            <v-layout v-show="checkbox1" justify-space-around>
                <v-flex lg8>
                    <v-text-field solo label="link Button" hide-details v-model="newForm.btn1_link"></v-text-field>
                </v-flex>
                <v-flex lg3>
                    <v-text-field solo label="title Button" hide-details  v-model="newForm.btn1_text"></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex lg12>
                    <v-checkbox :label="`Button 2`" v-model="checkbox2"></v-checkbox>
                </v-flex>
            </v-layout>
            <v-layout v-show="checkbox2" justify-space-around>
                <v-flex lg8>
                    <v-text-field solo label="link Button" hide-details  v-model="newForm.btn2_link"></v-text-field>
                </v-flex>
                <v-flex lg3>
                    <v-text-field solo label="title Button" hide-details  v-model="newForm.btn2_text"></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout mt-4>
                <v-spacer></v-spacer>
                <v-btn color="red darken-3" small @click="ClearForm()" dark>
                    กลับ
                </v-btn>
                <v-btn color="grey darken-3" small @click="AddSlider()" dark :loading="loadSave">
                    เพิ่ม
                </v-btn>
            </v-layout>
        </v-container>
    </v-flex>
</template>

<script>
    export default {
        name: 'NewSlider',
        $_veeValidate: {
            validator: 'new'
        },
        data() {
            return {
                main_img: 'https://via.placeholder.com/1920x510',
                main_file: null,
                newForm: {
                    title: null,
                    subtitle: null,
                    headtitle: null,
                    btn1_link: null,
                    btn1_text: null,
                    btn2_link: null,
                    btn2_text: null,
                    status : 1,
                    name : null
                },
                checkbox1: false,
                checkbox2: false,
                loadSave : false
            }
        },
        methods: {
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
                this.main_file = e.target.files[0];
            },
            createImage(file) {
                var vm = this;
                vm.main_img = new Image();
                var reader = new FileReader();
                reader.onload = (e) => {
                    vm.main_img = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            async ClearForm() {
                this.newForm.name = await null;
                this.newForm.title = await null;
                this.newForm.subtitle = await null;
                this.newForm.headtitle = await null;
                this.newForm.btn1_link = await null;
                this.newForm.btn1_text = await null;
                this.newForm.btn2_link = await null;
                this.newForm.btn2_text = await null;
                this.newForm.status = await 0;
                this.main_img = await 'https://via.placeholder.com/1920x510'
                this.main_file = await null
                this.loadSave = await false
                let Clear = await this.$validator.errors.clear();
                this.$router.back();
            },
            AddSlider() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยัน?',
                            text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                vm.loadSave = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'content-type': 'multipart/form-data'
                                    }
                                }
                                fd.append('file', vm.main_file);
                                fd.append('form', JSON.stringify(vm.newForm));
                                axios.post('AddNewSlider', fd, config)
                                    .then((res) => {
                                        vm.$swal({
                                            title: 'สำเร็จ',
                                            type: 'success',
                                            text: 'เพิ่มสำเร็จ'
                                        })
                                    })
                                    .catch((err) => {
                                        vm.$swal({
                                            title: 'ล้มเหลว',
                                            type: 'error',
                                            text: err
                                        })
                                    })
                                    .then(() => {
                                        vm.loadSave = false;
                                        vm.$store.dispatch('getAllSlider');
                                        vm.ClearForm();
                                    })
                            }
                        });
                    }
                });
            }
        }
    }

</script>

<style lang="scss">
    .v-subheader {
        color: black !important;
    }

    .main_file {
        >img {
            display: block;
            max-width: 100%;
            height: auto;
            cursor: pointer;
        }
    }

</style>
