<template>
    <v-flex>
        <v-layout row mt-3 align-center>
            <v-toolbar-title>รายการสั่งซื้อคอร์ส</v-toolbar-title>
        </v-layout>
        <v-layout row justify-center mt-4>
            <v-flex lg12 xl12>
                <v-data-table :headers="headers" :items="order" class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td class="text-lg-center">{{ props.item.order_code }}</td>
                        <td class="text-lg-center">{{ props.item.order_price-props.item.order_discount }} บาท</td>
                        <td class="text-lg-center">{{ props.item.order_price }} บาท</td>
                        <td class="text-lg-center">{{ props.item.order_discount }} บาท</td>
                        <td class="text-lg-center">{{ props.item.u_name }}</td>
                        <td class="text-lg-center">{{ props.item.created_at }}</td>
                        <td class="text-lg-center">
                            <label v-if="props.item.order_status == 0">รอชำระเงิน</label>
                            <label v-else-if="props.item.order_status == 1">ชำระเงินแล้ว</label>
                        </td>
                        <td class="text-lg-center">
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-btn slot="activator" outline color="teal" small @click="showList(props.item.order_id)">
                                    <v-icon>list</v-icon>
                                </v-btn>
                                <span>Detail</span>
                            </v-tooltip>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'orderCourse',
        computed: {
            order() {
                let store = this.$store.getters.orderCourse;
                return store;
            }
        },
        data() {
            return {
                headers: [{
                        text: 'Order Code',
                        align: 'center',
                        sortable: true,
                        value: 'order_code'
                    },
                    {
                        text: 'ยอดรวม',
                        sortable: false,
                        align: 'center'
                    },
                    {
                        text: 'ยอดสั่งซื้อ',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'ส่วนลด',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'ผู้สั่ง',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'วันที่',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'สถานะ',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text: 'อื่นๆ',
                        align: 'center',
                        sortable: false
                    }
                ],
            }
        },
        methods: {
            showList(order_id) {
                this.$router.push({ name: '/admin/OrderDetail', params: { id: order_id } })
            }
        }
    }

</script>

<style lang="scss">
.elevation-1 {
    td {
        >.img-table {
            display: block;
            max-width: 100px;
            height: auto;
        }
    }
}
</style>
