<template>
    <v-flex lg12 xl8>
        <v-container fluid>
            <v-layout justify-start>
                <h2>
                    <v-icon>add_circle</v-icon>
                    เพิ่มข่าวเเละกิจกรรม
                </h2>
            </v-layout>
            <v-layout justify-center px-5 mt-5>
                <!-- file -->
                <v-flex class="main_file" lg6>
                    <img :src="main_img" class="n_img" v-tooltip="'Click to upload !'" onclick="mainmodal_file.click()">
                    <input accept="image/*" type="file" name="main_file" id="mainmodal_file" style="display:none"
                        v-on:change="onFileChange" ref="main_file">
                </v-flex>
            </v-layout>
            <v-layout justify-center px-5 mt-3>
                <v-flex lg2>
                    <v-subheader>
                        หัวข้อ :
                    </v-subheader>
                </v-flex>
                <v-flex lg10>
                    <v-text-field solo v-model="newForm.name" v-validate="'required'" :error-messages="errors.collect('newForm.name')"
                        data-vv-name="newForm.name"></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout justify-center px-5 style="margin-bottom:28px;">
                <v-flex lg2>
                    <v-subheader>
                        รายละเอียด :
                    </v-subheader>
                </v-flex>
                <v-flex lg10>
                    <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config" v-model="newForm.text"></editor-tiny>
                </v-flex>
            </v-layout>
            <v-layout justify-center px-5>
                <v-flex lg2>
                    <v-subheader>
                        สถานะ :
                    </v-subheader>
                </v-flex>
                <v-flex lg10>
                    <v-select :items="[{name:'ไม่เผยแพร่',value:0},{name:'เผยแพร่',value:1}]" solo item-text="name" item-value="value"
                    v-model="newForm.status" v-validate="'required'" :error-messages="errors.collect('newForm.status')"
                        data-vv-name="newForm.status" label="กรุณาเลือกสถานะ"></v-select>
                </v-flex>
            </v-layout>
            <v-layout justify-end>
                <v-btn color="red darken-3" dark @click="ClearForm()">กลับ</v-btn>
                <v-btn color="grey darken-3" dark @click="AddForm()" :loading="loadSave">เพิ่ม</v-btn>
            </v-layout>
        </v-container>
    </v-flex>
</template>

<script>
    import Editor from '@tinymce/tinymce-vue';
    export default {
        name: 'NewBlog',
        $_veeValidate: {
            validator: 'new'
        },
        components: {
            'editor-tiny': Editor
        },
        data() {
            return {
                edit_config: {
                    plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor colorpicker textpattern"
                    ],
                    relative_urls: false,
                    file_browser_callback: function (field_name, url, type, win) {
                        var x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName(
                            'body')[0].clientWidth;
                        var y = window.innerHeight || document.documentElement.clientHeight || document.getElementsByTagName(
                            'body')[0].clientHeight;
                        var cmsURL = '/laravel-filemanager?field_name=' + field_name;
                        if (type == 'image') {
                            cmsURL = cmsURL + "&type=Images";
                        } else {
                            cmsURL = cmsURL + "&type=Files";
                        }
                        tinyMCE.activeEditor.windowManager.open({
                            file: cmsURL,
                            title: 'Filemanager',
                            width: x * 0.8,
                            height: y * 0.8,
                            resizable: "yes",
                            close_previous: "no"
                        });
                    },
                    toolbar: 'forecolor backcolor fontsizeselect | undo redo | styleselect | alignleft aligncenter alignright | bold italic | bullist numlist | link image',
                    fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
                    height: "300"
                },
                main_img: '/img/default-img.png',
                main_file: null,
                loadSave: false,
                newForm: {
                    name: null,
                    text: '',
                    status : 1
                }
            }
        },
        methods: {
            AddForm() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยันเพิ่มข่าว?',
                            text: 'ตรวจสอบความถูกต้องของข่าวและกิจกรรมให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                vm.loadSave = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'content-type': 'multipart/form-data'
                                    }
                                }
                                fd.append('file', vm.main_file);
                                fd.append('form', JSON.stringify(vm.newForm));
                                axios.post('AddNewBlog', fd, config)
                                    .then((res) => {
                                        vm.$swal({
                                            title: 'สำเร็จ',
                                            type: 'success',
                                            text: 'เพิ่มข่าวและกิจกรรมสำเร็จ'
                                        })
                                    })
                                    .catch((err) => {
                                        vm.$swal({
                                            title: 'ล้มเหลว',
                                            type: 'error',
                                            text: err
                                        })
                                    })
                                    .then(() => {
                                        vm.loadSave = false;
                                        vm.$store.dispatch('getAllNews');
                                        vm.ClearForm();
                                    })
                            }
                        });
                    }
                });
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
                this.main_file = e.target.files[0];
            },
            createImage(file) {
                var vm = this;
                vm.main_img = new Image();
                var reader = new FileReader();
                reader.onload = (e) => {
                    vm.main_img = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            async ClearForm() {
                this.newForm.name = await null;
                this.newForm.text = await '';
                this.newForm.status = await 1;
                this.main_img = await '/img/default-img.png'
                this.main_file = await null
                this.loadSave = await false
                let Clear = await this.$validator.errors.clear();
                this.$router.back();
            },
        }
    }

</script>

<style lang="scss">
    .v-subheader {
        color: black !important;
    }

    .main_file {
        >img {
            display: block;
            max-width: 100%;
            height: auto;
            cursor: pointer;
        }
    }

</style>
