<template>
    <v-flex>
        <v-layout row mt-3 align-center>
            <v-toolbar-title>
                <h3 class="headline mb-0">ข่าวสารและกิจกรรม</h3>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="red darken-3" dark to="/admin/PageManage/NewBlog">
                <v-icon>add</v-icon>
                เพิ่มข่าวสารและกิจกรรม
            </v-btn>
        </v-layout>
        <v-layout row justify-center mt-4>
            <v-flex lg12 xl10>
                <v-data-table :headers="headers" :items="getAllNews" class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td class="text-lg-center">{{ props.item.nt_name }}</td>
                        <td class="text-lg-center">{{ props.item.created_at }}</td>
                        <td class="text-lg-center">
                            <strong v-if="props.item.nt_status == 0" class="red">ไม่เผยแพร่</strong>
                            <strong v-else class="green">เผยแพร่</strong>
                        </td>
                        <td class="text-lg-center">
                            <v-icon class="mr-2" @click="editItem(props.item.nt_id)">
                                edit
                            </v-icon>
                            <v-icon @click="deleteItem(props.item.nt_id)">
                                delete
                            </v-icon>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        name: 'NewsPageManage',
        data() {
            return {
                headers: [{
                        text: 'หัวข้อ',
                        value: 'nt_name',
                        align: 'center'
                    },
                    {
                        text: 'วันที่สร้าง',
                        align: 'center',
                        value: 'created_at'
                    },
                    {
                        text: 'สถานะ',
                        align: 'center',
                        value: 'nt_status'
                    },
                    {
                        text: 'อื่นๆ',
                        sortable: false,
                        align: 'center'
                    },
                ],
                editToggle: false,
                editForm: {
                    img: null,
                    name: null,
                    text: null,
                },
                file: null,

            }
        },
        computed: {
            getAllNews() {
                let store = this.$store.state.moduleContent.news;
                return store;
            }
        },
        methods: {
            deleteItem(id) {
                const vm = this;
                vm.$swal({
                    title: 'คุณแน่ใจที่จะลบ?',
                    text: 'เมื่อลบแล้วไม่สามารถกู้ข้อมูลกลับมาได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('DeleteBlog/' + id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                this.$store.dispatch('getAllNews');
                            })
                    }
                });
            },
            editItem(id) {
                this.$router.push({
                    name: '/admin/PageManage/EditBlog',
                    params: {
                        id: id
                    }
                })
            }
        }
    }

</script>

<style>
    .red{
        color: red;
        background-color: inherit!important;
    }
    .green {
        color: green;
        background-color: inherit!important;
    }
</style>
